@* @namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div style="margin-top:1rem">
		@if (_isLoading)
		{
			<TucSkeletonMenu HasIcon=false IsAside=true BackgroundColor="var(--tf-fill-color-hover)" />
		}
		else if(_items.Count > 0)
		{
			<TucAsideMenu Items="_items"/>
		}
		else
		{
			<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Info">
				@LOC("No users match your query")
			</FluentMessageBar>
		}
	</div>
</TucErrorBoundry> *@