@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<div style="padding:var(--tf-padding)">
	<FluentMessageBar AllowDismiss="false" Title="@LOC("Tefter not configured yet")">
		@LOC("Your administrator has not configured the system yet. Please check back in several minutes");
	</FluentMessageBar>
</div>

