::deep fluent-button{
	width:100%;
}

::deep.align-left fluent-button::part(control) {
	justify-content:start !important;
}

::deep.no-border fluent-button::part(control) {
	border:none;
}


::deep.no-border:hover fluent-button{
	background:var(--datagrid-hover-color, var(--neutral-fill-stealth-hover)) !important;
}