@namespace WebVella.Tefter.UI.Components
<ErrorBoundary>
	<ChildContent>
		@ChildContent
	</ChildContent>
	<ErrorContent>
		<div style="color:var(--error);" title="@context.Message">error!</div>
		<table style="display: none">@context.StackTrace</table>
	</ErrorContent>
</ErrorBoundary>


@code {
	[Parameter] public RenderFragment ChildContent { get; set; }
}