@namespace WebVella.Tefter.Talk.Addons
@inherits TfBaseComponent
<TfLayoutBodyMain>
	<Header>
		<TfPageHeader>@LOC("Talk Dashboard")</TfPageHeader>
	</Header>
	<ChildContent>
		<FluentMessageBar Title="Under Construction" AllowDismiss="false"
						  Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
			<div>TBD: Talk dashboard with general information centered around the user</div>
		</FluentMessageBar>
	</ChildContent>
</TfLayoutBodyMain>