@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div class="tf-sidetoolbar" style="padding:var(--tf-layout-content-padding);">
		<div class="tf-sidetoolbar__search">
			<FluentSearch Class="search" Placeholder="@LOC("search...")" Immediate="true" ImmediateDelay="700" Value=@_search
						  ValueChanged="onSearch" AutoComplete="off" />
		</div>
		<div class="tf-sidetoolbar__actions">
			<FluentButton Title="@LOC("Create a new dataset")" OnClick="addSpaceData" 
				Appearance="@Appearance.Outline">
				@LOC("New Dataset")
			</FluentButton>
		</div>
	</div>
</TucErrorBoundry>