@using WebVella.Tefter.Web.Components
@namespace WebVella.Tefter.Seeds.SampleTemplateProcessor.Addons
@inherits TfBaseComponent

<div>
	<p>Sample content processor which scramples provided text content.</p>
</div>

