.content-toolbar {
	display: flex;
	justify-content: space-between;
}

.content-toolbar-left,
.content-toolbar-right {
	flex: 0 0 auto;
	height: 40px;
	display: inline-flex;
	align-items: center;
}

::deep .content-toolbar-left > * {
	margin-right: 5px;
}

.content-toolbar-right {
	justify-content: end;
}

::deep .content-toolbar-right > * {
	margin-left: 5px;
}


::deep fluent-search::part(root) {
	border-color: var(--neutral-stroke-rest);
	background:var(--neutral-fill-input-focus);
}

::deep fluent-badge::part(control) {
	background:var(--accent-base-color);
	color:rgba(255,255,255,0.75);
}

::deep fluent-search::part(start) {
	color:var(--neutral-stroke-hover);
}