@if(!_visible){}
else if (ShowTop)
{
	<div class="loading loading-top">
		<FluentProgress Width="100%" />
	</div>
}
else
{
	<div class="loading">
		<FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
			Loading...<br />
			<FluentProgress Width="100%" />
		</FluentStack>
	</div>
}

@code {
	[Parameter] public bool ShowTop { get; set; } = false;
	private bool _visible = false;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);
		if (firstRender)
		{
			await Task.Delay(1000);
			_visible = true;
			await InvokeAsync(StateHasChanged);

		}
	}
}