@namespace WebVella.Tefter.UI.Addons
@inherits TfLocalizedViewColumnComponent

<div>
	<FluentNumberField TValue="short?"
	                   Id="@_valueInputId"
	                   @bind-Value="@_value"
	                   @bind-Value:after="_valueChanged"
	                   Step="1"
	                   Style="width:100%;min-width:80px;" AutoComplete="off" 
	                   Min="@(short.MinValue.ToString())"
	                   Max="@(short.MaxValue.ToString())" />	
</div>


