
fluent-anchored-region fluent-menu,
fluent-anchored-region .tf-select-menu {
	--neutral-layer-floating: oklch(98.5% 0 0);
}

fluent-anchored-region fluent-menu-item {
	--neutral-foreground-rest: oklch(27.4% .006 286.033);
	--neutral-fill-stealth-hover: oklch(92% .004 286.32);
}

fluent-anchored-region fluent-divider {
	--neutral-stroke-divider-rest: oklch(87.1% .006 286.286);
}
