@import '../variables.less';
@import 'fluent.less';

fluent-anchored-region .tf-select-menu,
fluent-anchored-region fluent-menu {
	--neutral-layer-floating: var(--tf-zinc-100);
}

fluent-anchored-region fluent-menu-item {
	--neutral-foreground-rest: var(--tf-zinc-800);
	--neutral-fill-stealth-hover: var(--tf-zinc-200);
}

fluent-anchored-region fluent-divider {
	--neutral-stroke-divider-rest: var(--tf-zinc-300);
}