fluent-button {
	color: var(--tf-font-color-mute) !important;

	&.outline {
		&::part(control) {
			border-color: var(--tf-body-color-accent-2);
		}
	}
}

fluent-button.accent svg {
	fill: var(--tf-body-color-accent) !important;
}