@import '../variables.less';

html:root {
	--neutral-base-color: var(--tf-zinc-500);
	--accent-base-color: var(--tf-sky-500);
	--neutral-layer-card-container: var(--tf-zinc-600);
	--neutral-layer-floating: var(--tf-zinc-200);
	--neutral-layer-1: var(--tf-zinc-700);
	--neutral-layer-2: var(--tf-zinc-600);
	--neutral-layer-3: var(--tf-zinc-500);
	--neutral-layer-4: var(--tf-zinc-400);
	--fill-color: var(--tf-zinc-50);
	--accent-fill-rest: var(--tf-sky-600);
	--accent-fill-hover: var(--tf-sky-400);
	--accent-fill-active: var(--tf-sky-300);
	--accent-fill-focus: var(--tf-sky-500);
	--foreground-on-accent-rest: var(--tf-white);
	--foreground-on-accent-hover: var(--tf-white);
	--foreground-on-accent-active: var(--tf-white);
	--foreground-on-accent-focus: var(--tf-white);
	--accent-foreground-rest: var(--tf-sky-700);
	--accent-foreground-hover: var(--tf-sky-500);
	--accent-foreground-active: var(--tf-sky-400);
	--accent-foreground-focus: var(--tf-sky-600);
	--accent-stroke-control-rest: linear-gradient(var(--tf-sky-600) 90%, var(--tf-sky-700) 100%);
	--accent-stroke-control-hover: linear-gradient(var(--tf-sky-500) 90%, var(--tf-sky-600) 100%);
	--accent-stroke-control-active: var(--tf-sky-500);
	--accent-stroke-control-focus: linear-gradient(var(--tf-sky-400) 90%, var(--tf-sky-700) 100%);
	--neutral-fill-rest: var(--tf-zinc-800);
	--neutral-fill-hover: var(--tf-zinc-600);
	--neutral-fill-active: var(--tf-zinc-500);
	--neutral-fill-focus: var(--tf-zinc-700);
	--neutral-fill-input-rest: var(--tf-white);
	--neutral-fill-input-hover: var(--tf-white);
	--neutral-fill-input-active: var(--tf-white);
	--neutral-fill-input-focus: var(--tf-white);
	--neutral-fill-input-alt-rest: var(--tf-zinc-600);
	--neutral-fill-input-alt-hover: var(--tf-zinc-500);
	--neutral-fill-input-alt-active: var(--tf-zinc-400);
	--neutral-fill-input-alt-focus: var(--tf-zinc-600);
	--neutral-fill-layer-rest: var(--tf-zinc-100);
	--neutral-fill-layer-hover: var(--tf-zinc-200);
	--neutral-fill-layer-active: var(--tf-zinc-300);
	--neutral-fill-layer-alt-rest: var(--tf-zinc-800);
	--neutral-fill-secondary-rest: var(--tf-zinc-200);
	--neutral-fill-secondary-hover: var(--tf-zinc-400);
	--neutral-fill-secondary-active: var(--tf-zinc-500);
	--neutral-fill-secondary-focus: var(--tf-zinc-300);
	--neutral-fill-stealth-rest: var(--tf-zinc-100);
	--neutral-fill-stealth-hover: var(--tf-zinc-300);
	--neutral-fill-stealth-active: var(--tf-zinc-400);
	--neutral-fill-stealth-focus: var(--tf-zinc-400);
	--neutral-fill-strong-rest: var(--tf-zinc-600);
	--neutral-fill-strong-hover: var(--tf-zinc-400);
	--neutral-fill-strong-active: var(--tf-zinc-300);
	--neutral-fill-strong-focus: var(--tf-zinc-500);
	--neutral-foreground-rest: var(--tf-zinc-800);
	--neutral-foreground-hover: var(--tf-zinc-600);
	--neutral-foreground-active: var(--tf-zinc-500);
	--neutral-foreground-focus: var(--tf-zinc-700);
	--neutral-foreground-hint: var(--tf-zinc-500);
	--neutral-stroke-rest: var(--tf-zinc-400);
	--neutral-stroke-hover: var(--tf-zinc-600);
	--neutral-stroke-active: var(--tf-zinc-700);
	--neutral-stroke-focus: var(--tf-zinc-500);
	--neutral-stroke-control-rest: linear-gradient(var(--tf-zinc-900) 90%, var(--tf-zinc-300) 100%);
	--neutral-stroke-control-hover: linear-gradient(var(--tf-zinc-800) 90%, var(--tf-zinc-200) 100%);
	--neutral-stroke-control-active: var(--tf-zinc-800);
	--neutral-stroke-control-focus: linear-gradient(var(--tf-zinc-800) 90%, var(--tf-zinc-200) 100%);
	--neutral-stroke-divider-rest: var(--tf-zinc-300);
	--neutral-stroke-input-rest: var(--tf-zinc-300);
	--neutral-stroke-input-hover: linear-gradient(var(--tf-zinc-400) calc(100% - 1px), var(--tf-zinc-300) calc(100% - 1px), var(--tf-zinc-300));
	--neutral-stroke-input-active: var(--tf-zinc-500);
	--neutral-stroke-input-focus: linear-gradient(var(--tf-zinc-400) calc(100% - 1px), var(--tf-zinc-300) calc(100% - 1px), var(--tf-zinc-300));
	--neutral-stroke-layer-rest: var(--tf-zinc-900);
	--neutral-stroke-layer-hover: var(--tf-zinc-700);
	--neutral-stroke-layer-active: var(--tf-zinc-600);
	--neutral-stroke-strong-rest: var(--tf-zinc-600);
	--neutral-stroke-strong-hover: var(--tf-zinc-400);
	--neutral-stroke-strong-active: var(--tf-zinc-300);
	--neutral-stroke-strong-focus: var(--tf-zinc-500);
	--focus-stroke-outer: var(--tf-black);
	--focus-stroke-inner: var(--tf-zinc-800);
	--foreground-on-accent-rest-large: var(--tf-white);
	--foreground-on-accent-hover-large: var(--tf-white);
	--foreground-on-accent-active-large: var(--tf-white);
	--foreground-on-accent-focus-large: var(--tf-white);
	--neutral-fill-inverse-rest: var(--tf-zinc-100);
	--neutral-fill-inverse-hover: var(--tf-zinc-300);
	--neutral-fill-inverse-active: var(--tf-zinc-400);
	--neutral-fill-inverse-focus: var(--tf-zinc-200);
	--neutral-fill-stealth-rest-on-neutral-fill-layer-rest: var(--tf-zinc-800);
	--neutral-fill-stealth-hover-on-neutral-fill-layer-rest: var(--tf-zinc-600);
	--neutral-fill-stealth-active-on-neutral-fill-layer-rest: var(--tf-zinc-600);
	--input-placeholder-rest: var(--tf-zinc-400);
	--input-placeholder-hover: var(--tf-zinc-600);
	--input-filled-placeholder-rest: var(--tf-zinc-500);
	--input-filled-placeholder-hover: var(--tf-zinc-500);
	--clear-button-hover: var(--tf-zinc-600);
	--clear-button-active: var(--tf-zinc-600);
	--tree-item-expand-collapse-hover: var(--tf-zinc-400);
	--tree-item-expand-collapse-selected-hover: var(--tf-zinc-400);
	--success: var(--tf-green-500);
	--warning: var(--tf-orange-500);
	--error: var(--tf-red-500);
	--info: var(--tf-blue-500);
	--presence-available: var(--tf-emerald-500);
	--presence-away: var(--tf-yellow-500);
	--presence-busy: var(--tf-red-800);
	--presence-dnd: var(--tf-red-600);
	--presence-offline: var(--tf-gray-500);
	--presence-oof: var(--tf-purple-500);
	--presence-unknown: var(--tf-red-700);
	--highlight-bg: var(--tf-yellow-100);
}
