@import '../variables.less';
@import 'fluent.less';

html:root .tf-select-menu {
	&__body {
		background: var(--neutral-layer-floating) !important;

		fluent-menu-item .fluent-typography {
			color: var(--neutral-foreground-rest);
		}
	}
}

.tf-input-label {
	/*color: var(--neutral-foreground-rest) !important;*/
}

.tf-input-description {
	color: var(--neutral-foreground-hint);
	font-size: 11px;
}


fluent-text-field,
fluent-search,
fluent-number-field,
fluent-text-area {
	--neutral-fill-input-rest: var(--tf-white);
	--neutral-fill-input-hover: var(--tf-white);
	--neutral-fill-input-active: var(--tf-white);
	--neutral-fill-input-focus: var(--tf-white);
	--neutral-stroke-input-rest: var(--tf-zinc-300);
	--neutral-stroke-input-hover: var(--tf-zinc-500);
	--neutral-stroke-input-active: var(--tf-zinc-600);
	--neutral-stroke-input-focus: var(--tf-zinc-400);
}

fluent-text-field[readonly]::part(root),
fluent-text-field.disabled::part(root),
fluent-search[readonly]::part(root),
fluent-search.disabled::part(root),
fluent-number-field[readonly]::part(root),
fluent-number-field.disabled::part(root),
fluent-text-area[readonly]::part(control),
fluent-text-area.disabled::part(control) {
	background: transparent;
	border-color: var(--neutral-stroke-input-rest);
}

fluent-select,
fluent-combobox {
	--neutral-fill-rest: var(--tf-white);
	--neutral-fill-hover: var(--tf-white);
	--neutral-fill-active: var(--tf-white);
	--neutral-fill-focus: var(--tf-white);
	--neutral-stroke-control-rest: var(--tf-zinc-300);
	--neutral-stroke-control-hover: var(--tf-zinc-500);
	--neutral-stroke-control-active: var(--tf-zinc-600);
	--neutral-stroke-control-focus: var(--tf-zinc-400);

	&::part(listbox) {
		background-color: oklch(96.7% .003 264.542) !important;
	}

	fluent-option {
		background: transparent !important;
		color: oklch(27.9% .041 260.031);

		&:hover {
			background-color: oklch(92.8% .006 264.531) !important;
		}
	}
}

fluent-select[readonly]::part(control),
fluent-select.disabled::part(control),
fluent-combobox[readonly]::part(control),
fluent-combobox.disabled::part(control) {
	opacity:1 !important;
	background: transparent;
	border-color: var(--neutral-stroke-input-rest);
}

fluent-switch {
	--neutral-foreground-rest: var(--tf-zinc-800);

	&::part(switch) {
		--neutral-foreground-rest: var(--tf-zinc-700);
		background: var(--tf-white);
	}

	&.checked::part(switch) {
		background: var(--accent-base-color);
	}
}
fluent-checkbox,
fluent-radio {
	--neutral-fill-input-alt-rest: var(--tf-white);
	--neutral-stroke-strong-rest: var(--tf-zinc-300);
}

.fluent-input-label {
	color: var(--neutral-foreground-hover) !important;
}

.fluent-sortable-list {
	--fluent-sortable-list-border-color: var(--neutral-layer-4) !important;
}

.sortable-item {
	--fluent-sortable-list-background-color: var(--neutral-fill-layer-rest);
	--neutral-stroke-input-active: var(--neutral-fill-layer-active);
	--neutral-layer-1: var(--neutral-fill-layer-focus);
	--fluent-sortable-list-item-border-color: var(--neutral-layer-4);

	&.sortable-ghost {
		--fluent-sortable-list-item-drop-color: var(--neutral-layer-4);
	}
}


fluent-button {

	&.accent {
		--foreground-on-accent-rest: var(--tf-white);
		--foreground-on-accent-hover: var(--tf-white);
		--foreground-on-accent-active: var(--tf-white);
		--foreground-on-accent-focus: var(--tf-white);
		--neutral-layer-1: var(--tf-white);

		svg {
			--accent-fill-rest: var(--tf-white);
			--neutral-foreground-rest: var(--tf-white);
		}
	}

	&.neutral {
		color: oklch(27.4% .006 286.033);
		--neutral-fill-rest: oklch(96.7% .003 264.542);
		--neutral-fill-hover: oklch(92% .004 286.32);
		--neutral-fill-active: oklch(96.7% .003 264.542);
		--neutral-fill-focus: oklch(96.7% .003 264.542);
		--neutral-stroke-control-rest: oklch(70.5% .015 286.067);
		--neutral-stroke-control-hover: oklch(70.5% .015 286.067);
		--neutral-stroke-control-active: oklch(70.5% .015 286.067);
		--neutral-stroke-control-focus: oklch(70.5% .015 286.067);
	}
}
