@import '../variables.less';
@import 'fluent.less';

html:root .tf-select-menu {
	&__body {
		background: var(--neutral-layer-floating) !important;

		fluent-menu-item .fluent-typography {
			color: var(--neutral-foreground-rest);
		}
	}
}

.tf-input-label {
	/*color: var(--neutral-foreground-rest) !important;*/
}

.tf-input-description {
	color: var(--neutral-foreground-hint);
	font-size: 11px;
}

fluent-text-field::part(root),
fluent-search::part(root),
fluent-number-field::part(root),
fluent-select::part(control),
fluent-text-area::part(control),
fluent-switch::part(switch),
fluent-anchor::part(control),
.tf-select-btn::part(control) {
	background: white;
	border-color: var(--neutral-stroke-input-rest) !important;
	color: var(--neutral-foreground-rest);
	fill: var(--neutral-foreground-rest);
}


fluent-text-field[readonly]::part(root),
fluent-number-field[readonly]::part(root),
fluent-select[readonly]::part(control),
fluent-text-area[readonly]::part(control),
fluent-text-field.disabled::part(root),
fluent-number-field.disabled::part(root),
fluent-select.disabled::part(control),
fluent-text-area.disabled::part(control) {
	background: transparent !important;
	border-color: var(--neutral-stroke-input-rest) !important;
	color: var(--neutral-foreground-rest);
}

.fluent-input-label {
	/*color: var(--neutral-foreground-hint) !important;*/
}

fluent-radio::part(label),
fluent-switch::part(label) {
	/*color: var(--neutral-foreground-rest);*/
}

fluent-switch {
	--neutral-foreground-rest: var(--neutral-fill-layer-active);
}

.sortable-item {
	/*background-color: var(--neutral-fill-layer-active) !important;
	border-color: var(--neutral-fill-layer-active) !important;*/

	.sortable-grab {
		/*background-color: var(--neutral-fill-layer-hover) !important;*/
	}
}

fluent-select {
	&::part(listbox) {
		background-color: oklch(96.7% .003 264.542) !important;
	}

	fluent-option {
		background: transparent !important;
		color: oklch(27.9% .041 260.031);

		&:hover {
			background-color: oklch(92.8% .006 264.531) !important;
		}
	}
}

fluent-button {
	&.outline {
		&:hover {
			background: rgba(0,0,0,0.05);
		}
	}

	&.accent {
		--foreground-on-accent-rest: var(--tf-white);
		--foreground-on-accent-hover: var(--tf-white);
		--foreground-on-accent-active: var(--tf-white);
		--foreground-on-accent-focus: var(--tf-white);
		--neutral-layer-1: var(--tf-white);

		svg {
			--accent-fill-rest: var(--foreground-on-accent-rest);
		}
	}

	&.neutral {
		color: oklch(27.4% .006 286.033);
		--neutral-fill-rest: oklch(96.7% .003 264.542);
		--neutral-fill-hover: oklch(92% .004 286.32);
		--neutral-fill-active: oklch(96.7% .003 264.542);
		--neutral-fill-focus: oklch(96.7% .003 264.542);
		--neutral-stroke-control-rest: oklch(70.5% .015 286.067);
		--neutral-stroke-control-hover: oklch(70.5% .015 286.067);
		--neutral-stroke-control-active: oklch(70.5% .015 286.067);
		--neutral-stroke-control-focus: oklch(70.5% .015 286.067);
	}
}
