:root {
/*	//Font
	--tf-font-color: var(--tf-go-stone-800);
	--tf-font-color-mute: var(--tf-go-stone-600);
	//Layout
	--tf-body-color: var(--tf-go-stone-100);
	--tf-body-color-mute: var(--tf-go-stone-50);
	--tf-body-color-accent: var(--tf-go-stone-200);
	--tf-body-color-accent-2: var(--tf-go-stone-300);
	--tf-body-color-accent-3: var(--tf-go-stone-400);
	--tf-body-page-header: var(--tf-go-stone-50);
	//Admin
	--tf-admin-color: var(--tf-go-red-500);*/
}
@import 'fluent.less';
@import 'scroll.less';
@import 'anchor-region.less';
@import 'form.less';
@import 'grid.less';
@import 'layout.less';
@import 'message.less';
@import 'tf-navigation.less';
