@import '../variables.less';
@import 'fluent.less';

.tf-layout__body,
.tf-layout__header {
	--tf-layout-color-mute: color-mix(in srgb, var(--accent-base-color) 30%, var(--neutral-fill-layer-rest) 70%);
	--tf-layout-color: color-mix(in srgb, var(--accent-base-color) 5%, var(--neutral-fill-layer-rest) 95%);
	--tf-layout-color-accent: color-mix(in srgb, var(--accent-base-color) 60%, var(--neutral-fill-layer-rest) 40%);
	--tf-layout-color-accent-2: color-mix(in srgb, var(--accent-base-color) 80%, var(--neutral-fill-layer-rest) 20%);
}
