@import '../variables.less';
@import 'fluent.less';

.fluent-messagebar,
.fluent-messagebar-notification {
	&.intent-info {
		background-color: color-mix(in srgb, var(--info) 20%, var(--neutral-fill-layer-rest) 80%) !important;
		border-color: color-mix(in srgb, var(--info) 30%, var(--neutral-fill-layer-rest) 70%) !important;
		color: var(--neutral-foreground-rest);
	}

	&.intent-success {
		background-color: color-mix(in srgb, var(--success) 20%, var(--neutral-fill-layer-rest) 80%) !important;
		border-color: color-mix(in srgb, var(--success) 30%, var(--neutral-fill-layer-rest) 70%) !important;
		color: var(--neutral-foreground-rest);
	}

	&.intent-warning {
		background-color: color-mix(in srgb, var(--warning) 20%, var(--neutral-fill-layer-rest) 80%) !important;
		border-color: color-mix(in srgb, var(--warning) 30%, var(--neutral-fill-layer-rest) 70%) !important;
		color: var(--neutral-foreground-rest);
	}

	&.intent-error {
		background-color: color-mix(in srgb, var(--error) 20%, var(--neutral-fill-layer-rest) 80%) !important;
		border-color: color-mix(in srgb, var(--error) 30%, var(--neutral-fill-layer-rest) 70%) !important;
		color: var(--neutral-foreground-rest);
	}
}
