@import '../variables.less';
@import 'fluent.less';

.tf-navigation.admin {
	--accent-fill-rest: var(--tf-red-500);
}

.tf-sidenav {
	.fluent-nav-link {
		&.active {
			background: var(--tf-layout-color-mute);
		}

		&:not(.active):hover {
			background: fade(white,25%);
		}
	}
}

.tf-menu-item {
	&:not(.tf-selected):hover {
		background: fade(white,25%);
	}

	&.tf-selected {
		background: var(--tf-layout-color-mute);
	}
}
