/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--tf-body-color-mute);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--tf-body-color-accent-2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--tf-body-color-accent);
}
