@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucLayoutPageContent Title="@_spacePage?.Name" Icon="@_spacePage?.FluentIconName">
	<Tabs>
		<TucSpacePageManageContentToolbar/>
	</Tabs>
	<ChildContent>
		<div style="padding:var(--tf-padding)">
			@if (_spacePage is not null && _spacePage is not null && _spacePage.ComponentType is not null)
			{
				<TucErrorBoundry>
					<DynamicComponent Type="@_spacePage.ComponentType" Parameters="@_getDynamicComponentParams()"/>
				</TucErrorBoundry>
			}
			else
			{
				<FluentMessageBar AllowDismiss="false"
				                  Intent="@MessageIntent.Warning">@LOC("Page type is no longer related to an existing addon")</FluentMessageBar>
			}
		</div>
	</ChildContent>
</TucLayoutPageContent>