@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (SidebarExpanded.Value)
{
	<TfSpaceNavigation />
}
@if (TfAppState.Value.SpaceNode is null)
{
	<FluentBodyContent Class="content-body">
		<div class="content-inner">
			<FluentMessageBar Title="No page found"
							  Style="border: 1px solid var(--neutral-base-color)"
							  Intent="MessageIntent.Info"
							  Type="@MessageType.Notification"
							  AllowDismiss="false">
				No page found
			</FluentMessageBar>
		</div>
	</FluentBodyContent>
}
else if (TfAppState.Value.SpaceNode.ComponentType is not null)
{
	<TfErrorBoundry>
		<DynamicComponent Type="@TfAppState.Value.SpaceNode.ComponentType" Parameters="@_getDynamicComponentParams()" />
	</TfErrorBoundry>
}