.usernav {
	display: flex;
	align-items: center;
}

	.usernav .actions {
		padding-right: 10px;
		display:flex;
		flex-grow:0;
		align-items:center;
	}

::deep .fluent-presence-badge {
	font-size: 12px;
}

::deep .fluent-persona .initials {
	background: var(--neutral-base-color) !important;
}

::deep.usernav .stealth::part(control) {
	background: var(--neutral-layer-3) !important;
}

::deep.usernav .stealth:hover::part(control) {
	background: var(--neutral-fill-stealth-hover) !important;
}
/*::deep.usernav .stealth svg {
	fill: var(--neutral-fill-inverse-rest) !important;
}*/

