@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="content-views">
	<div class="content-views-tabs">
		<FluentTabs ActiveTabId="@_activeTabId" OnTabChange="HandleOnTabChange"
					Size="@TabSize.Large">
			@foreach (var item in _menuItems)
			{
				<FluentTab @key=@item.Id Id="@item.Id" Label="@item.Title" />
			}
		</FluentTabs>
	</div>
	<div class="content-views-badges">
@* 		<FluentBadge Appearance="Appearance.Neutral">
			bookmarked
		</FluentBadge> *@
		<FluentBadge Appearance="Appearance.Accent">
			changed
		</FluentBadge>
	</div>
</div>

