@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent
<div class="view-filter-selector-menu">
	<FluentPopover Style="width: 300px;" VerticalThreshold="170" AnchorId="view-sort-selector"
				   @bind-Open="_open">
		<Body>
			body
		</Body>
	</FluentPopover>
</div>