::deep > fluent-badge {
    --badge-fill-connected: #00B294;
    --badge-color-connected: var(--foreground-on-accent-rest);

    --badge-fill-disconnected: #CA5010;
    --badge-color-disconnected: var(--foreground-on-accent-rest);
}