.login-card {
	background: var(--neutral-fill-secondary-rest);
	border-color: var(--neutral-fill-secondary-hover);
}

	.login-card form {
		width:100% !important;
	}

.login-logo {
	display:flex;
	align-items:center;
	justify-content:center;
	flex: 1 1 auto;
	width:100%;
}

.login-logo-image {
	flex:0 0 30px;
}

	.login-logo-image img {
		width:100%;
		vertical-align:text-bottom;
	}
.login-logo-text {
	flex: 0 0 auto;
	padding-left:10px;
	line-height:1em;
	font-size:24px;
}
.login-logo-slogan {
	font-size:14px;
	color:var(--neutral-foreground-hint);
	line-height: 1rem;
}

.login-form {
	flex: 1 1 auto;
	width:100%;
}

::deep.login-form .fluent-input-label {
	margin-top:1rem;
}

::deep.login-form fluent-text-field {
	width:100%;
}


.login-btn {
	width:100%;
	margin-top:1rem;
	flex:1 1 auto;
}

::deep.login-btn fluent-button {
	width:100%;
}