@namespace WebVella.Tefter.Web.Components.SidebarToggle
@inherits TfBaseComponent

<div class="sidebar-toggle">
	<FluentButton Appearance="@Appearance.Stealth" OnClick="_toggle">
		<FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="@Color.Neutral" />
	</FluentButton>
</div>
