.usernav {
	display: flex;
	align-items: center;
}

	.usernav .actions {
		padding-right: 10px;
		display: flex;
		flex-grow: 0;
		align-items: center;
	}

::deep .avatar > div {
	font-size: 12px;
	color: rgba(255,255,255,0.75);
}

::deep.usernav .actions > fluent-anchor::part(control),
::deep.usernav .actions > fluent-button::part(control),
::deep.usernav .actions > .language-switch > fluent-button::part(control){
	background: var(--tf-body-color) !important;
	color: var(--tf-font-color);
}

	::deep.usernav .actions > fluent-button svg,
	::deep.usernav .actions > fluent-anchor svg{
		fill: var(--tf-font-color) !important;
	}

::deep.usernav .actions > fluent-anchor:hover::part(control),
::deep.usernav .actions > fluent-button:hover::part(control),
::deep.usernav .actions > .language-switch > fluent-button:hover::part(control){
	background: var(--tf-body-color-accent) !important;
}