.usernav {
	display: flex;
	align-items: center;
}

	.usernav .actions {
		padding-right: 10px;
		display: flex;
		flex-grow: 0;
		align-items: center;
	}

::deep .avatar > div {
	font-size: 12px;
	color: rgba(255,255,255,0.75);
}

::deep.usernav .actions > fluent-anchor,
::deep.usernav .actions > fluent-button,
::deep.usernav .actions > .language-switch > fluent-button{
	--neutral-fill-stealth-rest: var(--neutral-fill-layer-rest);
	--neutral-foreground-rest: var(--neutral-foreground-rest);
	--neutral-fill-stealth-hover: var(--neutral-fill-layer-hover);
	--neutral-fill-stealth-active: var(--neutral-fill-layer-active);
}