@namespace WebVella.Tefter.Web.Components
@inherits ComponentBase
<aside class="@_layoutClass">
	@if (Top is not null)
	{
		<div class="tf-layout__navigation__top">
			@Top
		</div>
	}

	<div class="tf-layout__navigation__content">
		<div class="tf-layout__navigation__content__inner">
			@ChildContent
		</div>
	</div>

	@if (Bottom is not null)
	{
		<div class="tf-layout__navigation__bottom">
			@Bottom
		</div>
	}
</aside>