@namespace WebVella.Tefter.Web.Components

<header class="@_layoutClass">
	<div class="tf-layout__body__main__header__content">@ChildContent</div>
	@if (Aside is not null)
	{
		<div class="tf-layout__body__main__header__aside">@Aside</div>
	}
</header>
