@using Microsoft.FluentUI.AspNetCore.Components.DesignTokens
@namespace WebVella.Tefter.Web.Components
@inherits ComponentBase
@((MarkupString)_styles)
<div class="@_layoutClass">
	@Header
	<section class="tf-layout__wrapper">
		@Navigation
		@Body
	</section>
</div>
