@namespace WebVella.Tefter.Web.Components
<header class="@_layoutClass">
	<div class="tf-layout__header__content">@ChildContent</div>

	@if (Aside is not null)
	{
		<div class="tf-layout__header__aside">@Aside</div>
	}
</header>