@namespace WebVella.Tefter.Web.Components
@inherits ComponentBase
<div class="@_layoutClass">
	@Header
	<section class="tf-layout__wrapper">
		@Navigation
		@Body
	</section>
</div>
@((MarkupString)_styles)