.tf-loader-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: var(--info);
	content: "";
	display: block;
	z-index: 333;

	&__loader {
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		left: 0;
		background: linear-gradient(90deg,var(--info) 0%,var(--accent-fill-rest) 50%,var(--info) 100% );
		width: 0;
		animation: borealisBar 2s linear infinite;
	}

	@keyframes borealisBar {
		0% {
			left: 0%;
			right: 100%;
			width: 0%;
		}

		10% {
			left: 0%;
			right: 75%;
			width: 25%;
		}

		90% {
			right: 0%;
			left: 75%;
			width: 25%;
		}

		100% {
			left: 100%;
			right: 0%;
			width: 0%;
		}
	}
}
