
/*Overrides*/
fluent-data-grid-row:has([row-selected]) {
	background-color: var(--neutral-fill-stealth-hover)
}

fluent-select::part(listbox) {
	max-height: 200px;
}

.tf-input-label {
	color: var(--neutral-foreground-hover) !important;
}

.fluent-messagebar-message .title {
	display: block;
}

div[class ^='fluent-messagebar'],
.fluent-messagebar-notification,
.fluent-messagebar-message {
	animation: none !important;
}

fluent-button.accent svg {
	fill: var(--neutral-layer-1) !important;
}

.tf-input-description {
	color: var(--neutral-foreground-active);
	font-size: 11px;
}

fluent-anchored-region fluent-menu {
	min-width: 100%;
	max-height:300px;
	overflow-y:scroll;
}

.tf-menu-item-selected{
	position:relative;
}

.tf-menu-item-selected::before {
	content: "";
	display: block;
	position: absolute;
	top: 25%;
	left: 0;
	bottom: 25%;
	width: 3px;
	background: var(--accent-fill-rest);
}

.fluent-dialog-main.right::part(control),
.fluent-dialog-main.left::part(control) {
	--dialog-padding: 0px;
}