
*:focus,
*:focus-visible {
	outline: none !important;
}

/*Message*/
.fluent-messagebar-message .title {
	display: block;
}

div[class ^='fluent-messagebar'],
.fluent-messagebar-notification,
.fluent-messagebar-message {
	animation: none !important;
}

/*Anchor region*/

fluent-anchored-region fluent-menu-item {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	position: relative;
}

fluent-anchored-region fluent-menu-item > .tf-addon {
	position: absolute;
	content: "";
	left: 0;
	top: 2px;
	bottom: 2px;
	width: 3px;
	display: block;
	padding: 0;
}

/*Menu*/
.tf-menu-item-selected::before {
	content: "";
	display: block;
	position: absolute;
	top: 25%;
	left: 0;
	bottom: 25%;
	width: 3px;
	/*background: var(--accent-fill-rest);*/
}

.tf-menu-item-selected {
	position: relative;
}

/*Form*/
fluent-select::part(listbox) {
	max-height: 200px;
}

fluent-text-field.disabled,
fluent-number-field.disabled,
fluent-select.disabled,
fluent-select.disabled::part(control),
fluent-text-area.disabled {
	opacity: 1;
}

fluent-switch::part(label) {
	margin-inline-end: 0;
}

/*Dialog*/
.fluent-dialog-header .fluent-typography {
	/*color: var(--tf-font-color-mute) !important;*/
}

.fluent-dialog-header fluent-button::part(control) {
	background: transparent;
}

.fluent-dialog-header fluent-button:hover::part(control) {
	/*background: var(--tf-body-color-accent-2);*/
}

.fluent-dialog-header fluent-button svg{
	/*fill: var(--tf-font-color-mute) !important;*/
}

.fluent-dialog-main.right::part(control),
.fluent-dialog-main.left::part(control) {
	--dialog-padding: 0px;
}
