.tf-console-box {
	padding: 10px;
	background: var(--neutral-layer-3);
	max-height: 350px;
	overflow-y: auto;
	font-family: monospace;

	&__row {
		display: flex;
		margin-bottom: 5px;

		&__date {
			flex: 0 0 auto;
			padding-right: 10px;
			color: var(--neutral-base-color);
		}

		&__message {
			.error {
				color: var(--error);
			}
		}
	}
}
