
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.tf-guest-layout {
	display: flex;
	flex-flow: column;
	width: 980px;
	border: 1px solid transparent;
	border-radius: 5px;

	&__header {
		flex: 0 0 auto;
		display: flex;
		flex-flow: column;

		.wizard & {
			background: var(--neutral-fill-secondary-rest);
			border-radius: 5px 5px 0 0;
		}

		&__title {
			text-align: center;
			font-size: 23px;
			font-weight: bold;
			padding: 10px;

			.wizard & {
				margin-bottom: 0;
				border-bottom: 1px solid var(--neutral-fill-secondary-hover);
			}
		}

		&__description {
			text-align: center;
			margin-bottom: 50px;

			.wizard & {
				margin-bottom: 0;
			}
		}
	}

	&__subheader {
		flex: 0 0 auto;
		display: flex;
		padding: 10px;
		border-bottom: 1px solid var(--neutral-fill-secondary-hover);
		align-items: center;

		.wizard & {
			background: var(--neutral-fill-secondary-rest);
		}

		&__action {
			flex: 0 0 60px;
		}

		&__meta {
			flex: 1 1 auto;
		}
	}

	&__body {
		flex: 1 1 auto;

		.grid & {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 15px;
		}

		.wizard & {
			display: flex;
			grid-gap: 0;
			min-height: 400px;
		}

		&__steps {
			flex: 0 0 200px;
			padding: 10px 0;
			background: var(--neutral-fill-secondary-rest);
			padding-bottom: 60px;
			border-radius: 0 0 0 5px;

			&__step {
				padding: 5px;
				display: flex;
				cursor: pointer;
				align-items: center;

				&:hover {
					background: var(--neutral-fill-secondary-hover);
				}

				&__index {
					flex: 0 0 23px;
					text-align: right;
					padding-right: 5px;
				}

				&__title {
					flex: 1 1 auto;
				}

				&__icon {
					flex: 0 0 30px;
					display: flex;
					align-items: center;
					justify-content: end;
				}

				.check, .arrow, .error {
					display: none;
				}

				&.completed {
					.check {
						display: inline-block;
					}

					.pending {
						display: none;
					}
				}

				&.active {
					.arrow {
						display: inline-block;
					}

					.pending {
						display: none;
					}
				}

				&.error {
					.error {
						display: inline-block;
					}

					.pending {
						display: none;
					}
				}
			}
		}

		&__content {
			flex: 1 1 auto;
			display: flex;
			flex-flow: column;

			&__body {
				padding: 15px;
				padding-bottom:30px;
				flex: 1 1 auto;
				border-left: 1px solid var(--neutral-fill-secondary-hover);

				&__step {

					&__title {
						font-size: 18px;
						margin-bottom: 1rem;
						color: var(--accent-base-color);

						.substep & {
							font-size: 15px;
							font-weight: bold;
							margin-bottom: 10px;
							margin-top: 1rem;
						}

						.substep:first-child & {
							margin-top: 0;
						}
					}

					&__description {
						margin-top: -1rem;
						margin-bottom: 1rem;
						color: var(--neutral-foreground-hint);

						.substep & {
							margin-top: -10px;
							margin-bottom: 10px;
						}
					}

					&__form {
						table:not(.tf-grid) {
							th, td {
								padding: 5px 10px;
								border: 1px solid var(--neutral-stroke-rest);
							}
						}
					}
				}
			}

			&__actions {
				border-top: 1px solid var(--neutral-fill-secondary-hover);
				padding: 10px;
				flex: 0 0 40px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				background: var(--neutral-fill-secondary-rest);
				border-radius: 0 0 5px 0;
			}
		}
	}

	&.wizard {
		border-color: var(--neutral-fill-secondary-hover);
	}
}
