.tf-navigation {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: unset !important;

	.fluent-nav-item {
		margin-bottom: 10px;

		.positioning-region {
			border-radius: 50%;
			width: 42px;
			height: 42px;
			min-height: unset !important;
			min-width: unset !important;
			display: inline-flex !important;
			justify-content: center !important;
			align-items: center !important;
			flex: 0 0 auto !important;
			background: transparent;

			&::before {
				display: none !important;
			}
		}

		.content-region {
			display: flex;
			justify-content: center !important;
			align-items: center !important;
			margin-inline-start: unset !important;
			width: auto !important;
		}

		.fluent-nav-icon {
			width: 23px !important;
			height: 23px !important;
			min-width: unset !important;
			min-height: unset !important;
		}

		.fluent-nav-text {
			display: none;
		}

		&.selected {
			.positioning-region {
				background: var(--neutral-fill-secondary-focus);
			}
		}



		&.expand-link {
			.positioning-region {
				border-radius: 50%;
				width: 42px;
				height: 42px;
				min-height: unset !important;
				min-width: unset !important;
				display: inline-flex !important;
				justify-content: center !important;
				align-items: center !important;
				flex: 0 0 auto !important;
			}

			.fluent-nav-link {
				border-radius: 50%;
				width: 42px;
				height: 42px;
				min-height: unset !important;
				min-width: unset !important;
				display: inline-flex !important;
				justify-content: center !important;
				align-items: center !important;
				flex: 0 0 auto !important;
			}
		}
	}
}
