
.tf-select-btn {
	background: var(--neutral-fill-input-rest);
	--neutral-stroke-rest: var(--neutral-stroke-input-rest);
	--neutral-stroke-hover: var(--neutral-stroke-input-hover);
	--neutral-stroke-active: var(--neutral-stroke-input-active);
	--neutral-stroke-focus: var(--neutral-stroke-input-focus);


	&:hover {
		background: var(--neutral-fill-input-rest);
	}
}
