.tf-sidetoolbar {
	display: flex;

	&__mode {
		flex: 0 0 auto;

		.modebar {
			padding: 0;
			background: transparent;

			.btn {
				margin: 0;
				border-radius: 0;

				&.active {
					background: var(--accent-base-color);
					border-color: var(--accent-base-color);
					color: var(--neutral-foreground-rest) !important;
					fill: var(--neutral-foreground-rest) !important;

					svg {
						color: var(--neutral-foreground-rest) !important;
						fill: var(--neutral-foreground-rest) !important;
					}
				}



				&:first-child {
					border-radius: calc(var(--control-corner-radius) * 1px) 0 0 calc(var(--control-corner-radius) * 1px);
				}

				&:last-child {
					border-radius: 0 calc(var(--control-corner-radius) * 1px) calc(var(--control-corner-radius) * 1px) 0;
					margin-right: 5px;
				}
			}

			.btn + .btn {
				margin-left: 0;
			}


			fluent-button.active::part(control) {
				background: var(--accent-base-color);
				border-color: var(--accent-base-color);
			}
		}
	}

	&__search {
		flex: 1 1 auto;
		padding-right: 5px;

		.search {
			width: 100%;

			&::part(root) {
				background: transparent !important;
				/*border-color: var(--tf-layout-body-color-accent) !important;*/
				/*color: var(--tf-font-color);*/
			}

			&::part(control)::placeholder {
				/*color: var(--tf-font-color-mute);*/
			}
		}
	}

	&__actions {
		flex: 0 0 auto;

		fluent-button {
			/*color: var(--tf-font-color-mute) !important;*/

			&.outline {
				&::part(control) {
					/*border-color: var(--tf-layout-body-color-accent);*/
				}
			}
		}
	}
}
