@namespace WebVella.Tefter.Assets.Components
@using WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<TucLayoutPageContent Title="@LOC("Asset Folders")" Icon="BookDatabase">
    <ChildContent>
        <div>Assets</div>
    </ChildContent>
</TucLayoutPageContent>