@import '_colors.less';

html:root {
	//Layout
	--tf-layout-header-height: 50px;
	--tf-layout-toolbar-height: 40px;
	--tf-layout-content-toolbar-height: calc(40px + 2rem);
	--tf-layout-header-border-height: 3px;
	--tf-layout-content-padding: 1rem;
	//Font size
	--tf-font-size-base: 14px;
	--tf-font-size-sm: 13px;
	--tf-font-size-xs: 10px;
	--tf-font-size-md: 16px;
	--tf-font-size-lg: 18px;
	--tf-font-size-xl: 20px;
	--tf-font-size-xxl: 23px;
	//Font weight
	--tf-font-weight-base: 400;
	--tf-font-weight-sm: 200;
	--tf-font-weight-lg: 500;
	--tf-font-weight-xl: 700;
	--tf-font-weight-xxl: 900;
	//Font color
	--tf-font-color-base: var(--tf-zinc-950);
	--tf-font-color-mute: var(--tf-zinc-500);
	--tf-font-color-link: var(--tf-blue-600);
	--tf-font-color-link-hover: var(--tf-blue-400);
	--tf-font-color-dark-link: var(--tf-white);
	--tf-font-color-dark-link-hover: var(--tf-zinc-400);
	--tf-font-color-dark-mute: var(--tf-zinc-400);
	//Fill colors
	--tf-fill-color-base-1: var(--tf-zinc-100);
	--tf-fill-color-base: var(--tf-zinc-200);
	--tf-fill-color-hover: var(--tf-zinc-100);
	--tf-fill-color-dark: var(--tf-zinc-950);
	--tf-fill-color-dark-1: var(--tf-zinc-800);
	--tf-fill-color-dark-hover: var(--tf-zinc-700);
	--tf-fill-color-invert: var(--tf-zinc-300);
	//Stoke colors
	--tf-stroke-base: var(--tf-zinc-300);
	--tf-stroke-invert-base: color-mix(in srgb, var(--tf-stroke-base) 50%, var(--tf-zinc-400) 50%);
	--tf-stroke-input: var(--tf-zinc-400);
	--tf-stroke-input-hover: var(--tf-zinc-600);
	--tf-stroke-button: var(--tf-zinc-400);
	--tf-stroke-button-hover: var(--tf-zinc-600);
	//border radious
	--tf-border-radius-base: 0.5rem;
	--tf-border-radius-sm: 0.25rem;
	--tf-border-radius-md: 1rem;
	--tf-border-radius-lg: 2rem;
	--tf-border-radius-xl: 3rem;
}
