@import '_variables.less';


.tf-grid {
	table-layout: fixed;
	min-width: 100%;
	border: 1px solid var(--tf-stroke-base);
	border-bottom: none;
	border-collapse: separate !important;
	border-spacing: 0;
	margin-bottom: 0;
	background: var(--tf-white);

	&-wrapper {
		margin: 0 calc(-1 * var(--tf-layout-content-padding));
	}

	thead {
		position: sticky;
		top: 0px;
		z-index: 3;

		& > tr:not(.tf-grid-thead-bkg) {
			position: relative;
			z-index: 2;

			&:first-child {
				& > th {
					border-top: none;
				}
			}
		}

		& tr > th,
		& tr > td {
			border-bottom-width: 0;
			border-top-width: 0;
			background: var(--tf-fill-color-invert);
			border-color: var(--tf-stroke-invert-base);
			font-weight: var(--tf-font-weight-lg);
		}

		& tr > th,
		& tr > td {
			border-left-width: 0;
		}
	}

	&-thead {
		&-bkg {
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			left: 1px;
			right: 0;
			z-index: 1;
			pointer-events: none;
		}
	}

	tbody {
		& tr {
			& > th,
			& > td {
				border-bottom-width: 0;
				border-left-width: 0;
				border-right-width: 1px;
				border-top-width: 1px;
				position: relative;
				vertical-align: top;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					z-index: 0;
					border-radius: 0;
				}

				& > * {
					position: relative;
				}

				& > .tf-grid-td-color {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					z-index: 0;
					border-radius: 0;
				}

				& > .tf-grid-td-selection {
					display: none;
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					z-index: 0;
					border-radius: 0;
				}

				& > .tf-grid-td-hover {
					display: none;
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					z-index: 0;
					border-radius: 0;
					background: var(--tf-fill-color-hover);
				}

				& > div {
					border-radius: calc(var(--tf-border-radius-sm) * 1px);
					/*white-space: nowrap;*/
					text-overflow: ellipsis;
					padding: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * 1px) calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * 1px);
				}

				&.multiline-text {
					white-space: break-spaces;
				}

				& a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				& .td-description {
					font-size: var(--tf-font-size-sm);
					color: var(--tf-font-color-mute);
					white-space: initial;
				}
			}

			&.tf-grid-tr--selected .tf-grid-td-selection {
				display: block;
			}

			&:hover .tf-grid-td-hover {
				display: block;
			}

			&:last-child > th,
			&:last-child > td {
				border-bottom: 1px solid var(--tf-stroke-base);
			}
		}
	}

	& > tbody {
		tr:first-child {
			& > td,
			& > th {
				border-top-width: 0;
			}
		}
	}

	td, th {
		border-width: 1px;
		border-style: solid;

		& > div {
			display: flex;
			justify-content: center;
			align-items: start;
			flex-flow: column;
		}
	}

	thead, tbody {
		& > tr {
			& > .tf-grid-th--check {
				padding: 0;
				text-align: center;
				width: 40px;
				min-width: 40px;

				.check-content {
					padding: 0;
					display: flex;
					flex-flow: row;
					justify-content: center;

					fluent-button {
						display: block;
						height: 100%;
						width: 100%;
					}
				}
			}

			& > th:first-child, & > td:first-child {
				border-left-width: 0;
			}

			& > th:last-child, & > td:last-child {
				border-right-width: 0;
			}

			& > td > div:not([class]):empty {
				height: 30px;
			}
		}

		th.tf--sticky, td.tf--sticky {
			position: sticky;
			z-index: 2;
		}




		.tf--sticky-first::after {
			border-right-width: 1px;
			border-right-style: solid;
			content: "";
			display: block;
			width: 10px;
			top: 0;
			bottom: 0;
			left: -11px;
			box-shadow: inset -2px 0 5px var(--neutral-layer-2);
			position: absolute;
		}

		.tf--sticky-last::after {
			content: "";
			display: block;
			width: 10px;
			right: -10px;
			top: 0;
			bottom: 0;
			box-shadow: inset 5px 0 5px rgba(0,0,0,0.1);
			position: absolute;
		}
	}

	thead, tfoot {
		& > tr {
			& > th, & > td {
				white-space: nowrap;
				text-overflow: ellipsis;
				padding: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * 1px) calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * 1px);
			}
		}
	}

	.tf-grid-td-spacer {
		display: inline-block;
		width: 1rem;
	}
}

.tf-grid__pager {
	margin-top: 1rem;
}
