@import '_variables.less';


.tf-page-header {
	margin-bottom: 1rem;

	&.page-title {
		margin-bottom: calc(2 * var(--tf-padding-base));
	}

	&__primary {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__left {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
		}

		&__right {
			flex: 0 0 auto;
		}

		&__icon-wrapper {
			flex: 0 0 auto;
			margin-right: 0.75rem;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 5px;
		}

		&__icon {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__back-btn {
			flex: 0 0 auto;
			padding-right: 0.5rem;
			display: flex;
			align-items: center;
			padding-top: 5px;
			fluent-anchor{
				background:var(--tf-white);
			}
		}

		&__meta {
			&__area {
				color: var(--tf-font-color-mute);
				font-size: var(--tf-font-size-sm);
			}

			&__title {
				font-size: var(--tf-font-size-xxl);
				font-weight: var(--tf-font-weight-lg);
			}
		}
	}

	&__divider {
		color: var(--tf-font-color-mute);
	}

	&--skeleton {
		fluent-skeleton {
			background-color: var(--tf-fill-base-hover);
		}

		.tf-page-header__primary__meta__title {
			margin-top: 5px;
		}
	}
}
