@import '_variables.less';

.tf-sidetoolbar {
	display: flex;

	&__mode {
		flex: 0 0 auto;

		.modebar {
			padding: 0;
			background: transparent;

			.btn {
				margin: 0;
				border-radius: 0;

				&.active {
					background: var(--accent-base-color);
					border-color: var(--accent-base-color);
					color: var(--foreground-on-accent-rest) !important;

					svg {
						fill: var(--foreground-on-accent-rest) !important;
					}
				}



				&:first-child {
					border-radius: calc(var(--control-corner-radius) * 1px) 0 0 calc(var(--control-corner-radius) * 1px);
				}

				&:last-child {
					border-radius: 0 calc(var(--control-corner-radius) * 1px) calc(var(--control-corner-radius) * 1px) 0;
					margin-right: 5px;
				}
			}

			.btn + .btn {
				margin-left: 0;
			}
		}
	}

	&__search {
		flex: 1 1 auto;
		padding-right: 5px;

		.search {
			width: 100%;
			&::part(start){
				display:none;
			}
		}


	}

	&__title {
		flex: 1 1 auto;
		padding-right: 5px;
		font-size: var(--tf-font-size-md);
		font-weight: var(--tf-font-weight-lg);
		display: flex;
		align-items: center;
	}

	&__actions {
		flex: 0 0 auto;
	}

	.red-btn {
		color: var(--tf-red-500);
	}
}
