html:root {
  color-scheme: dark;
   //heights
  --tf-topbar-height: 60px;
  --tf-aside-footer-height: 30px;
  --tf-space-header-height: var(--tf-topbar-height);
  --tf-space-actions-height: 60px;
  --tf-page-header-height: 70px;
  --tf-page-tabs-height: 50px;
  //widths
  --tf-aside-width: 220px;
  
  //padding
  --tf-padding: calc((10 + (var(--design-unit) * 2 * var(--density))) * 1px);
  --tf-card-space: calc(var(--tf-padding) * 2);
   
}

