html:root {
  color-scheme: dark;
   //heights
  --tfui-topbar-height: 50px;
  --tfui-aside-footer-height: 30px;
  --tfui-space-header-height: var(--tfui-topbar-height);
  --tfui-space-actions-height: 60px;
  --tfui-page-header-height: 50px;
  --tfui-page-tabs-height: 50px;
  //widths
  --tfui-aside-width: 220px;
  
  //padding
  --tfui-padding: calc((10 + (var(--design-unit) * 2 * var(--density))) * 1px);
  --tfui-card-space: calc(var(--tfui-padding) * 2);
   
}

