@import '_variables.less';

body {
  color: var(--tf-font-color-base);
  background: var(--tf-fill-color-base);
  font-size: var(--tf-font-size-base);
}
a {
  color: var(--tf-foreground-color-link);

  &:hover {
    color: var(--tf-foreground-color-link-hover);
  }
}