/*Colors*/
html:root {
  --success: var(--tf-green-500);
  --warning: var(--tf-amber-500);
  --error: var(--tf-red-500);
  --info: var(--tf-sky-500);
  --highlight-bg: var(--tf-yellow-500);
}

/* Inputs */
fluent-text-field {
  &.with-prefix {
    &::part(start) {
      color: var(--tf-font-color-mute);
    }

    &::part(control) {
      padding-left: 0;
    }
  }
}

fluent-switch::part(label){
  margin-inline-end:0;
}

fluent-select{
  fluent-option{
    --neutral-fill-stealth-rest:transparent;
    --neutral-fill-stealth-hover:color-mix(in srgb, var(--fill-color), var(--accent-fill-rest) 10%);
  }
}

.listbox{
  z-index: 20;
  position: relative;
}

/*Badge*/
.input-badge {
  border-radius: calc(var(--control-corner-radius) * 1px);

  &::part(control) {
    padding: 7px 5px;

  }

  &--error {
    background-color: var(--error);
    color: var(--foreground-on-accent-rest);
  }
}

/*Message bar*/
div[class ^='fluent-messagebar'],
.fluent-messagebar-notification,
.fluent-messagebar-message {
  animation: none !important;
}

.fluent-messagebar {
  .title{
    display: block;
    font-size:var(--type-ramp-plus-1-font-size);
    line-height: var(--type-ramp-plus-1-line-height);
  }
  &.intent-success {
    --success: var(--tf-green-500);
    border-color: var(--tf-green-200) !important;
    background-color: var(--tf-green-50) !important;

    &.dark {
      border-color: var(--tf-green-800) !important;
      background-color: var(--tf-green-950) !important;
    }
  }

  &.intent-warning {
    --warning: var(--tf-amber-500);
    border-color: var(--tf-amber-200) !important;
    background-color: var(--tf-amber-50) !important;

    &.dark {
      border-color: var(--tf-amber-800) !important;
      background-color: var(--tf-amber-950) !important;
    }
  }

  &.intent-error {
    --error: var(--tf-red-500);
    border-color: var(--tf-red-200) !important;
    background-color: var(--tf-red-50) !important;

    &.dark {
      border-color: var(--tf-red-800) !important;
      background-color: var(--tf-red-950) !important;
    }
  }

  &.intent-info {
    border-color: var(--tf-sky-200) !important;
    background-color: var(--tf-sky-50) !important;
    --info: var(--tf-sky-500);

    &.dark {
      border-color: var(--tf-sky-800) !important;
      background-color: var(--tf-sky-950) !important;
    }
  }
}

/*Menu*/
fluent-menu-item{
  &::part(start){
    display: flex;
    align-items: center;
  }
}

/*Dialog*/
.fluent-dialog-main.right::part(control),
.fluent-dialog-main.left::part(control) {
  --dialog-padding: 0px;
}