@import '_variables.less';

//colors
html:root {
  --neutral-foreground-rest: var(--tf-font-color-base);
  
  --neutral-stroke-rest: var(--tf-stroke-color);
  --neutral-stroke-hover: var(--tf-stroke-color-hover);
  --neutral-stroke-focus: var(--tf-stroke-color-active);
  --neutral-stroke-active: var(--tf-stroke-color-active);
  
  --neutral-stroke-input-rest: var(--tf-stroke-color);
  --neutral-stroke-input-hover: var(--tf-stroke-color);
  --neutral-stroke-input-focus: var(--tf-stroke-color);
  --neutral-stroke-input-active: var(--tf-stroke-color);

  --neutral-stroke-control-rest: var(--tf-stroke-color);
  --neutral-stroke-control-hover: var(--tf-stroke-color);  
  --neutral-stroke-control-focus: var(--tf-stroke-color);  
  --neutral-stroke-control-active: var(--tf-stroke-color);  
  
  --neutral-fill-rest: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-hover: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-focus: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-active: light-dark(var(--tf-base-50), var(--tf-base-800));
  
  --neutral-fill-input-rest: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-input-hover: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-input-focus: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-input-active: light-dark(var(--tf-base-50), var(--tf-base-800));

  --neutral-fill-stealth-rest: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-stealth-hover: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-stealth-focus: light-dark(var(--tf-base-50), var(--tf-base-800));
  --neutral-fill-stealth-active: light-dark(var(--tf-base-50), var(--tf-base-800));  
  
  
  --accent-fill-rest: light-dark(var(--tf-accent-700), var(--tf-accent-900));
  --accent-fill-hover: light-dark(var(--tf-accent-800), var(--tf-accent-950));
  --accent-fill-focus: light-dark(var(--tf-accent-800), var(--tf-accent-950));
  --accent-fill-active: light-dark(var(--tf-accent-800), var(--tf-accent-950));
  
  --accent-stroke-control-rest: light-dark(var(--tf-accent-600), var(--tf-accent-800));
  --accent-stroke-control-hover: light-dark(var(--tf-accent-700), var(--tf-accent-900));
  --accent-stroke-control-focus: light-dark(var(--tf-accent-600), var(--tf-accent-800));
  --accent-stroke-control-active: light-dark(var(--tf-accent-600), var(--tf-accent-800));

  --foreground-on-accent-rest: light-dark(var(--tf-base-50), var(--tf-base-50));
  --foreground-on-accent-hover: light-dark(var(--tf-base-50), var(--tf-base-50));
  --foreground-on-accent-focus: light-dark(var(--tf-base-50), var(--tf-base-50));
  --foreground-on-accent-active: light-dark(var(--tf-base-50), var(--tf-base-50));
  
  
  --clear-button-hover: var(--tf-stroke-color);

  --fill-color: var(--tf-fill-base);
}

/*Button*/
fluent-button, fluent-anchor {
  &.accent {
    svg {
      --accent-fill-rest: var(--tf-base-50) !important;
    }
  }
}

/*Dialog*/
fluent-dialog {
  &::part(overlay) {
    background: light-dark(rgba(0, 0, 0, 0.3),rgba(255, 255, 255, 0.05));
  }
  &::part(control){
    --tf-elevation-color:light-dark(rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 0.03));
    --elevation-shadow-dialog: 0 0 2px var(--tf-elevation-color), 0 calc(128 * 0.5px) calc((128 * 1px)) var(--tf-elevation-color);
  }
}


/*Menu*/
fluent-anchored-region,
fluent-menu {
  --neutral-layer-floating: light-dark(var(--tf-base-100), var(--tf-base-700));
}

fluent-menu-item {
  --neutral-foreground-rest: var(--tf-font-color-base);
}

/*Message*/
.fluent-messagebar-message .title {
  display: block;
}

div[class ^='fluent-messagebar'],
.fluent-messagebar-notification,
.fluent-messagebar-message {
  animation: none !important;
}

.fluent-messagebar {
  &.intent-success {
    --success: light-dark(var(--tf-green-600), var(--tf-green-800));
    background-color: light-dark(var(--tf-green-100), var(--tf-green-950)) !important;
    border-color: light-dark(var(--tf-green-200), var(--tf-green-900)) !important;
  }

  &.intent-error {
    --error: light-dark(var(--tf-red-600), var(--tf-red-800));
    background-color: light-dark(var(--tf-red-100), var(--tf-red-950)) !important;
    border-color: light-dark(var(--tf-red-200), var(--tf-red-900)) !important;
  }

  &.intent-warning {
    --warning: light-dark(var(--tf-amber-600), var(--tf-amber-800));
    background-color: light-dark(var(--tf-amber-100), var(--tf-amber-950)) !important;
    border-color: light-dark(var(--tf-amber-200), var(--tf-amber-900)) !important;
  }

  &.intent-info {
    --info: light-dark(var(--tf-blue-500), var(--tf-blue-700));
    background-color: light-dark(var(--tf-blue-100), var(--tf-blue-950)) !important;
    border-color: light-dark(var(--tf-blue-200), var(--tf-blue-900)) !important;
  }
}

/*Select*/
fluent-select{
  &::part(listbox){
    --fill-color: var(--tf-fill-base-hover);
   
  }
  fluent-option{
    --accent-fill-rest:var(--tf-accent-500);
    --neutral-foreground-rest:var(--tf-font-color-base);
    
    --neutral-fill-secondary-rest:var(--tf-fill-base-active);
    --neutral-fill-secondary-hover:var(--tf-fill-base-active);
    --neutral-fill-secondary-focus:var(--tf-fill-base-active);
    --neutral-fill-secondary-active:var(--tf-fill-base-active);
    
    --neutral-fill-stealth-rest: transparent;
    --neutral-fill-stealth-hover: light-dark(var(--tf-base-50), var(--tf-base-800));
    --neutral-fill-stealth-focus: light-dark(var(--tf-base-50), var(--tf-base-800));
    --neutral-fill-stealth-active: light-dark(var(--tf-base-50), var(--tf-base-800));    
  }
}

/*Input*/
fluent-text-field{
  &.with-prefix {
    &::part(start) {
      color: var(--tf-font-color-mute);
    }

    &::part(control) {
      padding-left: 0;
    }
  }
}