.tf-card {
  border: 1px solid var(--neutral-stroke-rest);
  border-radius: calc(var(--layer-corner-radius) * 1px);
  background: var(--neutral-fill-secondary-active);
  padding: var(--tf-padding);
  box-shadow: var(--elevation-shadow-card-active);
  display: flex;
  flex-flow: column;
  
  &__title {
    flex: 0 0 auto;
    background: transparent;
    border-radius: 0.5rem;
    //padding: 0 0 1rem 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      flex: 0 0 auto;
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
      font-size: var(--type-ramp-plus-2-font-size);
      font-weight: 600;      
    }

    &__right {
      flex: 0 0 auto;
      flex-wrap: nowrap;
      padding-left: 1rem;
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
    }
  }

  &__subtitle {
    color: var(--neutral-foreground-hint);
    font-size: var(--type-ramp-minus-1-font-size);
  }

  &__title + &__content {
    padding-top: calc(var(--tf-padding) * 2);
  }

  & + & {
    margin-top: var(--tf-padding);
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      background: var(--neutral-fill-hover);
    }
  }
  
  &__content {
    flex: 1 1 auto;
    fluent-anchor {
      &.stealth {
        --neutral-fill-stealth-rest: var(--neutral-foreground-rest);
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
    padding-top: 1rem;
  }
}


.tf-card--filter{

  .tf-card > .tf-card__title{
    padding:5px 10px;
  }
  
  .tf-filter-manage{
    &__item{
      &__title{
        font-size: var(--type-ramp-base-font-size);
        font-weight: normal;
      }
      &__suffix{
        color:var(--neutral-foreground-hint);
        font-size: var(--type-ramp-base-font-size);
        font-weight: normal;
      }
    }

    .card-logical.tf-card {
      padding: 0;
      border-radius: 0;

      & > .tf-card__title {
        background: var(--fill-color);
        border-bottom: 1px solid var(--neutral-stroke-rest);
        border-radius: 0;
        font-size: var(--type-ramp-base-font-size);
      }

      & > .tf-card__content {
        margin: 10px;
        padding: 0;
      }
    }
    .card-rule.tf-card {
      padding: 0;
      border-radius: 0;

      & > .tf-card__title {
        background: var(--fill-color);
        border-radius: 0;
      }

      & > .tf-card__content {
        margin: 10px;
        padding: 0;
      }
    }
    .tf-card--no-body {
      .tf-card__content {
        display: none;
      }
    }
  }

}


.tf-card fluent-badge{

  --neutral-fill-secondary-rest: light-dark(var(--neutral-layer-4),var(--neutral-layer-2));
}

