.tf-card {
  --tf-card-border-radius: calc(var(--layer-corner-radius) * 1px);
  --tf-card-background-color: var(--fill-color);
  border: 1px solid var(--neutral-stroke-rest);
  border-radius: var(--tf-card-border-radius);
  background: var(--tf-card-background-color);
  padding: var(--tf-padding);
  box-shadow: var(--elevation-shadow-card-rest);
  display: flex;
  flex-flow: column;
  
  &__title {
    flex: 0 0 auto;
    background: transparent;
    border-radius: 0.5rem;
    //padding: 0 0 1rem 0;
    margin-bottom: 0;
    font-size: var(--type-ramp-plus-2-font-size);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      flex: 0 0 auto;
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
    }

    &__right {
      flex: 0 0 auto;
      flex-wrap: nowrap;
      padding-left: 1rem;
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
    }
  }

  &__subtitle {
    color: var(--neutral-foreground-hint);
    font-size: var(--type-ramp-minus-1-font-size);
  }

  &__title + &__content {
    padding-top: calc(var(--tf-padding) * 2);
  }

  & + & {
    margin-top: var(--tf-padding-sm);
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      background: var(--neutral-fill-hover);
    }
  }
  
  &__content {
    flex: 1 1 auto;
    fluent-anchor {
      &.stealth {
        --neutral-fill-stealth-rest: var(--neutral-foreground-rest);
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
    padding-top: 1rem;
  }
}


.tf-filter-manage .card-logical.tf-card {
  border: 1px solid var(--tf-blue-200);
  padding: 0;
  border-radius: 0;

  & > .tf-card__title {
    background: var(--tf-blue-100);
    border-radius: 0;
  }

  & > .tf-card__content {
    margin: 10px;
    padding: 0;
  }
}

.tf-filter-manage .card-rule.tf-card {
  border: 1px solid var(--tf-orange-200);
  padding: 0;
  border-radius: 0;

  & > .tf-card__title {
    background: var(--tf-orange-100);
    border-radius: 0;
  }

  & > .tf-card__content {
    margin: 10px;
    padding: 0;
  }
}

.tf-filter-manage .tf-card--no-body {
  .tf-card__content {
    display: none;
  }
}

