.tf-header-tabs {
  padding-left: var(--tf-padding);
  padding-right: var(--tf-padding);
  border-bottom: 1px solid var(--neutral-stroke-hover);
  --tf-tab-padding:calc(var(--tf-padding) / 3);

  fluent-tabs {
    margin-left: calc(-1 * var(--tf-tab-padding));
    &::part(activeIndicator) {
      width: 60%;
      position: relative;
      bottom: -7px;
    }
  }

  fluent-tab {
    padding-left: var(--tf-tab-padding);
    padding-right: var(--tf-tab-padding);
    --accent-fill-rest:var(--neutral-foreground-rest);
    svg{
      margin-right: 3px;
    }
  }
}     