@import '_variables.less';

.tflg {
  display: flex;
  flex-flow: row;

  &:not(.tflg--has-page-tabs) {
    --tf-page-tabs-height: 0px;
  }

  &__aside {
    flex: 0 0 var(--tf-aside-width);
    display: flex;
    flex-flow: column;
    background: var(--tf-fill-color-hover);
    border-right: 1px solid var(--tf-stroke-color-mute);
    --accent-fill-rest: light-dark(color-mix(in srgb, var(--tf-accent-500), transparent 30%), color-mix(in srgb, var(--tf-accent-500), transparent 50%));
  }

  &__wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
  }

  &__space-header {
    flex: 0 0 var(--tf-space-header-height);
  }

  &__space-actions {
    flex: 0 0 var(--tf-space-actions-height);
  }
 
  &__sidenav {
    flex: 1 1 auto;
    height: calc(100vh - var(--tf-space-header-height) - var(--tf-space-actions-height));
    overflow-y: auto;
    scrollbar-color: var(--tf-foreground-color-mute) var(--tf-background-color-body);
    scrollbar-width: thin;
  }

  &__page-topbar {
    flex: 0 0 var(--tf-topbar-height);
  }

    &__page-content {
    flex: 1 1 auto;
  }
}     