@import '_variables.less';

.tflg {
  display: flex;
  flex-flow: row;

  &:not(.tflg--has-page-tabs) {
    --tf-page-tabs-height: 0px;
  }

  &:not(.tflg--has-return-btn) {
    --tf-space-return-btn-height: 0px;
  }

  &__aside {
    flex: 0 0 var(--tf-aside-width);
    display: flex;
    flex-flow: column;
    background: var(--tf-fill-color-invert);
    border-right: 1px solid var(--tf-stroke-color-mute);
    --accent-fill-rest: light-dark(color-mix(in srgb, var(--tf-accent-500), transparent 30%), color-mix(in srgb, var(--tf-accent-500), transparent 50%));
  }

  &__wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
  }

  &__space-header {
    flex: 0 0 var(--tf-space-header-height);
  }

  &__space-actions {
    flex: 0 0 var(--tf-space-actions-height);
  }

  &__return-btn {
    height: var(--tf-space-return-btn-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding-left: var(--tf-padding-aside);
    padding-right: var(--tf-padding-aside); 

    fluent-anchor {
      flex:1 1 auto;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      width: 90%;
      height: 1px;
      border-bottom: 1px dashed var(--tf-stroke-color-mute);
      left: 5%;
    }
  }

  &__sidenav {
    flex: 1 1 auto;
    height: calc(100vh - var(--tf-space-header-height) - var(--tf-space-return-btn-height) - var(--tf-space-actions-height));
    overflow-y: auto;
    scrollbar-color: var(--tf-foreground-color-mute) var(--tf-background-color-body);
    scrollbar-width: thin;
  }

  &__page-topbar {
    flex: 0 0 var(--tf-topbar-height);
  }

  &__page-header {
    flex: 0 0 var(--tf-page-header-height);
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__page-tabs {
    flex: 0 0 var(--tf-page-tabs-height);
    display: flex;
    flex-flow: column;
    justify-content: end;
  }

  &__page-content {
    flex: 1 1 auto;
    height: calc(100vh - var(--tf-topbar-height) - var(--tf-page-header-height) - var(--tf-page-tabs-height));
    overflow-y: auto;
    scrollbar-color: var(--tf-foreground-color-mute) var(--tf-background-color-body);
    scrollbar-width: thin;
  }
}     