.tflpc {
  display: flex;
  flex-flow: column nowrap;

  &:not(.tflpc--has-page-tabs) {
    --tfui-page-tabs-height: 0px;
  }

  &__header {
    flex: 0 0 var(--tfui-page-header-height);
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 var(--tfui-padding);

    &__left {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      min-height: 32px;

      &__title {
        flex: 1 1 auto;
        
        font-weight: 600;
        font-size: var(--type-ramp-plus-3-font-size);
        line-height: var(--type-ramp-plus-3-line-height);
      }

      &__icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        padding-right: var(--tfui-padding);

      }
      
      
      &__return {
        flex: 0 0 auto;
        padding-right: var(--tfui-padding);

      }
    }

    &__right {
      flex: 0 0 auto;
      min-height: 32px;
      display: flex;
      align-items: center;
      gap: var(--tfui-padding);
      fluent-search{
        &::part(root){
          background:padding-box linear-gradient(var(--neutral-fill-input-active),var(--neutral-fill-input-active)),border-box var(--neutral-stroke-input-active);
        }
      }
    }
  }

  &__tabs {
    flex: 0 0 var(--tfui-page-tabs-height);
    display: flex;
    flex-flow: column;
    justify-content: end;
    padding-left: var(--tfui-padding);
    padding-right: var(--tfui-padding);
  }

  &__content {
    flex: 1 1 auto;
    height: calc(100vh - var(--tfui-topbar-height) - var(--tfui-page-header-height) - var(--tfui-page-tabs-height));
    width: calc(100vw - var(--tfui-aside-width) - 1px);
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
  }
}
