.tf-page-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: calc(var(--tf-padding) - 5px);
  padding-right: calc(var(--tf-padding) - 5px);

  &__left {
    flex: 0 0 auto;
  }

  &__right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
  }

  fluent-breadcrumb-item {
    &::part(start) {
      --accent-fill-rest: var(--accent-fill-rest);
    }

    &::part(control) {
      display: flex;
      align-items: center;
      height: 23px;
      padding: 0 5px;
      border-radius: calc(var(--control-corner-radius) * 1px);
      margin-inline-end: 0;
      cursor: pointer;
      font-size: var(--type-ramp-minus-1-font-size);
      color:var(--neutral-foreground-hint);
    }

    &::part(separator) {
      color:var(--neutral-foreground-hint);
      margin: 0 5px;
    }

    &:hover::part(control) {
      background: color-mix(in srgb, var(--neutral-layer-1), var(--accent-fill-rest) 5%);
      color: var(--accent-fill-rest);
    }
    
    
    
  }

  fluent-divider {
    height: 1rem;
    margin: 0 0.5rem;
  }

  fluent-anchor, fluent-button {
    &::part(control) {
      border-color: transparent;
    }

    &:hover {
      &::part(control) {
        border-color: var(--neutral-stroke-hover);
      }
    }
  }

}     