@import '_variables.less';

.tf-sidenav {
  --tf-sidenav-return-height:40px;
  padding-left: var(--tf-padding-sm);
  padding-right: var(--tf-padding-sm);
  padding-top: var(--tf-padding-sm);

  .tf-treemenu__item {
    padding-left: var(--tf-padding-sm);
    padding-right: var(--tf-padding-sm);

    svg {
      //--accent-fill-rest: light-dark(color-mix(in srgb, var(--tf-accent-500), transparent 30%),
      //color-mix(in srgb, var(--tf-accent-500), transparent 50%));
    }
  }
}     