@import '_variables.less';

.tf-sidenav {
  --tf-sidenav-return-height:40px;
  padding-left: var(--tf-padding-aside);
  padding-right: var(--tf-padding-aside);
  padding-top: var(--tf-padding-aside);

  .tf-treemenu__item {
    padding-left: var(--tf-padding-aside);
    padding-right: var(--tf-padding-aside);

    svg {
      --accent-fill-rest: light-dark(color-mix(in srgb, var(--tf-accent-500), transparent 30%),
      color-mix(in srgb, var(--tf-accent-500), transparent 50%));
    }
  }
}     