@import '_variables.less';

.tf-space-actions {
  position: relative;
  padding-left: var(--tf-padding-aside);
  padding-right: var(--tf-padding-aside);
  --tf-space-pane-extra-space: 10px;
  display: flex;
  justify-items: center;
  align-items: start;
  gap: 10px;
  height: 100%;

  fluent-button {
    flex: 1 1 auto;

      svg {
      --accent-fill-rest: var(--tf-font-color-base);
    }
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    width: 90%;
    height: 1px;
    border-bottom: 1px dashed var(--tf-stroke-color-mute);
    left: 5%;
  }
}     