.tf-select-component {
  width: 100%;

  .tf-card {
    border: calc(var(--stroke-width) * 1px) solid transparent;
    padding: 5px;
    border-radius: calc(var(--control-corner-radius) * 1px);
    background: padding-box linear-gradient(var(--neutral-fill-rest), var(--neutral-fill-rest)), border-box var(--neutral-stroke-control-rest);
    box-shadow: none !important;

    &__content {
      padding-top: 0;
    }
  }

  &.disabled .tf-card {
    background: var(--neutral-fill-rest);
    border-color: var(--neutral-stroke-rest);
    cursor: not-allowed;
  }

  &:not(.disabled):not(.readonly) .tf-card:hover {
    background: padding-box linear-gradient(var(--neutral-fill-hover), var(--neutral-fill-hover)), border-box var(--neutral-stroke-control-hover)
  }

  &.readonly .tf-card {
    cursor: not-allowed;
    &:hover {
      background: padding-box linear-gradient(var(--neutral-fill-input-hover), var(--neutral-fill-input-hover)), border-box var(--neutral-stroke-input-hover);
      cursor: no-drop;
    }
  }

  .tf-component {
    display: flex;
    width: 100%;
  }

  .tf-component-icon {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: start;

    svg {
      width: 32px !important;
    }
  }

  .tf-component-meta {
    flex: 1 1 auto;
  }

  .tf-component-title {
    font-size: 1.15em;
  }

  .tf-component-description {
    color: var(--neutral-base-color);
  }

  .tf-component-caret {
    flex: 0 0 20px;
    display: flex;
    align-items: center;

    svg {
      --accent-fill-rest: var(--neutral-foreground-rest)
    }
  }

  .tf-component--small .tf-component-icon {
    flex-basis: 24px;
  }

  .tf-component--small .tf-component-icon svg {
    width: 18px !important;
  }

  .tf-component--small .tf-component-title {
    font-size: 1em;
  }

  .tf-component--small .tf-component-description {
    font-size: 0.85em;
  }

  fluent-menu-item {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1rem;
    height: auto;
    display: flex !important;
  }

  fluent-menu-item::part(start) {
    display: none;
  }

  fluent-menu-item::part(content) {
    flex: 1 1 auto;
  }
}









