.tf-space-actions {
  position: relative;
  padding-left: var(--tf-padding);
  padding-right: var(--tf-padding);
  --tf-space-pane-extra-space: 10px;
  display: flex;
  justify-items: center;
  align-items: start;
  gap: 10px;
  height: 100%;

  fluent-button {
    flex: 1 1 auto;
  }
}     