.tf-sidenav {
  padding-top: var(--tfui-padding);

  .tf-treemenu__item {
    padding-left: var(--tfui-padding);
    padding-right: var(--tfui-padding);

    svg {
      //--accent-fill-rest: light-dark(color-mix(in srgb, var(--tf-accent-500), transparent 30%),
      //color-mix(in srgb, var(--tf-accent-500), transparent 50%));
    }
  }
}     