@import '_variables.less';

.tf-welcome {
  padding-left:var(--tfui-padding);
  padding-right:var(--tfui-padding);
  padding-top:3rem;
  h1,h3{
    text-align: center;
  }
  
  &__grid{
    justify-content: center;
    max-width: 1000px;
    margin:0 auto;
    margin-top:3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: calc(var(--tfui-padding) * 2);
  }
  
  .tf-card{
    height:100%;
    &__title em{
      font-style: normal;
      color:var(--accent-fill-rest);
    }
  }
  

}

