@import '_variables.less';

.tf-welcome {
  padding-left:var(--tf-padding-base);
  padding-right:var(--tf-padding-base);
  h1,h3{
    text-align: center;
  }
  
  &__grid{
    max-width: 1000px;
    margin:0 auto;
    margin-top:3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--tf-padding-base) * 2);
  }
}

