.tf-comment-column-component {
	display:flex;
	align-items:center;
}

.tf-comment-column-component__icon {
	flex:0 0 24px;
	height:20px;
}

.tf-comment-column-component__value {
	flex:1 1 auto;
	line-height:20px;
}