::deep .talk-panel {
	height: 100vh;
	width: 100%;
	display: flex;
}

::deep .talk-panel__left {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}

::deep .talk-panel__left__header {
	flex: 0 0 50px;
	border-bottom: 1px solid var(--neutral-stroke-rest);
	padding: 0 10px;
	display: flex;
	align-items: center;
}

::deep .talk-panel__left__body {
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}


::deep .talk-panel__left__footer {
	flex: 0 0 auto;
	padding: 5px 10px;
	border-top: 1px solid var(--neutral-stroke-rest);
	display: flex;
	flex-flow: column;
}

::deep .talk-panel__right {
	flex: 0 0 25vw;
	border-left: 1px solid var(--neutral-stroke-rest);
}

::deep .talk-panel__right__header {
}

::deep .talk-panel__right__body {
}

::deep .talk-panel__left__footer__editor {
	flex: 1 1 auto;
}


::deep .talk-panel__left__footer__actions {
	flex: 0 0 45px;
	padding-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


::deep .text-muted {
	color: var(--neutral-base-color);
	font-size: 0.85em;
}


::deep .talk-panel__left__body__messages {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden scroll;
	display: flex;
	flex-flow: column-reverse;
	justify-content: end;
}

::deep .talk-panel__left__body__messages__message {
	flex: 0 0 auto;
	width:100%;
	display: flex;
	padding: 10px;
	position:relative;
}
	::deep .talk-panel__left__body__messages__message:hover {
		background:rgba(180, 180, 180, 0.05);
	}


::deep .talk-panel__left__body__messages__message--last {
	margin-bottom: 1rem;
}

::deep .talk-panel__left__body__messages__message__left {
	flex: 0 0 40px;
	padding-top: 4px;
}

::deep .talk-panel__left__body__messages__message__right {
	flex: 1 1 auto;
}

::deep .talk-panel__left__body__messages__message__actions {
	display:none;
	flex-wrap:nowrap;
	position:absolute;
	top:-15px;
	right:0px;
	height:42px;
	width:auto;
	padding:5px;
	background:var(--neutral-fill-input-active);
	border:1px solid var(--neutral-stroke-rest);
	border-radius:calc(var(--control-corner-radius) * 1px);
}

::deep .talk-panel__left__body__messages__message:hover
.talk-panel__left__body__messages__message__actions {
	display:flex;
}

::deep .talk-panel__left__body__messages__message__actions fluent-button::part(control) {
	background:transparent;
}

::deep .talk-panel__left__body__messages__message__actions fluent-button svg {
	fill:var(--neutral-base-color) !important;
}

::deep .talk-panel__left__body__messages__message__actions fluent-button:hover svg {
	fill:white !important;
}

::deep .talk-sender {
	font-weight: bold;
}

::deep .talk-timestamp {
	color: var(--neutral-base-color);
}

::deep .talk-channel-label {
	font-weight: bold;
	font-size: 1.15rem;
	color: var(--neutral-base-color);
}
