@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<div class="tf-header">
	<div class="tf-header__left">
		<div class="tf-header__item">
			<TucHeaderHome />
		</div>
		<div class="tf-header__item">
			<TucHeaderCurrentSpace />
		</div>
		<TucHeaderSpaceMenu />
	</div>
	<div class="tf-header__right">
		<TucUserNavigation/>
	</div>
</div>


