@namespace WebVella.Tefter.Web.Pages
@page "/admin/data-providers"
@page "/admin/data-providers/{ProviderId:guid}/{*Path}"

@layout AdminLayout
@inherits TfBasePage

<TfAdminDataProviderStateManager />

@if (ScreenStateSidebarExpanded.Value)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@TfConstants.AdminSidebarStyle">
		<TfAdminDataProviderNavigation />
	</FluentStack>
}
@if (ProviderId == Guid.Empty)
{
	<FluentBodyContent Class="content-body">
		<div class="content-inner">
			<FluentMessageBar Title="Under Construction" AllowDismiss="false"
							  Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
				<div>TBD: Data Provider dashboard with various height level overview information</div>
			</FluentMessageBar>
			<FluentMessageBar Title="HOW TO PROCEED" AllowDismiss="false"
							  Intent="@MessageIntent.Warning">
				<div>Select provider from the list to review and manage it</div>
			</FluentMessageBar>
		</div>
	</FluentBodyContent>
}
else
{
	var urlData = Navigator.GetUrlData();
	<FluentBodyContent Class="content-body with-toolbar">
		<TfAdminDataProviderDetailsNav />
		<div class="content-inner with-toolbar">
			@if (!urlData.SegmentsByIndexDict.ContainsKey(3))
			{
				<TfAdminDataProviderDetails />
			}
			else if (urlData.SegmentsByIndexDict[3] == "schema")
			{
				<TfAdminDataProviderSchema/>
			}
			else if (urlData.SegmentsByIndexDict[3] == "keys")
			{
				<TfAdminDataProviderKeys />
			}
			else if (urlData.SegmentsByIndexDict[3] == "aux")
			{
				<TfAdminDataProviderAux />
			}
			else if (urlData.SegmentsByIndexDict[3] == "synchronization")
			{
				<TfAdminDataProviderSynchronization />
			}
			else if (urlData.SegmentsByIndexDict[3] == "data")
			{
				<TfAdminDataProviderData />
			}
		</div>
	</FluentBodyContent>

}


