@namespace WebVella.Tefter.Web.Pages
@page "/admin/roles"
@page "/admin/roles/{RoleId:guid}/{*Path}"
@layout AdminLayout
@inherits TfBasePage
<TfLayoutBody>
	<Aside>
		<TfAdminRoleNavigation />
	</Aside>
	<ChildContent>
		@if (RoleId == Guid.Empty)
		{
@* 			<TfLayoutBodyMain>
				<Header>
					<TfPageHeader>@LOC("Roles")</TfPageHeader>
				</Header>
				<ChildContent>
					<FluentMessageBar Title="Under Construction" AllowDismiss="false"
									  Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
						<div>TBD: Users roles dashboard with various height level overview information</div>
					</FluentMessageBar>
					<FluentMessageBar Title="HOW TO PROCEED" AllowDismiss="false"
									  Intent="@MessageIntent.Warning">
						<div>Select user from the list to review and manage it</div>
					</FluentMessageBar>
				</ChildContent>
			</TfLayoutBodyMain> *@
		}
		else
		{
			<TfLayoutBodyMain HeaderClass="aside-tabs">
				<Header>
					<TfPageHeader>@TfAppState.Value.AdminManagedRole?.Name</TfPageHeader>
				</Header>
				<ChildContent>
					<TfAdminRoleDetails />
				</ChildContent>
			</TfLayoutBodyMain>
		}
	</ChildContent>
</TfLayoutBody>



