@namespace WebVella.Tefter.Web.Pages
@page "/admin/data-providers"
@page "/admin/data-providers/{ProviderId:guid}/{*Path}"

@layout AdminLayout
@inherits TfBasePage

<TfLayoutBody>
	<Aside>
		<TfAdminDataProviderNavigation />
	</Aside>
	<ChildContent>
		@if (ProviderId == Guid.Empty || TfAppState.Value.AdminDataProvider is null)
		{
			<TfLayoutBodyMain>
				<Header>
					<TfPageHeader>@LOC("Data Providers")</TfPageHeader>
				</Header>
				<ChildContent>
					<FluentMessageBar Title="Under Construction" AllowDismiss="false"
									  Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
						<div>TBD: Data Provider dashboard with various height level overview information</div>
					</FluentMessageBar>
					<FluentMessageBar Title="HOW TO PROCEED" AllowDismiss="false"
									  Intent="@MessageIntent.Warning">
						<div>Select provider from the list to review and manage it</div>
					</FluentMessageBar>
				</ChildContent>
			</TfLayoutBodyMain>
		}
		else
		{
			if (TfAppState.Value.Route.ThirdNode == RouteDataThirdNode.Data)
			{
				<TfAdminDataProviderData />
			}
			else
			{
				<TfLayoutBodyMain HeaderClass="aside-tabs">
					<Header>
						<TfPageHeader>@TfAppState.Value.AdminDataProvider?.Name</TfPageHeader>
					</Header>
					<HeaderAside>
						<TfAdminDataProviderDetailsNav />
					</HeaderAside>
					<ChildContent>
						@if (TfAppState.Value.Route.ThirdNode == RouteDataThirdNode.Details)
						{
							<TfAdminDataProviderDetails />
						}
						else if (TfAppState.Value.Route.ThirdNode == RouteDataThirdNode.Schema)
						{
							<TfAdminDataProviderSchema />
						}
						else if (TfAppState.Value.Route.ThirdNode == RouteDataThirdNode.AuxColumns)
						{
							<TfAdminDataProviderAux />
						}
						else if (TfAppState.Value.Route.ThirdNode == RouteDataThirdNode.Synchronization)
						{
							<TfAdminDataProviderSynchronization />
						}
					</ChildContent>
				</TfLayoutBodyMain>
			}
		}
	</ChildContent>
</TfLayoutBody>

