@page "/admin/shared-columns"
@layout AdminLayout
@inherits TfBasePage

<FluentBodyContent Class="content-body">
	<div class="content-inner">
		<TfPageHeader Style="margin-bottom:15px;">@LOC(TfConstants.AdminSharedColumnsMenuTitle)</TfPageHeader>
		<TfAdminSharedColumns/>
	</div>
</FluentBodyContent>
