@namespace WebVella.Tefter.Web.Pages
@page "/admin/users/{UserId:guid}/access"
@layout AdminLayout
@inherits TfBasePage

@if (ScreenStateSidebarExpanded.Value)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@TfConstants.AdminSidebarStyle">
		<TfAdminUserNavigation />
	</FluentStack>
}
<FluentBodyContent Class="content-body with-toolbar">
	<TfAdminUserDetailsNav />
	<div class="content-inner with-toolbar">
		<FluentMessageBar Title="Under Construction" AllowDismiss="false"
						  Intent="@MessageIntent.Info">
			<div>TBD: List of user's accessible views, so admin can check for permission  problems</div>
		</FluentMessageBar>
	</div>
</FluentBodyContent>


