@namespace WebVella.Tefter.Web.Pages
@page "/admin/templates"
@page "/admin/templates/{ResultId:int}"
@layout AdminLayout
@inherits TfBasePage
<TfLayoutBody>
	<Aside>
		<TfAdminTemplateNavigation />
	</Aside>
	<ChildContent>
		<TfLayoutBodyMain>
			<Header>
				<TfPageHeader>
					@if (TfAppState.Value.Route.TemplateResultType is null)
					{
						<span>@LOC(TfConstants.AdminTemplatesMenuTitle)</span>
					}
					else
					{
						<span class="text-muted">@LOC("Templates with result"):</span> 
						<span>
							@TfAppState.Value.Route.TemplateResultType.Value.ToDescriptionString()
						</span>
					}
				</TfPageHeader>
			</Header>
			<ChildContent>
				<TfAdminTemplates />
			</ChildContent>
		</TfLayoutBodyMain>

	</ChildContent>
</TfLayoutBody>


