@namespace WebVella.Tefter.Web.Pages
@page "/admin/data-providers/{ProviderId:guid}/aux"
@layout AdminLayout
@inherits TfBasePage

@if (ScreenStateSidebarExpanded.Value)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@TfConstants.AdminSidebarStyle">
		<TfAdminDataProviderNavigation />
	</FluentStack>
}

<FluentBodyContent Class="content-body with-toolbar">
	<TfAdminDataProviderDetailsNav />
	<div class="content-inner with-toolbar">
		<FluentMessageBar Title="Under Construction" AllowDismiss="false"
						  Intent="@MessageIntent.Info">
			<div>TBD: Auxiliry columns management</div>
		</FluentMessageBar>
	</div>
</FluentBodyContent>
