@page "/admin/file-repository"
@layout AdminLayout
@inherits TfBasePage

<FluentBodyContent Class="content-body">
	<div class="content-inner">
		<TfPageHeader Style="margin-bottom:15px;">@LOC(TfConstants.AdminFileRepositoryMenuTitle)</TfPageHeader>
		<TfAdminFileRepository/>
	</div>
</FluentBodyContent>
