@page "/Error"
@layout SystemLayout

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<FluentButton OnClick="_goHome">Home Page</FluentButton>

@code {
	[Inject] protected NavigationManager Navigator { get; set; }

	private void _goHome()
	{
			Navigator.NavigateTo(TfConstants.HomePageUrl, true);

	}
}