@page "/fast-access/{*Path}"
@inherits TfBasePage
<TfFastAccessStateManager />
@if (ScreenStateSidebarExpanded.Value)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@ThemeState.Value.ThemeSidebarStyle">
		<TfFastAccessNavigation />
	</FluentStack>
}
<FluentBodyContent Class="content-body with-toolbar">
	<TfSpaceViewToolbar />
	<div class="content-inner">
		<TfSpaceView />
	</div>
</FluentBodyContent>