@page "/fast-access"
@inherits TfBasePage
@if (TfUserState.Value.SidebarExpanded)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@TfUserState.Value.ThemeSidebarStyle">
		<TfFastAccessNavigation />
	</FluentStack>
}
<FluentBodyContent Class="content-body with-toolbar">
	<TfSpaceViewToolbar />
	<div class="content-inner">
		
	</div>
</FluentBodyContent>