@page "/404"
@layout SystemLayout

<PageTitle>Page Not found</PageTitle>

<h1 class="text-danger">Page not found</h1>
<p>This page or record does not exist!</p>

<FluentButton OnClick="_goHome">Home Page</FluentButton>

@code{
	[Inject] protected NavigationManager Navigator { get; set; }

	private void _goHome()
	{
		Navigator.NavigateTo(TfConstants.HomePageUrl, true);

	}
}
