@page "/space/{SpaceId:guid}/data/{SpaceDataId:guid}"
@layout SpaceLayout
@inherits TfBasePage
<TfSpaceStateManager />
<FluentBodyContent Class="content-body">
	<div class="content-inner">
		<TfSpaceDataManage Form="@SpaceData" />
	</div>
</FluentBodyContent>

