@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

	<div style="padding:var(--tf-padding-content)">
		<FluentMessageBar Title="Error" AllowDismiss="false"
						  Intent="@MessageIntent.Error">
			<div>No user account Id is provided in the URL</div>
		</FluentMessageBar>
	</div>
