@inherits TfBaseComponent

<div>@LOC("Test")</div>
<div>Solve the problem between admin and dashboarad with localization</div>
<div>@CultureInfo.CurrentCulture</div>
<div>@CultureInfo.CurrentUICulture</div>
<FluentButton OnClick="AddInNotificationCenter">test</FluentButton>
