@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<TfLayoutBodyMain>
	<Header>
		<TfLayoutBodyMainHeader>
			<TfPageHeader>@LOC("Administration Dashboard")</TfPageHeader>
		</TfLayoutBodyMainHeader>
	</Header>
	<ChildContent>
		<FluentMessageBar Title="Under Construction" AllowDismiss="false"
						  Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
			<div>TBD: High level system overview and syncronization log</div>
		</FluentMessageBar>
		<FluentMessageBar Title="HOW TO PROCEED" AllowDismiss="false"
						  Intent="@MessageIntent.Warning">
			<div>Select a menu from the navigation to proceed</div>
		</FluentMessageBar>
	</ChildContent>
</TfLayoutBodyMain>


