@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<TfPageHeader Style="margin-bottom:15px;">@LOC("Administration Dashboard")</TfPageHeader>
<FluentMessageBar Title="Under Construction" AllowDismiss="false"
				  Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
	<div>TBD: High level system overview and syncronization log</div>
</FluentMessageBar>
<FluentMessageBar Title="HOW TO PROCEED" AllowDismiss="false"
				  Intent="@MessageIntent.Warning">
	<div>Select a menu from the navigation to proceed</div>
</FluentMessageBar>