:root {
  --tf-font-color: var(--tf-go-zinc-200);
  --tf-font-color-mute: var(--tf-go-zinc-400);
  --tf-body-color: var(--tf-go-zinc-900);
  --tf-body-color-mute: var(--tf-go-zinc-950);
  --tf-body-color-accent: var(--tf-go-zinc-800);
  --tf-body-color-accent-2: var(--tf-go-zinc-700);
  --tf-body-color-accent-3: var(--tf-go-zinc-600);
  --tf-body-page-header: var(--tf-go-zinc-800);
  --tf-admin-color: var(--tf-go-red-500);
}
fluent-anchored-region > div {
  box-shadow: none !important;
  background-color: transparent !important;
}
fluent-anchored-region fluent-menu {
  background-color: var(--tf-body-color-accent);
}
fluent-anchored-region fluent-menu-item {
  color: var(--tf-font-color);
}
fluent-anchored-region fluent-menu-item:not([disabled]):hover {
  background-color: var(--tf-body-color-accent-2);
}
fluent-anchored-region fluent-menu > fluent-divider {
  border-top-color: var(--tf-body-color-accent-2) !important;
  border-top-width: 1px !important;
}
fluent-badge.neutral:not([fill="somevalue"])::part(control) {
  background-color: var(--tf-body-color-accent-2);
  color: var(--tf-font-color);
}
fluent-button {
  --neutral-foreground-rest: var(--tf-font-color-mute) !important;
}
fluent-button.outline {
  --neutral-stroke-rest: var(--tf-body-color-accent-2);
  --neutral-stroke-hover: var(--tf-body-color-accent);
}
fluent-button.accent {
  --neutral-stroke-rest: var(--tf-body-color-accent-2);
  --neutral-stroke-hover: var(--tf-body-color-accent);
  --accent-fill-hover: var(--accent-foreground-hover);
}
fluent-button.accent::part(control) {
  border-color: var(--neutral-stroke-rest);
}
fluent-button.accent svg {
  fill: var(--tf-font-color) !important;
}
fluent-dialog::part(control) {
  background-color: var(--tf-body-color-accent);
}
fluent-divider {
  border-color: var(--tf-body-color-accent);
  border-width: 3px;
}
:root .tf-select-menu {
  background: var(--tf-body-color-accent) !important;
}
:root .tf-select-menu__body {
  background: var(--tf-body-color-accent) !important;
}
:root .tf-select-menu__body fluent-menu-item .fluent-typography {
  color: var(--tf-font-color-mute);
}
.tf-input-label {
  color: var(--tf-font-color) !important;
}
.tf-input-description {
  color: var(--tf-font-color-mute);
  font-size: 11px;
}
fluent-text-field::part(root),
fluent-search::part(root),
fluent-number-field::part(root),
fluent-select::part(control),
fluent-text-area::part(control),
fluent-switch::part(switch),
.tf-select-btn::part(control) {
  background: color-mix(in srgb, var(--tf-go-yellow-900) 10%, var(--tf-body-color) 90%) !important;
  border-color: var(--tf-body-color-accent-2) !important;
  color: var(--tf-font-color);
  fill: var(--tf-font-color);
}
fluent-text-field[readonly]::part(root),
fluent-number-field[readonly]::part(root),
fluent-select[readonly]::part(control),
fluent-text-area[readonly]::part(control),
fluent-text-field.disabled::part(root),
fluent-number-field.disabled::part(root),
fluent-select.disabled::part(control),
fluent-text-area.disabled::part(control) {
  background: transparent !important;
  border-color: var(--tf-body-color-accent-2) !important;
  color: var(--tf-font-color);
}
.fluent-input-label {
  color: var(--neutral-foreground-hint) !important;
}
fluent-radio::part(label),
fluent-switch::part(label) {
  color: var(--tf-font-color);
}
fluent-switch {
  --neutral-foreground-rest: var(--tf-body-color-accent-2);
}
.sortable-item {
  background-color: var(--tf-body-color-accent-2) !important;
  border-color: var(--tf-body-color-accent-3) !important;
}
.sortable-item .sortable-grab {
  background-color: var(--tf-body-color-accent) !important;
}
fluent-select::part(listbox) {
  background-color: var(--tf-body-color-accent) !important;
}
fluent-select fluent-option {
  background: transparent !important;
  color: var(--tf-font-color);
}
fluent-select fluent-option:hover {
  background-color: var(--tf-body-color-accent-2) !important;
}
fluent-data-grid-row:has([row-selected]) {
  background-color: var(--tf-body-color-accent);
}
.tf-grid .tf-grid-thead tr > .tf-grid-th,
.tf-grid .tf-grid-thead tr > .tf-grid-td {
  color: var(--tf-font-color-mute);
}
.tf-grid-thead-bkg {
  background: var(--tf-body-color-accent);
}
.tf-grid-td,
.tf-grid-th {
  color: var(--tf-font-color);
  border: 1px solid var(--tf-body-color-accent);
}
.tf-grid .tf-grid-tbody tr > .tf-grid-th::before,
.tf-grid .tf-grid-tbody tr > .tf-grid-td::before {
  background-color: var(--tf-body-color);
}
.tf-grid__pager {
  background: var(--tf-body-color-accent) !important;
  border-color: var(--tf-body-color-accent-2) !important;
}
.fluent-messagebar.intent-info {
  background-color: color-mix(in srgb, var(--tf-go-blue-500) 15%, var(--tf-body-color) 85%) !important;
  border-color: color-mix(in srgb, var(--tf-go-blue-500) 15%, var(--tf-body-color) 85%) !important;
  color: var(--tf-font-color);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--tf-body-color-mute);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tf-body-color-accent-2);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tf-body-color-accent);
}