:root {
  /*	//Font
	--tf-font-color: var(--tf-go-stone-800);
	--tf-font-color-mute: var(--tf-go-stone-600);
	//Layout
	--tf-body-color: var(--tf-go-stone-100);
	--tf-body-color-mute: var(--tf-go-stone-50);
	--tf-body-color-accent: var(--tf-go-stone-200);
	--tf-body-color-accent-2: var(--tf-go-stone-300);
	--tf-body-color-accent-3: var(--tf-go-stone-400);
	--tf-body-page-header: var(--tf-go-stone-50);
	//Admin
	--tf-admin-color: var(--tf-go-red-500);*/
}
:root {
  --tf-layout-header-height: 48px;
  --tf-layout-wrapper-height: calc(100vh - var(--tf-layout-header-height));
  --tf-layout-wrapper-aside-width: 60px;
  --tf-layout-wrapper-body-width: calc(100vw - var(--tf-layout-wrapper-aside-width));
  --tf-layout-wrapper-body-border-radius: 8px;
  --tf-layout-wrapper-body-aside-width: 240px;
  --tf-layout-wrapper-body-aside-toolbar-height: 40px;
  --tf-content-padding: 10px;
  --tf-header-height: 48px;
  --tf-content-border-radius: 8px;
  --tf-content-border-top-width: 3px;
  --tf-content-margin-bottom: 5px;
  --tf-content-header-height: 50px;
  --tf-content-toolbar-height: 60px;
  --tf-sidebar-toolbar-height: 40px;
  --tf-sidebar-toolbar-margin-top-bottom: 10px;
  --tf-body-content-padding: 10px;
  --tf-grid-padding-top: calc(var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width));
  --tf-grid-padding-side: calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * 1);
  --tf-grid-negative-margin-top: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * -1);
  --tf-grid-negative-margin-side: calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * -1);
}
:root {
  --tf-black: #000;
  --tf-white: #fff;
  --tf-red-50: oklch(97.1% 0.013 17.38);
  --tf-orange-50: oklch(98% 0.016 73.684);
  --tf-amber-50: oklch(98.7% 0.022 95.277);
  --tf-yellow-50: oklch(98.7% 0.026 102.212);
  --tf-lime-50: oklch(98.6% 0.031 120.757);
  --tf-green-50: oklch(98.2% 0.018 155.826);
  --tf-emerald-50: oklch(97.9% 0.021 166.113);
  --tf-teal-50: oklch(98.4% 0.014 180.72);
  --tf-cyan-50: oklch(98.4% 0.019 200.873);
  --tf-sky-50: oklch(97.7% 0.013 236.62);
  --tf-red-100: oklch(93.6% 0.032 17.717);
  --tf-blue-50: oklch(97% 0.014 254.604);
  --tf-red-200: oklch(88.5% 0.062 18.334);
  --tf-indigo-50: oklch(96.2% 0.018 272.314);
  --tf-red-300: oklch(80.8% 0.114 19.571);
  --tf-violet-50: oklch(96.9% 0.016 293.756);
  --tf-red-400: oklch(70.4% 0.191 22.216);
  --tf-purple-50: oklch(97.7% 0.014 308.299);
  --tf-red-500: oklch(63.7% 0.237 25.331);
  --tf-fuchsia-50: oklch(97.7% 0.017 320.058);
  --tf-red-600: oklch(57.7% 0.245 27.325);
  --tf-pink-50: oklch(97.1% 0.014 343.198);
  --tf-red-700: oklch(50.5% 0.213 27.518);
  --tf-rose-50: oklch(96.9% 0.015 12.422);
  --tf-red-800: oklch(44.4% 0.177 26.899);
  --tf-slate-50: oklch(98.4% 0.003 247.858);
  --tf-red-900: oklch(39.6% 0.141 25.723);
  --tf-gray-50: oklch(98.5% 0.002 247.839);
  --tf-zinc-50: oklch(98.5% 0 0);
  --tf-orange-100: oklch(95.4% 0.038 75.164);
  --tf-neutral-50: oklch(98.5% 0 0);
  --tf-orange-200: oklch(90.1% 0.076 70.697);
  --tf-stone-50: oklch(98.5% 0.001 106.423);
  --tf-orange-300: oklch(83.7% 0.128 66.29);
  --tf-orange-400: oklch(75% 0.183 55.934);
  --tf-orange-500: oklch(70.5% 0.213 47.604);
  --tf-orange-600: oklch(64.6% 0.222 41.116);
  --tf-orange-700: oklch(55.3% 0.195 38.402);
  --tf-orange-800: oklch(47% 0.157 37.304);
  --tf-orange-900: oklch(40.8% 0.123 38.172);
  --tf-orange-950: oklch(26.6% 0.079 36.259);
  --tf-amber-100: oklch(96.2% 0.059 95.617);
  --tf-amber-200: oklch(92.4% 0.12 95.746);
  --tf-amber-300: oklch(87.9% 0.169 91.605);
  --tf-amber-400: oklch(82.8% 0.189 84.429);
  --tf-amber-500: oklch(76.9% 0.188 70.08);
  --tf-amber-600: oklch(66.6% 0.179 58.318);
  --tf-amber-700: oklch(55.5% 0.163 48.998);
  --tf-amber-800: oklch(47.3% 0.137 46.201);
  --tf-amber-900: oklch(41.4% 0.112 45.904);
  --tf-amber-950: oklch(27.9% 0.077 45.635);
  --tf-yellow-100: oklch(97.3% 0.071 103.193);
  --tf-yellow-200: oklch(94.5% 0.129 101.54);
  --tf-yellow-300: oklch(90.5% 0.182 98.111);
  --tf-yellow-400: oklch(85.2% 0.199 91.936);
  --tf-yellow-500: oklch(79.5% 0.184 86.047);
  --tf-yellow-600: oklch(68.1% 0.162 75.834);
  --tf-yellow-700: oklch(55.4% 0.135 66.442);
  --tf-yellow-800: oklch(47.6% 0.114 61.907);
  --tf-yellow-900: oklch(42.1% 0.095 57.708);
  --tf-yellow-950: oklch(28.6% 0.066 53.813);
  --tf-lime-100: oklch(96.7% 0.067 122.328);
  --tf-lime-200: oklch(93.8% 0.127 124.321);
  --tf-lime-300: oklch(89.7% 0.196 126.665);
  --tf-lime-400: oklch(84.1% 0.238 128.85);
  --tf-lime-500: oklch(76.8% 0.233 130.85);
  --tf-lime-600: oklch(64.8% 0.2 131.684);
  --tf-lime-700: oklch(53.2% 0.157 131.589);
  --tf-lime-800: oklch(45.3% 0.124 130.933);
  --tf-lime-900: oklch(40.5% 0.101 131.063);
  --tf-lime-950: oklch(27.4% 0.072 132.109);
  --tf-green-100: oklch(96.2% 0.044 156.743);
  --tf-green-200: oklch(92.5% 0.084 155.995);
  --tf-green-300: oklch(87.1% 0.15 154.449);
  --tf-green-400: oklch(79.2% 0.209 151.711);
  --tf-green-500: oklch(72.3% 0.219 149.579);
  --tf-green-600: oklch(62.7% 0.194 149.214);
  --tf-green-700: oklch(52.7% 0.154 150.069);
  --tf-green-800: oklch(44.8% 0.119 151.328);
  --tf-green-900: oklch(39.3% 0.095 152.535);
  --tf-green-950: oklch(26.6% 0.065 152.934);
  --tf-emerald-100: oklch(95% 0.052 163.051);
  --tf-emerald-200: oklch(90.5% 0.093 164.15);
  --tf-emerald-300: oklch(84.5% 0.143 164.978);
  --tf-emerald-400: oklch(76.5% 0.177 163.223);
  --tf-emerald-500: oklch(69.6% 0.17 162.48);
  --tf-emerald-600: oklch(59.6% 0.145 163.225);
  --tf-emerald-700: oklch(50.8% 0.118 165.612);
  --tf-emerald-800: oklch(43.2% 0.095 166.913);
  --tf-emerald-900: oklch(37.8% 0.077 168.94);
  --tf-emerald-950: oklch(26.2% 0.051 172.552);
  --tf-teal-100: oklch(95.3% 0.051 180.801);
  --tf-teal-200: oklch(91% 0.096 180.426);
  --tf-teal-300: oklch(85.5% 0.138 181.071);
  --tf-teal-400: oklch(77.7% 0.152 181.912);
  --tf-teal-500: oklch(70.4% 0.14 182.503);
  --tf-teal-600: oklch(60% 0.118 184.704);
  --tf-teal-700: oklch(51.1% 0.096 186.391);
  --tf-teal-800: oklch(43.7% 0.078 188.216);
  --tf-teal-900: oklch(38.6% 0.063 188.416);
  --tf-teal-950: oklch(27.7% 0.046 192.524);
  --tf-cyan-100: oklch(95.6% 0.045 203.388);
  --tf-cyan-200: oklch(91.7% 0.08 205.041);
  --tf-cyan-300: oklch(86.5% 0.127 207.078);
  --tf-cyan-400: oklch(78.9% 0.154 211.53);
  --tf-cyan-500: oklch(71.5% 0.143 215.221);
  --tf-cyan-600: oklch(60.9% 0.126 221.723);
  --tf-cyan-700: oklch(52% 0.105 223.128);
  --tf-cyan-800: oklch(45% 0.085 224.283);
  --tf-cyan-900: oklch(39.8% 0.07 227.392);
  --tf-cyan-950: oklch(30.2% 0.056 229.695);
  --tf-sky-100: oklch(95.1% 0.026 236.824);
  --tf-sky-200: oklch(90.1% 0.058 230.902);
  --tf-sky-300: oklch(82.8% 0.111 230.318);
  --tf-sky-400: oklch(74.6% 0.16 232.661);
  --tf-sky-500: oklch(68.5% 0.169 237.323);
  --tf-sky-600: oklch(58.8% 0.158 241.966);
  --tf-sky-700: oklch(50% 0.134 242.749);
  --tf-sky-800: oklch(44.3% 0.11 240.79);
  --tf-sky-900: oklch(39.1% 0.09 240.876);
  --tf-sky-950: oklch(29.3% 0.066 243.157);
  --tf-blue-100: oklch(93.2% 0.032 255.585);
  --tf-blue-200: oklch(88.2% 0.059 254.128);
  --tf-blue-300: oklch(80.9% 0.105 251.813);
  --tf-blue-400: oklch(70.7% 0.165 254.624);
  --tf-blue-500: oklch(62.3% 0.214 259.815);
  --tf-blue-600: oklch(54.6% 0.245 262.881);
  --tf-blue-700: oklch(48.8% 0.243 264.376);
  --tf-blue-800: oklch(42.4% 0.199 265.638);
  --tf-blue-900: oklch(37.9% 0.146 265.522);
  --tf-blue-950: oklch(28.2% 0.091 267.935);
  --tf-indigo-100: oklch(93% 0.034 272.788);
  --tf-indigo-200: oklch(87% 0.065 274.039);
  --tf-indigo-300: oklch(78.5% 0.115 274.713);
  --tf-indigo-400: oklch(67.3% 0.182 276.935);
  --tf-indigo-500: oklch(58.5% 0.233 277.117);
  --tf-indigo-600: oklch(51.1% 0.262 276.966);
  --tf-indigo-700: oklch(45.7% 0.24 277.023);
  --tf-indigo-800: oklch(39.8% 0.195 277.366);
  --tf-indigo-900: oklch(35.9% 0.144 278.697);
  --tf-indigo-950: oklch(25.7% 0.09 281.288);
  --tf-violet-100: oklch(94.3% 0.029 294.588);
  --tf-violet-200: oklch(89.4% 0.057 293.283);
  --tf-violet-300: oklch(81.1% 0.111 293.571);
  --tf-violet-400: oklch(70.2% 0.183 293.541);
  --tf-violet-500: oklch(60.6% 0.25 292.717);
  --tf-violet-600: oklch(54.1% 0.281 293.009);
  --tf-violet-700: oklch(49.1% 0.27 292.581);
  --tf-violet-800: oklch(43.2% 0.232 292.759);
  --tf-violet-900: oklch(38% 0.189 293.745);
  --tf-violet-950: oklch(28.3% 0.141 291.089);
  --tf-purple-100: oklch(94.6% 0.033 307.174);
  --tf-purple-200: oklch(90.2% 0.063 306.703);
  --tf-purple-300: oklch(82.7% 0.119 306.383);
  --tf-purple-400: oklch(71.4% 0.203 305.504);
  --tf-purple-500: oklch(62.7% 0.265 303.9);
  --tf-purple-600: oklch(55.8% 0.288 302.321);
  --tf-purple-700: oklch(49.6% 0.265 301.924);
  --tf-purple-800: oklch(43.8% 0.218 303.724);
  --tf-purple-900: oklch(38.1% 0.176 304.987);
  --tf-purple-950: oklch(29.1% 0.149 302.717);
  --tf-fuchsia-100: oklch(95.2% 0.037 318.852);
  --tf-fuchsia-200: oklch(90.3% 0.076 319.62);
  --tf-fuchsia-300: oklch(83.3% 0.145 321.434);
  --tf-fuchsia-400: oklch(74% 0.238 322.16);
  --tf-fuchsia-500: oklch(66.7% 0.295 322.15);
  --tf-fuchsia-600: oklch(59.1% 0.293 322.896);
  --tf-fuchsia-700: oklch(51.8% 0.253 323.949);
  --tf-fuchsia-800: oklch(45.2% 0.211 324.591);
  --tf-fuchsia-900: oklch(40.1% 0.17 325.612);
  --tf-fuchsia-950: oklch(29.3% 0.136 325.661);
  --tf-pink-100: oklch(94.8% 0.028 342.258);
  --tf-pink-200: oklch(89.9% 0.061 343.231);
  --tf-pink-300: oklch(82.3% 0.12 346.018);
  --tf-pink-400: oklch(71.8% 0.202 349.761);
  --tf-pink-500: oklch(65.6% 0.241 354.308);
  --tf-pink-600: oklch(59.2% 0.249 0.584);
  --tf-pink-700: oklch(52.5% 0.223 3.958);
  --tf-pink-800: oklch(45.9% 0.187 3.815);
  --tf-pink-900: oklch(40.8% 0.153 2.432);
  --tf-pink-950: oklch(28.4% 0.109 3.907);
  --tf-rose-100: oklch(94.1% 0.03 12.58);
  --tf-rose-200: oklch(89.2% 0.058 10.001);
  --tf-rose-300: oklch(81% 0.117 11.638);
  --tf-rose-400: oklch(71.2% 0.194 13.428);
  --tf-rose-500: oklch(64.5% 0.246 16.439);
  --tf-rose-600: oklch(58.6% 0.253 17.585);
  --tf-rose-700: oklch(51.4% 0.222 16.935);
  --tf-rose-800: oklch(45.5% 0.188 13.697);
  --tf-rose-900: oklch(41% 0.159 10.272);
  --tf-rose-950: oklch(27.1% 0.105 12.094);
  --tf-slate-100: oklch(96.8% 0.007 247.896);
  --tf-slate-200: oklch(92.9% 0.013 255.508);
  --tf-slate-300: oklch(86.9% 0.022 252.894);
  --tf-slate-400: oklch(70.4% 0.04 256.788);
  --tf-slate-500: oklch(55.4% 0.046 257.417);
  --tf-slate-600: oklch(44.6% 0.043 257.281);
  --tf-slate-700: oklch(37.2% 0.044 257.287);
  --tf-slate-800: oklch(27.9% 0.041 260.031);
  --tf-slate-900: oklch(20.8% 0.042 265.755);
  --tf-slate-950: oklch(12.9% 0.042 264.695);
  --tf-gray-100: oklch(96.7% 0.003 264.542);
  --tf-gray-200: oklch(92.8% 0.006 264.531);
  --tf-gray-300: oklch(87.2% 0.01 258.338);
  --tf-gray-400: oklch(70.7% 0.022 261.325);
  --tf-gray-500: oklch(55.1% 0.027 264.364);
  --tf-gray-600: oklch(44.6% 0.03 256.802);
  --tf-gray-700: oklch(37.3% 0.034 259.733);
  --tf-gray-800: oklch(27.8% 0.033 256.848);
  --tf-gray-900: oklch(21% 0.034 264.665);
  --tf-gray-950: oklch(13% 0.028 261.692);
  --tf-zinc-100: oklch(96.7% 0.001 286.375);
  --tf-zinc-200: oklch(92% 0.004 286.32);
  --tf-zinc-300: oklch(87.1% 0.006 286.286);
  --tf-zinc-400: oklch(70.5% 0.015 286.067);
  --tf-zinc-500: oklch(55.2% 0.016 285.938);
  --tf-zinc-600: oklch(44.2% 0.017 285.786);
  --tf-zinc-700: oklch(37% 0.013 285.805);
  --tf-zinc-800: oklch(27.4% 0.006 286.033);
  --tf-zinc-900: oklch(21% 0.006 285.885);
  --tf-zinc-950: oklch(14.1% 0.005 285.823);
  --tf-neutral-100: oklch(97% 0 0);
  --tf-neutral-200: oklch(92.2% 0 0);
  --tf-neutral-300: oklch(87% 0 0);
  --tf-neutral-400: oklch(70.8% 0 0);
  --tf-neutral-500: oklch(55.6% 0 0);
  --tf-neutral-600: oklch(43.9% 0 0);
  --tf-neutral-700: oklch(37.1% 0 0);
  --tf-neutral-800: oklch(26.9% 0 0);
  --tf-neutral-900: oklch(20.5% 0 0);
  --tf-neutral-950: oklch(14.5% 0 0);
  --tf-stone-100: oklch(97% 0.001 106.424);
  --tf-stone-200: oklch(92.3% 0.003 48.717);
  --tf-stone-300: oklch(86.9% 0.005 56.366);
  --tf-stone-400: oklch(70.9% 0.01 56.259);
  --tf-stone-500: oklch(55.3% 0.013 58.071);
  --tf-stone-600: oklch(44.4% 0.011 73.639);
  --tf-stone-700: oklch(37.4% 0.01 67.558);
  --tf-stone-800: oklch(26.8% 0.007 34.298);
  --tf-stone-900: oklch(21.6% 0.006 56.043);
  --tf-stone-950: oklch(14.7% 0.004 49.25);
}
:root body {
  --neutral-base-color: #808080;
  --accent-base-color: #0078d4;
  --neutral-layer-card-container: #f3f3f3;
  --neutral-layer-floating: #ffffff;
  --neutral-layer-1: #fbfbfb;
  --neutral-layer-2: #f3f3f3;
  --neutral-layer-3: #ebebeb;
  --neutral-layer-4: #e0e0e0;
  --fill-color: #fbfbfb;
  --accent-fill-rest: #036ac4;
  --accent-fill-hover: #0473ce;
  --accent-fill-active: #0481e0;
  --accent-fill-focus: #036ac4;
  --foreground-on-accent-rest: #ffffff;
  --foreground-on-accent-hover: #ffffff;
  --foreground-on-accent-active: #ffffff;
  --foreground-on-accent-focus: #ffffff;
  --accent-foreground-rest: #023b8f;
  --accent-foreground-hover: #012e7f;
  --accent-foreground-active: #0360b9;
  --accent-foreground-focus: #023b8f;
  --accent-stroke-control-rest: linear-gradient(#1c79ca 90%, #024885 100%);
  --accent-stroke-control-hover: linear-gradient(#1b80d2 90%, #035292 100%);
  --accent-stroke-control-active: #1b8ce3;
  --accent-stroke-control-focus: linear-gradient(#1c79ca 90%, #024885 100%);
  --neutral-fill-rest: #ffffff;
  --neutral-fill-hover: #f7f7f7;
  --neutral-fill-active: #fbfbfb;
  --neutral-fill-focus: #fbfbfb;
  --neutral-fill-input-rest: #ffffff;
  --neutral-fill-input-hover: #f7f7f7;
  --neutral-fill-input-active: #fbfbfb;
  --neutral-fill-input-focus: #ffffff;
  --neutral-fill-input-alt-rest: #f3f3f3;
  --neutral-fill-input-alt-hover: #ebebeb;
  --neutral-fill-input-alt-active: #e0e0e0;
  --neutral-fill-input-alt-focus: #f3f3f3;
  --neutral-fill-layer-rest: var(--tf-go-stone-100);
  --neutral-fill-layer-hover: #ffffff;
  --neutral-fill-layer-active: #ffffff;
  --neutral-fill-layer-alt-rest: #ffffff;
  --neutral-fill-secondary-rest: #efefef;
  --neutral-fill-secondary-hover: #f3f3f3;
  --neutral-fill-secondary-active: #f7f7f7;
  --neutral-fill-secondary-focus: #efefef;
  --neutral-fill-stealth-rest: #fbfbfb;
  --neutral-fill-stealth-hover: #efefef;
  --neutral-fill-stealth-active: #f3f3f3;
  --neutral-fill-stealth-focus: #fbfbfb;
  --neutral-fill-strong-rest: #717171;
  --neutral-fill-strong-hover: #4b4b4b;
  --neutral-fill-strong-active: #868686;
  --neutral-fill-strong-focus: #717171;
  --neutral-foreground-rest: #1a1a1a;
  --neutral-foreground-hover: #7a7a7a;
  --neutral-foreground-active: #a8a8a8;
  --neutral-foreground-focus: #1a1a1a;
  --neutral-foreground-hint: #717171;
  --neutral-stroke-rest: #d6d6d6;
  --neutral-stroke-hover: #c6c6c6;
  --neutral-stroke-active: #e0e0e0;
  --neutral-stroke-focus: #d6d6d6;
  --neutral-stroke-control-rest: linear-gradient(#efefef 90%, #d6d6d6 100%);
  --neutral-stroke-control-hover: linear-gradient(#e5e5e5 90%, #cecece 100%);
  --neutral-stroke-control-active: #e5e5e5;
  --neutral-stroke-control-focus: linear-gradient(#e5e5e5 90%, #cecece 100%);
  --neutral-stroke-divider-rest: #ebebeb;
  --neutral-stroke-input-rest: linear-gradient(#efefef calc(100% - 1px), #929292 calc(100% - 1px), #929292);
  --neutral-stroke-input-hover: linear-gradient(#e5e5e5 calc(100% - 1px), #8a8a8a calc(100% - 1px), #8a8a8a);
  --neutral-stroke-input-active: #e5e5e5;
  --neutral-stroke-input-focus: linear-gradient(#e5e5e5 calc(100% - 1px), #8a8a8a calc(100% - 1px), #8a8a8a);
  --neutral-stroke-layer-rest: #efefef;
  --neutral-stroke-layer-hover: #efefef;
  --neutral-stroke-layer-active: #efefef;
  --neutral-stroke-strong-rest: #636363;
  --neutral-stroke-strong-hover: #636363;
  --neutral-stroke-strong-active: #636363;
  --neutral-stroke-strong-focus: #636363;
  --focus-stroke-outer: #000000;
  --focus-stroke-inner: #ffffff;
  --foreground-on-accent-rest-large: #ffffff;
  --foreground-on-accent-hover-large: #ffffff;
  --foreground-on-accent-active-large: #ffffff;
  --foreground-on-accent-focus-large: #ffffff;
  --neutral-fill-inverse-rest-delta: 0;
  --neutral-fill-inverse-hover-delta: -3;
  --neutral-fill-inverse-active-delta: 7;
  --neutral-fill-inverse-focus-delta: 0;
  --neutral-fill-inverse-rest: #131313;
  --neutral-fill-inverse-hover: #272727;
  --neutral-fill-inverse-active: #000000;
  --neutral-fill-inverse-focus: #131313;
  --neutral-fill-stealth-rest-on-neutral-fill-layer-rest: #ffffff;
  --neutral-fill-stealth-hover-on-neutral-fill-layer-rest: #f3f3f3;
  --neutral-fill-stealth-active-on-neutral-fill-layer-rest: #f7f7f7;
  --input-placeholder-rest: #767676;
  --input-placeholder-hover: #717171;
  --input-filled-placeholder-rest: #6c6c6c;
  --input-filled-placeholder-hover: #6c6c6c;
  --clear-button-hover: #f3f3f3;
  --clear-button-active: #f7f7f7;
  --tree-item-expand-collapse-hover: #e0e0e0;
  --tree-item-expand-collapse-selected-hover: #e0e0e0;
  --success: var(--tf-green-500);
  --warning: var(--tf-orange-500);
  --error: var(--tf-red-500);
  --info: var(--tf-blue-500);
  --presence-available: var(--tf-emerald-500);
  --presence-away: var(--tf-yellow-500);
  --presence-busy: var(--tf-red-800);
  --presence-dnd: var(--tf-red-600);
  --presence-offline: var(--tf-gray-500);
  --presence-oof: var(--tf-purple-500);
  --presence-unknown: var(--tf-red-700);
  --highlight-bg: var(--tf-yellow-100);
}
fluent-anchored-region > div {
  box-shadow: none !important;
  background-color: transparent !important;
}
fluent-anchored-region fluent-menu {
  background-color: var(--tf-body-color-accent);
}
fluent-anchored-region fluent-menu-item {
  color: var(--tf-font-color);
}
fluent-anchored-region fluent-menu-item:not([disabled]):hover {
  background-color: var(--tf-body-color-accent-2);
}
fluent-anchored-region fluent-menu > fluent-divider {
  border-top-color: var(--tf-body-color-accent-2) !important;
  border-top-width: 1px !important;
}
fluent-badge.neutral:not([fill="somevalue"])::part(control) {
  background-color: var(--tf-body-color-accent-2) !important;
  color: var(--tf-font-color);
}
fluent-button {
  --neutral-foreground-rest: var(--tf-font-color-mute) !important;
}
fluent-button.outline {
  --neutral-stroke-rest: var(--tf-body-color-accent-2);
  --neutral-stroke-hover: var(--tf-body-color-accent);
}
fluent-button.accent {
  --neutral-stroke-rest: var(--tf-body-color-accent-2);
  --neutral-stroke-hover: var(--tf-body-color-accent);
  --accent-fill-hover: var(--accent-foreground-hover);
}
fluent-button.accent::part(control) {
  border-color: var(--neutral-stroke-rest);
}
fluent-button.accent svg {
  fill: var(--tf-body-color-accent) !important;
}
fluent-dialog {
  --fill-color: var(--tf-body-color-accent);
}
fluent-divider {
  border-color: var(--tf-body-color-accent);
  border-width: 3px;
}
:root .tf-select-menu {
  background: var(--tf-body-color-accent) !important;
}
:root .tf-select-menu__body {
  background: var(--tf-body-color-accent) !important;
}
:root .tf-select-menu__body fluent-menu-item .fluent-typography {
  color: var(--tf-font-color);
}
.tf-input-label {
  color: var(--tf-font-color) !important;
}
.tf-input-description {
  color: var(--tf-font-color-mute);
  font-size: 11px;
}
fluent-text-field::part(root),
fluent-search::part(root),
fluent-number-field::part(root),
fluent-select::part(control),
fluent-text-area::part(control),
fluent-switch::part(switch),
.tf-select-btn::part(control) {
  background: color-mix(in srgb, var(--tf-go-yellow-300) 10%, var(--tf-body-color) 90%) !important;
  border-color: var(--tf-body-color-accent-2) !important;
  color: var(--tf-font-color) !important;
}
fluent-text-field[readonly]::part(root),
fluent-number-field[readonly]::part(root),
fluent-select[readonly]::part(control),
fluent-text-area[readonly]::part(control),
fluent-text-field.disabled::part(root),
fluent-number-field.disabled::part(root),
fluent-select.disabled::part(control),
fluent-text-area.disabled::part(control) {
  background: transparent !important;
  border-color: var(--tf-body-color-accent-2) !important;
  color: var(--tf-font-color);
}
.fluent-input-label {
  color: var(--neutral-foreground-hint) !important;
}
fluent-radio::part(label),
fluent-switch::part(label) {
  color: var(--tf-font-color);
}
.sortable-item {
  background-color: var(--tf-body-color-accent-2) !important;
  border-color: var(--tf-body-color-accent-3) !important;
}
.sortable-item .sortable-grab {
  background-color: var(--tf-body-color-accent) !important;
}
fluent-data-grid-row:has([row-selected]) {
  background-color: var(--tf-body-color-accent);
}
.tf-grid-thead-bkg {
  background: var(--tf-body-color-accent);
}
.tf-grid-td,
.tf-grid-th {
  color: var(--tf-font-color);
  border: 1px solid var(--tf-body-color-accent);
}
.tf-grid .tf-grid-tbody tr > .tf-grid-th::before,
.tf-grid .tf-grid-tbody tr > .tf-grid-td::before {
  background-color: var(--tf-body-color);
}
.tf-grid__pager {
  background: var(--tf-body-color-accent);
  border-color: var(--tf-body-color-accent-2);
}
.fluent-messagebar.intent-info {
  background-color: var(--tf-go-blue-100) !important;
  border-color: var(--tf-go-blue-200) !important;
  color: var(--tf-font-color);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--tf-body-color-mute);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tf-body-color-accent-2);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tf-body-color-accent);
}