html:root {
  --tf-topbar-height: 60px;
  --tf-space-header-height: var(--tf-topbar-height);
  --tf-space-actions-height: 50px;
  --tf-page-header-height: var(--tf-space-actions-height);
  --tf-page-tabs-height: 50px;
  --tf-aside-width: 250px;
  --tf-padding: calc((10 + (var(--design-unit) * 2 * var(--density))) * 1px);
}
.tf-card {
  --tf-card-border-radius: var(--tf-border-radius-base);
  --tf-card-background-color: light-dark(var(--tf-base-50), var(--tf-fill-base-active));
  border: 1px solid transparent;
  border-radius: var(--tf-card-border-radius);
  background: var(--tf-card-background-color);
  padding: var(--tf-padding-sm);
  box-shadow: var(--tf-shadow-base);
}
.fluent-dialog-body .tf-card {
  border: 1px solid var(--tf-stroke-color);
}
.tf-card__title {
  background: transparent;
  border-radius: 0.5rem;
  margin-bottom: 0;
  font-size: var(--tf-font-size-md);
  font-weight: var(--tf-font-weight-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tf-card__title__left {
  flex: 0 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}
.tf-card__title__right {
  flex: 0 0 auto;
  flex-wrap: nowrap;
  padding-left: 1rem;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}
.tf-card__title h3 {
  margin-bottom: 0;
  font-size: var(--tf-font-size-md);
  font-weight: var(--tf-font-weight-base);
}
.tf-card__subtitle {
  color: var(--tf-font-color-mute);
  font-size: var(--tf-font-size-sm);
}
.tf-card__title + .tf-card__content {
  padding-top: var(--tf-padding-base);
}
.tf-card + .tf-card {
  margin-top: var(--tf-padding-sm);
}
.tf-card--clickable {
  cursor: pointer;
}
.tf-card--clickable:hover {
  background: var(--tf-fill-base-hover);
}
.tf-card__content fluent-anchor.stealth {
  --neutral-fill-stealth-rest: var(--tf-font-color-base);
}
.tf-card__footer {
  padding-top: 1rem;
}
.tf-filter-manage .card-logical.tf-card {
  border: 1px solid var(--tf-blue-200);
  padding: 0;
  border-radius: 0;
}
.tf-filter-manage .card-logical.tf-card > .tf-card__title {
  background: var(--tf-blue-100);
  border-radius: 0;
}
.tf-filter-manage .card-logical.tf-card > .tf-card__content {
  margin: 10px;
  padding: 0;
}
.tf-filter-manage .card-rule.tf-card {
  border: 1px solid var(--tf-orange-200);
  padding: 0;
  border-radius: 0;
}
.tf-filter-manage .card-rule.tf-card > .tf-card__title {
  background: var(--tf-orange-100);
  border-radius: 0;
}
.tf-filter-manage .card-rule.tf-card > .tf-card__content {
  margin: 10px;
  padding: 0;
}
.tf-filter-manage .tf-card--no-body .tf-card__content {
  display: none;
}
@keyframes gridLoadingBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}
.tf-grid {
  table-layout: fixed;
  min-width: 100%;
  border-width: 0;
  border-color: var(--tf-stroke-color);
  border-collapse: separate !important;
  border-spacing: 0 !important;
  margin-bottom: 0;
  background: light-dark(var(--tf-base-50), var(--tf-fill-base-active));
}
.tf-grid thead {
  position: sticky;
  top: 0px;
  z-index: 3;
}
.tf-grid thead > tr:not(.tf-grid-thead-bkg):not(.tf-grid-thead-loading) {
  position: relative;
  z-index: 2;
}
.tf-grid thead > tr:not(.tf-grid-thead-bkg):not(.tf-grid-thead-loading):first-child > th {
  border-top: none;
}
.tf-grid thead tr > th,
.tf-grid thead tr > td {
  border: 1px solid var(--tf-stroke-color);
  border-top-width: 0;
  border-color: var(--tf-stroke-color);
  font-weight: var(--tf-font-weight-lg);
  min-width: 60px;
  position: relative;
  --tf-cell-padding: calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * 1px);
}
.tf-grid thead tr > th .resize-handle,
.tf-grid thead tr > td .resize-handle {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: var(--tf-stroke-color);
  content: "";
  cursor: col-resize;
}
.tf-grid thead tr > th:hover .resize-handle,
.tf-grid thead tr > td:hover .resize-handle,
.tf-grid thead tr > th.tf-resizing .resize-handle,
.tf-grid thead tr > td.tf-resizing .resize-handle {
  display: block;
}
.tf-grid thead tr > th.tf-resizing .resize-handle,
.tf-grid thead tr > td.tf-resizing .resize-handle,
.tf-grid thead tr > th .resize-handle:hover,
.tf-grid thead tr > td .resize-handle:hover {
  background: var(--accent-fill-rest);
}
.tf-grid thead tr > th .tf-column-action,
.tf-grid thead tr > td .tf-column-action {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: var(--tf-fill-color-base-1);
  content: "";
  cursor: pointer;
  --tf-caret-color: var(--tf-fill-color-dark);
  justify-content: center;
  align-items: center;
}
.tf-grid thead tr > th .tf-column-action:hover,
.tf-grid thead tr > td .tf-column-action:hover {
  background: var(--accent-fill-rest) !important;
  --tf-caret-color: var(--tf-white);
}
.tf-grid thead tr > th:hover .tf-column-action,
.tf-grid thead tr > td:hover .tf-column-action {
  display: flex;
  background: var(--tf-stroke-invert-base);
}
.tf-grid thead tr > th .tf-column-sort,
.tf-grid thead tr > td .tf-column-sort {
  right: var(--tf-cell-padding);
}
.tf-grid thead tr > th .tf-column-sort svg,
.tf-grid thead tr > td .tf-column-sort svg {
  display: block;
}
.tf-grid thead tr > th .tf-column-sort--descending,
.tf-grid thead tr > td .tf-column-sort--descending,
.tf-grid thead tr > th .tf-column-sort--ascending,
.tf-grid thead tr > td .tf-column-sort--ascending {
  display: flex;
}
.tf-grid thead tr > th .tf-column-sort__caret,
.tf-grid thead tr > td .tf-column-sort__caret,
.tf-grid thead tr > th .tf-column-sort__caret-down,
.tf-grid thead tr > td .tf-column-sort__caret-down,
.tf-grid thead tr > th .tf-column-sort__caret-up,
.tf-grid thead tr > td .tf-column-sort__caret-up {
  display: none;
}
.tf-grid thead tr > th .tf-column-sort--none .tf-column-sort__caret,
.tf-grid thead tr > td .tf-column-sort--none .tf-column-sort__caret {
  display: block;
}
.tf-grid thead tr > th .tf-column-sort--ascending .tf-column-sort__caret-up,
.tf-grid thead tr > td .tf-column-sort--ascending .tf-column-sort__caret-up {
  display: block;
}
.tf-grid thead tr > th .tf-column-sort--descending .tf-column-sort__caret-down,
.tf-grid thead tr > td .tf-column-sort--descending .tf-column-sort__caret-down {
  display: block;
}
.tf-grid thead tr > th .tf-column-manage,
.tf-grid thead tr > td .tf-column-manage {
  right: calc(var(--tf-cell-padding) + 25px);
}
.tf-grid thead tr > th,
.tf-grid thead tr > td {
  border-left-width: 0;
}
.tf-grid-thead-bkg {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 1px;
  right: 0;
  z-index: 1;
  pointer-events: none;
  background: light-dark(var(--tf-base-50), var(--tf-fill-base-active));
}
.tf-grid-thead-loading {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(90deg, transparent 33%, var(--tf-accent-color) 66%, transparent 100%);
  width: 0;
  animation: gridLoadingBar 2s linear infinite;
}
.tf-grid tbody tr {
  /*            &.tf-grid-tr--selected .tf-grid-td--check::after {
                      background: var(--tf-amber-400);
                  }*/
}
.tf-grid tbody tr > th,
.tf-grid tbody tr > td {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
  border-top-width: 1px;
  position: relative;
  vertical-align: top;
}
.tf-grid tbody tr > th::before,
.tf-grid tbody tr > td::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 0;
}
.tf-grid tbody tr > th > *,
.tf-grid tbody tr > td > * {
  position: relative;
}
.tf-grid tbody tr > th > .tf-grid-td-color,
.tf-grid tbody tr > td > .tf-grid-td-color {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 0;
}
.tf-grid tbody tr > th > .tf-grid-td-selection,
.tf-grid tbody tr > td > .tf-grid-td-selection {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 0;
}
.tf-grid tbody tr > th > .tf-grid-td-hover,
.tf-grid tbody tr > td > .tf-grid-td-hover {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 0;
  background: var(--tf-fill-base);
}
.tf-grid tbody tr > th > div,
.tf-grid tbody tr > td > div {
  border-radius: calc(var(--tf-border-radius-sm) * 1px);
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  padding: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * 1px) calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * 1px);
  min-height: 32px;
  --accent-fill-rest: var(--tf-font-color-base);
}
.tf-grid tbody tr > th.multiline-text,
.tf-grid tbody tr > td.multiline-text {
  white-space: break-spaces;
}
.tf-grid tbody tr > th a,
.tf-grid tbody tr > td a {
  text-decoration: none;
}
.tf-grid tbody tr > th a:hover,
.tf-grid tbody tr > td a:hover {
  text-decoration: underline;
}
.tf-grid tbody tr > th .td-description,
.tf-grid tbody tr > td .td-description {
  font-size: var(--tf-font-size-sm);
  color: var(--tf-font-color-mute);
  white-space: initial;
}
.tf-grid tbody tr.tf-grid-tr--selected .tf-grid-td-selection {
  display: block;
}
.tf-grid tbody tr.tf-grid-tr--selected .tf-grid-td-hover {
  background: var(--tf-blue-200);
}
.tf-grid tbody tr:hover .tf-grid-td-hover {
  display: block;
}
.tf-grid tbody tr:last-child > th,
.tf-grid tbody tr:last-child > td {
  border-bottom: 1px solid var(--tf-stroke-base);
}
.tf-grid tbody tr.tf-grid-tr--edited .tf-grid-td--check::after {
  content: "";
  position: absolute;
  border-radius: 0 5px 5px 0;
  top: 2px;
  bottom: 2px;
  width: 5px;
  left: -1px;
  background: var(--tf-amber-300);
}
.tf-grid > tbody tr:first-child > td,
.tf-grid > tbody tr:first-child > th {
  border-top-width: 0;
}
.tf-grid > tbody > div + tr > td,
.tf-grid > tbody > div + tr > th {
  border-top-width: 0;
}
.tf-grid td,
.tf-grid th {
  border-width: 1px;
  border-style: solid;
}
.tf-grid td > div,
.tf-grid th > div {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column;
}
.tf-grid thead > tr > .tf-grid-th--check,
.tf-grid tbody > tr > .tf-grid-th--check,
.tf-grid thead > tr > .tf-grid-td--check,
.tf-grid tbody > tr > .tf-grid-td--check {
  padding: 0 !important;
  text-align: center;
  width: 40px;
  min-width: 40px;
}
.tf-grid thead > tr > .tf-grid-th--check .check-content,
.tf-grid tbody > tr > .tf-grid-th--check .check-content,
.tf-grid thead > tr > .tf-grid-td--check .check-content,
.tf-grid tbody > tr > .tf-grid-td--check .check-content {
  padding: 0;
  display: flex;
}
.tf-grid thead > tr > .tf-grid-th--check .check-content.multi,
.tf-grid tbody > tr > .tf-grid-th--check .check-content.multi,
.tf-grid thead > tr > .tf-grid-td--check .check-content.multi,
.tf-grid tbody > tr > .tf-grid-td--check .check-content.multi {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.tf-grid thead > tr > .tf-grid-th--check .check-content.multi fluent-button,
.tf-grid tbody > tr > .tf-grid-th--check .check-content.multi fluent-button,
.tf-grid thead > tr > .tf-grid-td--check .check-content.multi fluent-button,
.tf-grid tbody > tr > .tf-grid-td--check .check-content.multi fluent-button {
  flex: 0 0 auto;
  background: transparent !important;
  --neutral-stroke-input-active: var(--tf-stroke-button);
  border-radius: 3px !important;
  height: unset;
  margin: 2px 0;
}
.tf-grid thead > tr > .tf-grid-th--check .check-content.multi fluent-button::part(control),
.tf-grid tbody > tr > .tf-grid-th--check .check-content.multi fluent-button::part(control),
.tf-grid thead > tr > .tf-grid-td--check .check-content.multi fluent-button::part(control),
.tf-grid tbody > tr > .tf-grid-td--check .check-content.multi fluent-button::part(control) {
  width: 100%;
}
.tf-grid thead > tr > .tf-grid-th--check .check-content.multi fluent-button:hover,
.tf-grid tbody > tr > .tf-grid-th--check .check-content.multi fluent-button:hover,
.tf-grid thead > tr > .tf-grid-td--check .check-content.multi fluent-button:hover,
.tf-grid tbody > tr > .tf-grid-td--check .check-content.multi fluent-button:hover {
  background: var(--tf-white) !important;
}
.tf-grid thead > tr > .tf-grid-th--check .check-content.check fluent-button,
.tf-grid tbody > tr > .tf-grid-th--check .check-content.check fluent-button,
.tf-grid thead > tr > .tf-grid-td--check .check-content.check fluent-button,
.tf-grid tbody > tr > .tf-grid-td--check .check-content.check fluent-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent !important;
  --neutral-stroke-input-active: var(--tf-stroke-button);
}
.tf-grid thead > tr > .tf-grid-th--check .check-content.check fluent-button::part(control),
.tf-grid tbody > tr > .tf-grid-th--check .check-content.check fluent-button::part(control),
.tf-grid thead > tr > .tf-grid-td--check .check-content.check fluent-button::part(control),
.tf-grid tbody > tr > .tf-grid-td--check .check-content.check fluent-button::part(control) {
  background: transparent !important;
  border: none;
}
.tf-grid thead > tr > .tf-grid-th--check .check-content.check fluent-button:hover,
.tf-grid tbody > tr > .tf-grid-th--check .check-content.check fluent-button:hover,
.tf-grid thead > tr > .tf-grid-td--check .check-content.check fluent-button:hover,
.tf-grid tbody > tr > .tf-grid-td--check .check-content.check fluent-button:hover {
  background: transparent !important;
}
.tf-grid thead > tr > th:first-child,
.tf-grid tbody > tr > th:first-child,
.tf-grid thead > tr > td:first-child,
.tf-grid tbody > tr > td:first-child {
  border-left-width: 0;
}
.tf-grid thead > tr > th:last-child,
.tf-grid tbody > tr > th:last-child,
.tf-grid thead > tr > td:last-child,
.tf-grid tbody > tr > td:last-child {
  border-right-width: 0;
}
.tf-grid thead > tr > td > div:not([class]):empty,
.tf-grid tbody > tr > td > div:not([class]):empty {
  height: 30px;
}
.tf-grid thead > tr .tr-actions,
.tf-grid tbody > tr .tr-actions {
  display: none;
}
.tf-grid thead > tr:hover .tr-actions,
.tf-grid tbody > tr:hover .tr-actions {
  display: flex;
}
.tf-grid thead th.tf--sticky,
.tf-grid tbody th.tf--sticky,
.tf-grid thead td.tf--sticky,
.tf-grid tbody td.tf--sticky {
  position: sticky;
  z-index: 2;
}
.tf-grid thead .tf--sticky-first::after,
.tf-grid tbody .tf--sticky-first::after {
  border-right-width: 1px;
  border-right-style: solid;
  content: "";
  display: block;
  width: 10px;
  top: 0;
  bottom: 0;
  left: -11px;
  box-shadow: inset -2px 0 5px var(--neutral-layer-2);
  position: absolute;
}
.tf-grid thead .tf--sticky-last::after,
.tf-grid tbody .tf--sticky-last::after {
  content: "";
  display: block;
  width: 10px;
  right: -10px;
  top: 0;
  bottom: 0;
  box-shadow: inset 5px 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
}
.tf-grid thead > tr > th,
.tf-grid tfoot > tr > th,
.tf-grid thead > tr > td,
.tf-grid tfoot > tr > td {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * 1px) calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * 1px);
}
.tf-grid .tf-grid-td-spacer {
  display: inline-block;
  width: 1rem;
}
.tf-grid__pager {
  margin-top: 1rem;
}
.tf-grid-tr.tf-grid-tr--selected .tf-grid-td-selection {
  background: var(--tf-blue-100);
}
.tf-grid-tr:hover .tf-grid-td-hover {
  background: var(--neutral-fill-secondary-rest);
}
.tf-grid .tf-grid-td {
  --tf-td-color-red: var(--tf-red-600);
  --tf-td-fill-red: var(--tf-red-100);
  --tf-td-color-orange: var(--tf-orange-600);
  --tf-td-fill-orange: var(--tf-orange-100);
  --tf-td-color-amber: var(--tf-amber-600);
  --tf-td-fill-amber: var(--tf-amber-100);
  --tf-td-color-yellow: var(--tf-yellow-600);
  --tf-td-fill-yellow: var(--tf-yellow-100);
  --tf-td-color-lime: var(--tf-lime-600);
  --tf-td-fill-lime: var(--tf-lime-100);
  --tf-td-color-green: var(--tf-green-600);
  --tf-td-fill-green: var(--tf-green-100);
  --tf-td-color-emerald: var(--tf-emerald-600);
  --tf-td-fill-emerald: var(--tf-emerald-100);
  --tf-td-color-teal: var(--tf-teal-600);
  --tf-td-fill-teal: var(--tf-teal-100);
  --tf-td-color-cyan: var(--tf-cyan-600);
  --tf-td-fill-cyan: var(--tf-cyan-100);
  --tf-td-color-sky: var(--tf-sky-600);
  --tf-td-fill-sky: var(--tf-sky-100);
  --tf-td-color-blue: var(--tf-blue-600);
  --tf-td-fill-blue: var(--tf-blue-100);
  --tf-td-color-indigo: var(--tf-indigo-600);
  --tf-td-fill-indigo: var(--tf-indigo-100);
  --tf-td-color-violet: var(--tf-violet-600);
  --tf-td-fill-violet: var(--tf-violet-100);
  --tf-td-color-purple: var(--tf-purple-600);
  --tf-td-fill-purple: var(--tf-purple-100);
  --tf-td-color-fuchsia: var(--tf-fuchsia-600);
  --tf-td-fill-fuchsia: var(--tf-fuchsia-100);
  --tf-td-color-pink: var(--tf-pink-600);
  --tf-td-fill-pink: var(--tf-pink-100);
  --tf-td-color-rose: var(--tf-rose-600);
  --tf-td-fill-rose: var(--tf-rose-100);
  --tf-td-color-slate: var(--tf-slate-600);
  --tf-td-fill-slate: var(--tf-slate-100);
  --tf-td-color-black: var(--tf-font-color-base);
  --tf-td-fill-black: var(--tf-font-color-base);
  --tf-td-color-white: var(--tf-white);
  --tf-td-fill-white: var(--tf-white);
}
.tf-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--tf-padding-base);
  padding-right: var(--tf-padding-base);
  --tf-title-width: 400px;
}
.tf-header__left {
  flex: 0 0 auto;
}
.tf-header__right {
  flex: 0 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.tf-header__meta {
  display: flex;
  align-items: center;
}
.tf-header__meta__icon {
  flex: 0 0 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  --accent-fill-rest: var(--tf-stroke-color);
}
.tf-header__meta__title {
  flex: 1 1 var(--tf-title-width);
  width: var(--tf-title-width);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--tf-font-size-xl);
}
.tf-header fluent-divider {
  height: 1rem;
  --neutral-stroke-divider-rest: var(--tf-stroke-color);
  margin: 0 1rem;
}
.tf-header fluent-button {
  color: var(--tf-button-color);
}
.tf-header fluent-button svg {
  --accent-fill-rest: var(--tf-button-color);
}
.tf-header-tabs {
  padding-left: var(--tf-padding-base);
  padding-right: var(--tf-padding-base);
  border-bottom: 1px solid var(--tf-stroke-color-mute);
  --tf-tab-padding: calc(var(--tf-padding-base) / 3);
}
.tf-header-tabs fluent-tabs {
  margin-left: calc(-1 * var(--tf-tab-padding));
}
.tf-header-tabs fluent-tabs::part(activeIndicator) {
  width: 60%;
  position: relative;
  bottom: -7px;
}
.tf-header-tabs fluent-tab {
  padding-left: var(--tf-tab-padding);
  padding-right: var(--tf-tab-padding);
  --accent-fill-rest: var(--tf-font-color-base);
}
.tf-header-tabs fluent-tab svg {
  margin-right: 3px;
}
.tf-hover-switch__unhover {
  display: block;
}
.tf-hover-switch:hover .tf-hover-switch__unhover {
  display: none;
}
.tf-hover-switch__hover {
  display: none;
}
.tf-hover-switch:hover .tf-hover-switch__hover {
  display: block;
}
.tflg {
  display: flex;
  flex-flow: row;
  position: relative;
}
.tflg__aside {
  flex: 0 0 var(--tf-aside-width);
  display: flex;
  flex-flow: column;
  background: var(--neutral-layer-1);
  border-right: 1px solid var(--neutral-stroke-rest);
}
.tflg__wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}
.tflg__space-header {
  flex: 0 0 var(--tf-space-header-height);
}
.tflg__space-actions {
  flex: 0 0 var(--tf-space-actions-height);
}
.tflg__sidenav {
  flex: 1 1 auto;
  height: calc(100vh - var(--tf-space-header-height) - var(--tf-space-actions-height));
  overflow-y: auto;
  scrollbar-width: thin;
}
.tflg__page-topbar {
  flex: 0 0 var(--tf-topbar-height);
}
.tflg__page-content {
  flex: 1 1 auto;
}
.tflpc {
  display: flex;
  flex-flow: column nowrap;
}
.tflpc:not(.tflpc--has-page-tabs) {
  --tf-page-tabs-height: 0px;
}
.tflpc__header {
  flex: 0 0 var(--tf-page-header-height);
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 var(--tf-padding-base);
}
.tflpc__header__left {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  min-height: 32px;
}
.tflpc__header__left__title {
  font-weight: var(--tf-font-weight-lg);
  font-size: var(--tf-font-size-lg);
  line-height: 1.15em;
}
.tflpc__header__left__return {
  padding-right: var(--tf-padding-base);
}
.tflpc__header__right {
  flex: 0 0 auto;
  min-height: 32px;
  display: flex;
  align-items: center;
  gap: var(--tf-padding-sm);
}
.tflpc__tabs {
  flex: 0 0 var(--tf-page-tabs-height);
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding-left: var(--tf-padding-base);
  padding-right: var(--tf-padding-base);
}
.tflpc__content {
  flex: 1 1 auto;
  height: calc(100vh - var(--tf-topbar-height) - var(--tf-page-header-height) - var(--tf-page-tabs-height));
  overflow-y: auto;
  scrollbar-color: var(--tf-fill-base-active) var(--tf-fill-base);
  scrollbar-width: thin;
}
.tf-sidenav {
  padding-top: var(--tf-padding);
}
.tf-sidenav .tf-treemenu__item {
  padding-left: var(--tf-padding);
  padding-right: var(--tf-padding);
}
.tf-space-header {
  position: relative;
  padding-left: var(--tf-padding);
  padding-right: var(--tf-padding);
  --tf-space-pane-extra-space: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
}
.tf-space-header__icon {
  --tf-icon-size: 27px;
  --tf-svg-size: 20px;
  flex: 0 0 var(--tf-icon-size);
  height: var(--tf-icon-size);
  width: var(--tf-icon-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-fill-rest);
}
.tf-space-header__icon svg {
  --accent-fill-rest: var(--foreground-on-accent-rest-large);
  width: var(--tf-svg-size) !important;
  height: var(--tf-svg-size) !important;
}
.tf-space-header__meta {
  flex: 1 1 auto;
  padding-left: 5px;
}
.tf-space-header__meta__title {
  overflow: hidden;
  line-height: var(--type-ramp-plus-1-line-height);
  font-size: var(--type-ramp-plus-1-font-size);
}
.tf-space-actions {
  position: relative;
  padding-left: var(--tf-padding);
  padding-right: var(--tf-padding);
  --tf-space-pane-extra-space: 10px;
  display: flex;
  justify-items: center;
  align-items: start;
  gap: 10px;
  height: 100%;
}
.tf-space-actions fluent-button {
  flex: 1 1 auto;
}
.tf-space-finder__space {
  box-shadow: none;
  border-color: var(--tf-stroke-color) !important;
}
.tf-space-finder__space--active {
  border-color: var(--accent-fill-rest) !important;
}
.tf-space-finder__space--active:hover {
  background: var(--tf-fill-base-hover);
}
.tf-space-finder__space--active:focus,
.tf-space-finder__space--active:active {
  box-shadow: var(--tf-fill-base-hover);
}
.tf-space-finder__space .tf-card__content {
  display: flex;
  align-items: center;
}
.tf-space-finder__space__icon {
  flex: 0 0 20px;
  display: flex;
  align-items: center;
}
.tf-space-finder__space__meta {
  flex: 1 1 auto;
  padding: 0 10px;
}
.tf-space-finder__space__meta mark {
  background: transparent;
  font-weight: bold;
}
.tf-space-finder__space__bookmark {
  flex: 0 0 20px;
}
.tf-page-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: var(--tf-padding-base);
  padding-right: calc(var(--tf-padding-base) - 10px);
  --accent-fill-rest: var(--tf-button-color);
}
.tf-page-topbar__left {
  flex: 0 0 auto;
}
.tf-page-topbar__right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.tf-page-topbar fluent-breadcrumb-item::part(control) {
  display: flex;
  align-items: center;
  --accent-fill-rest: var(--tf-font-color-mute);
  height: 23px;
  padding: 0 5px;
  border-radius: var(--tf-border-radius-sm);
  margin-inline-end: 0;
  cursor: pointer;
  font-size: var(--tf-font-size-sm);
  background: var(--tf-fill-base-focus);
}
.tf-page-topbar fluent-breadcrumb-item::part(control):hover {
  background: light-dark(color-mix(in srgb, var(--tf-accent-500), transparent 80%), color-mix(in srgb, var(--tf-accent-500), transparent 75%));
  color: var(--tf-font-color-base);
  --accent-fill-rest: var(--tf-font-color-base);
}
.tf-page-topbar fluent-breadcrumb-item::part(separator) {
  color: light-dark(var(--tf-base-400), var(--tf-base-600));
  margin: 0 5px;
}
.tf-page-topbar fluent-divider {
  height: 1rem;
  --neutral-stroke-divider-rest: var(--tf-stroke-color);
  margin: 0 0.5rem;
}
.tf-page-topbar fluent-anchor::part(control),
.tf-page-topbar fluent-button::part(control) {
  border-color: transparent;
}
.tf-page-topbar fluent-anchor::part(end),
.tf-page-topbar fluent-button::part(end) {
  margin-inline-start: 2px;
  --accent-fill-rest: var(--tf-stroke-color);
}
.tf-page-topbar fluent-anchor:hover::part(control),
.tf-page-topbar fluent-button:hover::part(control) {
  border-color: var(--tf-stroke-color-hover);
}
.tf-page-topbar fluent-anchor:hover::part(end),
.tf-page-topbar fluent-button:hover::part(end) {
  --accent-fill-rest: var(--tf-stroke-color-hover);
}
.tf-page-topbar #user-menu-toggle {
  color: var(--tf-base-700);
}
.tf-page-topbar #user-menu-toggle::part(content) {
  top: 0;
}
.tf-select-component {
  width: 100%;
}
.tf-select-component .tf-card {
  border: 1px solid var(--tf-stroke-input);
  padding: 5px;
  border-radius: var(--tf-border-radius-sm);
}
.tf-select-component .tf-card__content {
  padding-top: 0;
}
.tf-select-component.disabled .tf-card {
  background: var(--tf-fill-color-base-1);
  border: 1px solid var(--tf-stroke-base);
}
.tf-select-component:not(.disabled):not(.readonly) .tf-card:hover {
  border: 1px solid var(--tf-stroke-input-hover);
}
.tf-select-component.readonly .tf-card {
  border: 1px solid var(--tf-stroke-base);
}
.tf-select-component.readonly .tf-card:hover {
  background: var(--tf-fill-color-base-1);
  cursor: no-drop;
}
.tf-select-component .tf-component {
  display: flex;
  width: 100%;
}
.tf-select-component .tf-component-icon {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.tf-select-component .tf-component-icon svg {
  width: 32px !important;
}
.tf-select-component .tf-component-meta {
  flex: 1 1 auto;
}
.tf-select-component .tf-component-title {
  font-size: 1.15em;
}
.tf-select-component .tf-component-description {
  color: var(--neutral-base-color);
}
.tf-select-component .tf-component-caret {
  flex: 0 0 20px;
  display: flex;
  align-items: center;
}
.tf-select-component .tf-component--small .tf-component-icon {
  flex-basis: 24px;
}
.tf-select-component .tf-component--small .tf-component-icon svg {
  width: 18px !important;
}
.tf-select-component .tf-component--small .tf-component-title {
  font-size: 1em;
}
.tf-select-component .tf-component--small .tf-component-description {
  font-size: 0.85em;
}
.tf-select-component fluent-menu-item {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1rem;
  height: auto;
  display: flex !important;
}
.tf-select-component fluent-menu-item::part(start) {
  display: none;
}
.tf-select-component fluent-menu-item::part(content) {
  flex: 1 1 auto;
}
.tf-tabs {
  --tf-tabs-bottom-margin: 10px;
  --tf-tabs-padding: 10px;
  width: 100%;
  display: flex;
  height: calc(var(--tf-page-tabs-height) - var(--tf-tabs-bottom-margin));
  border-bottom: 1px solid var(--tf-stroke-color);
  margin-bottom: var(--tf-tabs-bottom-margin);
}
.tf-tabs__item {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
.tf-tabs__item--active::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: var(--tf-tabs-padding);
  right: var(--tf-tabs-padding);
  bottom: -1px;
  background: var(--tf-accent-color);
}
.tf-tabs__item fluent-anchor {
  --accent-foreground-rest: var(--tf-font-color-base);
  --accent-fill-rest: var(--tf-font-color-base);
}
.tf-tabs__item fluent-anchor::part(start) {
  margin-inline-end: 5px;
  position: unset !important;
}
.tf-tabs__item fluent-anchor::part(end) {
  margin-inline-start: 5px;
  position: unset !important;
}
.tf-tabs__item fluent-anchor::part(control) {
  text-decoration: none;
  padding: 0 var(--tf-tabs-padding);
  display: flex;
  align-items: center;
}
.tf-treemenu {
  width: 100%;
  padding: 0 calc(var(--tf-padding) / 2);
}
.tf-submenu {
  padding-left: calc(var(--tf-padding) * 2);
  position: relative;
}
.tf-submenu:before {
  content: "";
  display: block;
  position: absolute;
  left: calc(var(--tf-padding) + 3px);
  top: 0;
  bottom: 0;
  width: 1px;
  background: linear-gradient(to bottom, var(--neutral-layer-2) 10%, var(--neutral-layer-3) 50%, var(--neutral-layer-2) 90%);
}
.tf-submenu .tf-submenu {
  padding-left: calc(var(--tf-padding) * 2);
}
.tf-submenu .tf-submenu .tf-submenu {
  padding-left: calc(var(--tf-padding) * 3);
}
.tf-submenu .tf-submenu .tf-submenu .tf-submenu {
  padding-left: calc(var(--tf-padding) * 4);
}
.tf-treemenu__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: calc(var(--design-unit) * 1px) 0;
  text-decoration: none;
  min-height: calc(((var(--base-height-multiplier) + var(--density)) * var(--design-unit) + 1) * 1px);
  padding-left: calc(var(--tf-padding) / 2);
  padding-right: calc(var(--tf-padding) / 2);
  color: var(--neutral-foreground-rest);
  border-radius: calc(var(--control-corner-radius) * 1px);
  position: relative;
}
.tf-treemenu__item:hover {
  color: var(--accent-foreground-hover);
  background: color-mix(in srgb, var(--neutral-layer-1), var(--accent-fill-rest) 5%);
}
.tf-treemenu__item:hover .tf-treemenu__item__expander {
  display: flex;
}
.tf-treemenu__item.tf-active:not(.tf-child-active) {
  position: relative;
  color: var(--accent-foreground-active);
}
.tf-treemenu__item.tf-active:not(.tf-child-active)::before {
  display: none !important;
}
.tf-treemenu__item.tf-active:not(.tf-child-active) svg {
  --accent-fill-rest: var(--accent-foreground-active);
}
.tf-treemenu__item.tf-active + .tf-submenu:before {
  background: linear-gradient(to bottom, var(--neutral-layer-2) 10%, var(--accent-fill-rest) 50%, var(--neutral-layer-2) 90%);
}
.tf-treemenu__item__content {
  display: flex;
  width: 100%;
  align-items: center;
}
.tf-treemenu__item__icon {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  --accent-fill-rest: var(--neutral-foreground-hover);
}
.tf-treemenu__item__icon svg {
  width: 20px;
}
.tf-treemenu__item__titleblock {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tf-treemenu__item__title {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.tf-treemenu__item__description {
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 1em;
}
.tf-treemenu__item__expander {
  position: absolute;
  right: var(--tf-padding);
  top: 50%;
  margin-top: -12px;
  display: none;
  /*pointer-events: none;*/
  border-radius: 50%;
  background: transparent;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  --accent-fill-rest: var(--neutral-foreground-hover);
}
.tf-treemenu__item__expander:hover {
  background: var(--neutral-layer-3);
}
.tf-treemenu__item__expander svg {
  width: 16px !important;
}
.tf-welcome {
  padding-left: var(--tf-padding-base);
  padding-right: var(--tf-padding-base);
}
.tf-welcome h1,
.tf-welcome h3 {
  text-align: center;
}
.tf-welcome__grid {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--tf-padding-base) * 2);
}
/*# sourceMappingURL=styles.css.map */