@namespace WebVella.Tefter.Web.Pages
@page "/admin/users"
@page "/admin/users/{UserId:guid}"
@layout AdminLayout
@inherits TfBasePage

@if (ScreenStateSidebarExpanded.Value)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@TfConstants.AdminSidebarStyle">
		<TfAdminUserNavigation />
	</FluentStack>
}
@if (UserId != Guid.Empty)
{
	<FluentBodyContent Class="content-body with-toolbar">
		<TfAdminUserDetailsNav/>
		<div class="content-inner with-toolbar">
			<TfAdminUserDetails />
		</div>
	</FluentBodyContent>
}
else
{
	<FluentBodyContent Class="content-body">
		<div class="content-inner">
			<FluentMessageBar Title="Under Construction" AllowDismiss="false" 
					Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
				<div>TBD: Users dashboard with various height level overview information</div>
			</FluentMessageBar>
			<FluentMessageBar Title="HOW TO PROCEED" AllowDismiss="false"
							  Intent="@MessageIntent.Warning">
				<div>Select user from the list to review and manage it</div>
			</FluentMessageBar>
		</div>
	</FluentBodyContent>

}


