services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./pg-init:/docker-entrypoint-initdb.d:ro
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  tefter-bg:
    image: webvella/${TEFTER_IMAGE_NAME}:${TEFTER_IMAGE_VERSION}
    volumes:
      - dataprotection:/root/.aspnet/DataProtection-Keys
      - blobstorage:/app/blob-storage
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - Tefter__ConnectionString=${TEFTER__CONNECTIONSTRING}
      - Tefter__BlobStoragePath=/app/blob-storage
    ports:
      - "8080:80"
    restart: unless-stopped

volumes:
  pgdata: 
  dataprotection:
  blobstorage: