@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfDateOnlyDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	var value = GetDataObjectByAlias<DateOnly>("Value", null);
	var options = GetOptions();
	<span>@value?.ToString(options.Format)</span>
}
else if (Context.Mode == TfComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.Format" Style="width:100%" Immediate ImmediateDelay="500"
							 ValueChanged=@((x)=> OptionsValueChanged(nameof(options.Format),x))
							 Placeholder="eg. 'dd MMM yyyy'" />
		</FluentGridItem>
		<FluentGridItem xs="6"></FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

