@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfDateOnlyDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	<div>@((GetDataObjectByAlias("Value"))?.ToString())</div>
}
else if (Context.Mode == TfComponentMode.Options)
{
	<FluentMessageBar Intent="@MessageIntent.Info" Title="@LOC("The selected component has no options")" AllowDismiss="false" />
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

