
fluent-anchored-region > div {
	box-shadow: none !important;
	background-color: transparent !important;
}


fluent-anchored-region fluent-menu {
	background-color: var(--tf-body-color-accent);
}

fluent-anchored-region fluent-menu-item {
	color: var(--tf-font-color);
}

fluent-anchored-region fluent-menu-item:not([disabled]):hover {
	background-color: var(--tf-body-color-accent-2);
}

fluent-anchored-region fluent-menu > fluent-divider {
	border-top-color: var(--tf-body-color-accent-2) !important;
	border-top-width: 1px !important;
}