

fluent-anchored-region fluent-menu {
	--neutral-layer-floating: oklch(27.4% .006 286.033);
}
fluent-anchored-region fluent-menu-item {
	--neutral-foreground-rest: oklch(92% .004 286.32);
	--neutral-fill-stealth-hover: oklch(37% .013 285.805);
}

fluent-anchored-region fluent-divider {
	--neutral-stroke-divider-rest: oklch(37% .013 285.805);
}