@import '../variables.less';
@import 'fluent.less';

fluent-anchored-region .tf-select-menu,
fluent-anchored-region fluent-menu {
	--neutral-layer-floating: var(--tf-zinc-800);
}

fluent-anchored-region fluent-menu-item {
	--neutral-foreground-rest: var(--tf-zinc-200);
	--neutral-fill-secondary-rest: var(--tf-zinc-700);
	--neutral-fill-stealth-hover: var(--tf-zinc-700);
	--neutral-fill-stealth-active: var(--tf-zinc-600);
	--neutral-fill-stealth-focus: var(--tf-zinc-800);

	*[slot="end"] {
		margin-inline-start: 5px !important;
		margin-inline-end: 0 !important;
	}
}

fluent-anchored-region fluent-divider {
	--neutral-stroke-divider-rest: var(--tf-zinc-700);
}
