fluent-button {
	--neutral-foreground-rest: var(--tf-body-color-mute);

	&.outline {
		--neutral-stroke-rest: var(--tf-body-color-accent-2);
		--neutral-stroke-hover: var(--tf-body-color-accent);
	}

	&.accent {
		--neutral-stroke-rest: var(--tf-body-color-accent-2);
		--neutral-stroke-hover: var(--tf-body-color-accent);
		--accent-fill-hover: var(--accent-foreground-hover);

		&::part(control) {
			border-color: var(--neutral-stroke-rest);
		}
	}

	&.neutral {
		
	}
}

fluent-button.accent svg {
	fill: var(--tf-font-color) !important;
}
