@import '../variables.less';
@import 'fluent.less';

html:root .tf-select-menu {
	&__body {
		background: var(--neutral-layer-floating) !important;

		fluent-menu-item .fluent-typography {
			color: var(--neutral-foreground-rest);
		}
	}
}

/*.tf-input-label {
	color: var(--neutral-foreground-rest) !important;
}
*/
.tf-input-description {
	color: var(--neutral-foreground-hint);
	font-size: 11px;
}

fluent-text-field::part(root),
fluent-search::part(root),
fluent-number-field::part(root),
fluent-select::part(control),
fluent-text-area::part(control),
fluent-switch::part(switch),
.tf-select-btn::part(control) {
	background: color-mix(in srgb, var(--tf-yellow-900)10%, var(--neutral-fill-layer-rest) 90%) !important;
	border-color: var(--neutral-stroke-input-rest) !important;
}


fluent-text-field[readonly]::part(root),
fluent-number-field[readonly]::part(root),
fluent-select[readonly]::part(control),
fluent-text-area[readonly]::part(control),
fluent-text-field.disabled::part(root),
fluent-number-field.disabled::part(root),
fluent-select.disabled::part(control),
fluent-text-area.disabled::part(control) {
	background: transparent !important;
}

.fluent-input-label {
	color: var(--neutral-foreground-hover) !important;
}

fluent-radio::part(label),
fluent-switch::part(label) {
	/*color: var(--neutral-foreground-rest);*/
}

fluent-switch {
	--neutral-foreground-rest: var(--neutral-fill-layer-active);
}

.sortable-item {
	/*	background-color: var(--neutral-fill-layer-active) !important;
	border-color: var(--neutral-fill-layer-active) !important;*/

	.sortable-grab {
		/*background-color: var(--neutral-fill-layer-hover) !important;*/
	}
}

fluent-select {
	&::part(listbox) {
		background-color: var(--tf-zinc-800) !important;
	}

	fluent-option {
		background: transparent !important;
		color: var(--tf-zinc-200);

		&:hover {
			background-color: var(--tf-zinc-700) !important;
		}
	}
}

fluent-button {

	&:hover {
		background: rgba(255,255,255,0.05);
	}

	&.accent {
		--foreground-on-accent-rest: var(--tf-white);
		--foreground-on-accent-hover: var(--tf-white);
		--foreground-on-accent-active: var(--tf-white);
		--foreground-on-accent-focus: var(--tf-white);
		--neutral-layer-1: var(--tf-white);

		svg {
			--accent-fill-rest: var(--foreground-on-accent-rest);
		}
	}

	&:not(.tf-select-btn).neutral {
		--neutral-foreground-rest: var(--neutral-stroke-rest);
	}
}

fluent-anchor {
	&::part(control) {
		background: var(--neutral-fill-layer-rest);
	}

	&:hover::part(control) {
		background: var(--neutral-fill-layer-active);
	}
}