@import '../variables.less';
@import 'fluent.less';

fluent-data-grid-row:has([row-selected]) {
	background-color: var(--neutral-stroke-rest);
}

.tf-grid-thead-bkg {
	background: var(--neutral-fill-secondary-rest);
}

.tf-grid-td, .tf-grid-th {
	color: var(--tf-font-color);
	border: 1px solid var(--neutral-stroke-rest);
}

.tf-grid .tf-grid-tbody tr > .tf-grid-th::before, .tf-grid .tf-grid-tbody tr > .tf-grid-td::before {
	background-color: var(--tf-body-color);
}

.tf-grid__pager {
	background: var(--neutral-fill-secondary-rest);
	border-color: var(--neutral-fill-secondary-hover);
}
