fluent-data-grid-row:has([row-selected]) {
	background-color: var(--tf-body-color-accent);
}

.tf-grid .tf-grid-thead tr > .tf-grid-th, .tf-grid .tf-grid-thead tr > .tf-grid-td{
	color:var(--tf-font-color-mute);
}

.tf-grid-thead-bkg {
	background: var(--tf-body-color-accent);
}

.tf-grid-td, .tf-grid-th {
	color: var(--tf-font-color);
	border: 1px solid var(--tf-body-color-accent);
}

.tf-grid .tf-grid-tbody tr > .tf-grid-th::before, .tf-grid .tf-grid-tbody tr > .tf-grid-td::before {
	background-color: var(--tf-body-color);
}