@import '../variables.less';
@import 'fluent.less';

fluent-data-grid-row:has([row-selected]) {
	background-color: var(--neutral-stroke-rest);
}

.tf-grid-thead-bkg {
	background: var(--neutral-fill-secondary-rest);
}

.tf-grid-td, .tf-grid-th {
	color: var(--tf-font-color);
	border: 1px solid var(--neutral-stroke-rest);
}

.tf-grid .tf-grid-tbody tr > .tf-grid-th::before, .tf-grid .tf-grid-tbody tr > .tf-grid-td::before {
	background-color: var(--tf-body-color);
}

.tf-grid__pager {
	background: var(--neutral-fill-secondary-rest);
	border-color: var(--neutral-fill-secondary-hover);
}


.tf-grid-tr.tf-grid-tr--selected .tf-grid-td-selection {
	background: var(--tf-layout-color-mute);
}

.tf-grid-tr:hover .tf-grid-td-hover {
	background: var(--neutral-fill-secondary-rest);
}

.tf-grid .tf-grid-td {
	--tf-td-color-red: var(--tf-red-600);
	--tf-td-fill-red: color-mix(in srgb, var(--tf-red-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-orange: var(--tf-orange-600);
	--tf-td-fill-orange: color-mix(in srgb, var(--tf-orange-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-amber: var(--tf-amber-600);
	--tf-td-fill-amber: color-mix(in srgb, var(--tf-amber-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-yellow: var(--tf-yellow-600);
	--tf-td-fill-yellow: color-mix(in srgb, var(--tf-yellow-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-lime: var(--tf-lime-600);
	--tf-td-fill-lime: color-mix(in srgb, var(--tf-lime-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-green: var(--tf-green-600);
	--tf-td-fill-green: color-mix(in srgb, var(--tf-green-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-emerald: var(--tf-emerald-600);
	--tf-td-fill-emerald: color-mix(in srgb, var(--tf-emerald-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-teal: var(--tf-teal-600);
	--tf-td-fill-teal: color-mix(in srgb, var(--tf-teal-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-cyan: var(--tf-cyan-600);
	--tf-td-fill-cyan: color-mix(in srgb, var(--tf-cyan-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-sky: var(--tf-sky-600);
	--tf-td-fill-sky: color-mix(in srgb, var(--tf-sky-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-blue: var(--tf-blue-600);
	--tf-td-fill-blue: color-mix(in srgb, var(--tf-blue-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-indigo: var(--tf-indigo-600);
	--tf-td-fill-indigo: color-mix(in srgb, var(--tf-indigo-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-violet: var(--tf-violet-600);
	--tf-td-fill-violet: color-mix(in srgb, var(--tf-violet-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-purple: var(--tf-purple-600);
	--tf-td-fill-purple: color-mix(in srgb, var(--tf-purple-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-fuchsia: var(--tf-fuchsia-600);
	--tf-td-fill-fuchsia: color-mix(in srgb, var(--tf-fuchsia-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-pink: var(--tf-pink-600);
	--tf-td-fill-pink: color-mix(in srgb, var(--tf-pink-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-rose: var(--tf-rose-600);
	--tf-td-fill-rose: color-mix(in srgb, var(--tf-rose-700) 20%, var(--neutral-fill-layer-rest) 80%);
	--tf-td-color-slate: var(--tf-slate-600);
	--tf-td-fill-slate: color-mix(in srgb, var(--tf-slate-700) 20%, var(--neutral-fill-layer-rest) 80%);
}
