:root {
	//Font
	--tf-font-color: var(--tf-go-zinc-200);
	--tf-font-color-mute: var(--tf-go-zinc-400);
	//Layout
	--tf-body-color: var(--tf-go-zinc-900);
	--tf-body-color-mute: var(--tf-go-zinc-950);
	--tf-body-color-accent: var(--tf-go-zinc-800);
	--tf-body-color-accent-2: var(--tf-go-zinc-700);
	--tf-body-color-accent-3: var(--tf-go-zinc-600);
	--tf-body-page-header: var(--tf-go-zinc-800);
	//Admin
	--tf-admin-color: var(--tf-go-red-500);
}

@import 'anchor-region.less';
@import 'badge.less';
@import 'button.less';
@import 'dialog.less';
@import 'divider.less';
@import 'form.less';
@import 'grid.less';
@import 'message.less';
@import 'scroll.less';