.fluent-messagebar.intent-info {
	background-color: color-mix(in srgb, var(--tf-go-blue-500) 15%, var(--tf-body-color) 85%) !important;
	border-color: color-mix(in srgb, var(--tf-go-blue-500) 15%, var(--tf-body-color) 85%) !important;
	color:var(--tf-font-color);
}
