@import '../variables.less';
@import 'fluent.less';

/* width */
::-webkit-scrollbar {
	width:10px;
	height:10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--neutral-fill-secondary-rest);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--neutral-fill-secondary-active);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--neutral-fill-secondary-focus);
}
