.talk-subthreads-button:hover {
	background: var(--neutral-fill-layer-active) !important;
}

.talk-message__actions {
	background: var(--neutral-fill-layer-active) !important;

	fluent-button::part(control):hover {
		background: var(--neutral-fill-layer-rest) !important;
	}
}