::deep fluent-button:hover::part(control) {
	border:1px solid var(--neutral-stroke-strong-hover);
}

::deep fluent-button::part(control) {
	border:1px solid var(--neutral-stroke-input-active);
}

::deep fluent-button {
	background:var(--neutral-fill-input-active) !important;
}
