::deep {
	padding: 0 10px;
	font-weight: normal;
	position: relative;
	bottom: -6px;
	display: flex;
}

	::deep > fluent-anchor {
		border-radius: 5px 5px 0 0 !important;
		height: 36px;
		position:relative;
		background:var(--neutral-fill-secondary-rest) !important;
	}

		::deep > fluent-anchor.main-active {
			background: var(--tf-layout-color-accent) !important;
		}

		::deep > fluent-anchor{
			margin-right: 10px;
		}

	::deep fluent-anchor::part(control) {
		border-bottom: none;
		border-color:var(--neutral-fill-secondary-rest);
	}

	::deep fluent-anchor.main-active::part(control) {
		border-color: var(--tf-layout-color-accent);
	}

	::deep fluent-anchor:hover::part(control) {
		border-color: var(--tf-layout-color-accent);
	}

	::deep fluent-anchor.main-active svg,
	::deep fluent-anchor.main-active svg[slot='end']{
		fill:var(--neutral-foreground-rest) !important;
	}

	::deep fluent-anchor svg[slot='end'] {
		fill: var(--neutral-base-color) !important;
	}

	::deep fluent-anchor::part(end) {
		margin-inline-start: 0px;
		position:relative;
		right:-3px;
	}

	::deep > fluent-anchor > .tf-addon{
		position:absolute;
		content:"";
		left:0;
		right:0;
		bottom:-3px;
		height: 3px;
		display:block;
	}