@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<div class="tflg" style="@Style">
	<div class="tflg__aside">
		<div class="tflg__space-header">
			@SpaceHeader
		</div>
		<div class="tflg__space-actions">
			@SpaceActions
		</div>
		<div class="tflg__sidenav">
			@SideNav
		</div>
	</div>
	<div class="tflg__wrapper">
		<div class="tflg__topbar">
			@ContentTopbar
		</div>
		<div class="tflg__header">
			@ContentHeader
		</div>
		<div class="tflg__content_tabs">
			@ContentTabs
		</div>
		<div class="tflg__content">
			@ChildContent
		</div>
	</div>
</div>


