
.sidebar-nav {
	padding: 5px;
	flex: 1 1 auto;
	width: 100%;
}

.sidebar-toolbar {
	display: flex;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
}

.sidebar-toolbar-search {
	flex: 1 1 auto;
	padding-right: 5px;
	padding-left: 5px;
}

::deep .sidebar-toolbar-search .search {
	width: 100%;
}

::deep .search::part(root) {
	border-color: var(--neutral-stroke-rest);
}

.sidebar-toolbar-mode {
	flex: 0 0 auto;
}

::deep .sidebar-toolbar-mode .modebar {
	padding: 0;
	background: transparent;
}

	::deep .sidebar-toolbar-mode .modebar .btn {
		margin: 0;
	}

		::deep .sidebar-toolbar-mode .modebar .btn.active, 
		::deep .sidebar-toolbar-mode .modebar .btn.active svg {
			color: var(--neutral-foreground-rest) !important;
			fill: var(--neutral-foreground-rest) !important;
		
		}

		::deep .sidebar-toolbar-mode .modebar .btn + .btn {
			margin-left: 0;
		}

		::deep .sidebar-toolbar-mode .modebar .btn.tree {
			border-radius: calc(var(--control-corner-radius) * 1px) 0 0 calc(var(--control-corner-radius) * 1px);
		}

		::deep .sidebar-toolbar-mode .modebar .btn.bookmark {
			border-radius: 0;
		}

		::deep .sidebar-toolbar-mode .modebar .btn.save {
			border-radius: 0 calc(var(--control-corner-radius) * 1px) calc(var(--control-corner-radius) * 1px) 0;
		}

.sidebar-toolbar-action {
	flex: 0 0 auto;
}


::deep.sidebar-nav fluent-tree-item.level-0::part(content-region) {
	margin-left: 25px;
}

::deep.sidebar-nav fluent-tree-item.level-1::part(content-region) {
	margin-left: 15px;
}

::deep.sidebar-nav fluent-tree-item::part(positioning-region) {
	background: transparent !important;
}

::deep.sidebar-nav fluent-tree-item.level-0::after {
	display: none !important;
}



::deep.sidebar-nav .load-more {
	width: 100%;
	margin-top: 1rem;
}
