@namespace WebVella.Tefter.UI.Addons
@inherits ComponentBase

@foreach (var item in Value ?? new())
{
    if (!String.IsNullOrWhiteSpace(item) && TfValidators.IsValidURL(item))
    {
        <div><a href="@item">@item</a></div>
    }
    else
    {
        <div>@item</div>
    }
}
