@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<div>

    <FluentStack>
        <FluentSpacer />
        <FluentAnchor Appearance="@Appearance.Hypertext" Href="#" OnClick="@(e => MessageService.Clear(TfConstants.MESSAGES_NOTIFICATION_CENTER) )">
            Dismiss all
        </FluentAnchor>
    </FluentStack>

    <br />

    <FluentMessageBarProvider Section="@TfConstants.MESSAGES_NOTIFICATION_CENTER" MaxMessageCount="-1" Type="@MessageType.Notification" />
</div>


