@namespace WebVella.Tefter.UI.Addons
@inherits ComponentBase

@foreach (var item in Value ?? new())
{
	<div>
		<FluentCounterBadge Count="@(item.ToInt32Safely())" VerticalPosition="35"
		                    Appearance="Appearance.Lightweight">
			<FluentButton Appearance="@Appearance.Outline" OnClick="_onClick"
			              IconStart="@TfConstants.GetIcon("CommentMultiple")"/>
		</FluentCounterBadge>		
	</div>
}
