@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div class="tf-sidetoolbar">
		<div class="tf-sidetoolbar__search">
			<TucAnchor Href="@_backUrl" Class="tf-button" Style="width:100%;"
						  Appearance="@Appearance.Accent" IconStart="@TfConstants.GetIcon("ArrowLeft")!.WithColor("white")">
				@LOC("Back to Page")
			</TucAnchor>
		</div>
	</div>
</TucErrorBoundry>