/*Layout*/

::deep .asset-panel {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-flow: column;
}

::deep .asset-panel__header {
	flex: 0 0 50px;
	border-bottom: 1px solid var(--neutral-stroke-rest);
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.15rem;
	color: var(--neutral-base-color);
}

::deep .asset-panel__header__content {
	display: flex;
	align-items: center;
}

	::deep .asset-panel__header__content svg {
		margin-right: 10px;
	}

::deep .asset-panel__subheader {
	flex: 0 0 50px;
	border-bottom: 1px solid var(--neutral-stroke-rest);
	padding: 0 10px;
	display: flex;
	align-items: center;
	position: relative;
}

::deep .asset-panel__subheader__left {
	flex: 0 0 50%;
	padding-right: 10px;
}

::deep .asset-panel__subheader__right {
	flex: 0 0 50%;
	padding-left: 10px;
}

::deep .asset-panel__subheader__bottom {
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
}

	::deep .asset-panel__subheader__bottom .tf-progress {
		width: 100%;
	}

	::deep .asset-panel__subheader__bottom fluent-progress::part(progress) {
		height: 0;
	}

	::deep .asset-panel__subheader__bottom fluent-progress::part(determinate) {
		height: 5px;
	}

::deep .asset-panel__body {
	flex: 1 1 auto;
	position: relative;
	overflow-y: auto;
	padding: 10px;
}

::deep .asset-panel__footer {
	flex: 0 0 auto;
	padding: 5px 10px;
	border-top: 1px solid var(--neutral-stroke-rest);
	display: flex;
	flex-flow: column;
}

::deep .items-wrapper {
	display: flex;
	flex-flow: column;
}

::deep .asset-panel__body .asset-item {
	background: var(--neutral-fill-layer-rest);
	border: none;
	flex: 1 1 auto;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 5px;
	border-radius: 4px;
}

	::deep .asset-panel__body .asset-item:hover {
		background-color: var(--neutral-fill-layer-active);
	}

::deep .asset-panel__body .asset-item__icon {
	flex: 0 0 auto;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: start;
}

	::deep .asset-panel__body .asset-item__icon svg{
		width: 24px !important;
		height: 24px;
		fill: var(--neutral-base-color) !important;
	}

	::deep .asset-panel__body .asset-item__icon .image-wrapper {
		width: 24px !important;
		height: 24px;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	::deep .asset-panel__body .asset-item__icon img {
		max-width: 20px;
	}

::deep .asset-panel__body .asset-item__meta {
	flex: 1 1 auto;
	text-decoration: none;
	color: var(--neutral-foreground-rest);
	cursor: pointer;
}

::deep .asset-panel__body .asset-item__meta__title .broadcast {
	display:inline-flex;
	justify-content:center;
	align-items:center;
	margin-left:5px;
	vertical-align:text-bottom;
}

::deep .asset-panel__body .asset-item__meta__description {
	color: var(--neutral-base-color);
	font-size: 0.85rem;
}

	::deep .asset-panel__body .asset-item__meta__description .updated {
		/*color: var(--accent-base-color);*/
	}

	::deep .asset-panel__body .asset-item__meta__description .divider {
		opacity: 0.5;
		margin: 0 5px;
		font-size: 0.75em;
	}

	::deep .asset-panel__body .asset-item__meta__description .type.file {
		color:var(--tf-green-500)
	}

	::deep .asset-panel__body .asset-item__meta__description .type.link {
		color:var(--tf-blue-500)
	}


::deep .asset-panel__body .asset-item__action {
	flex: 0 0 auto;
}

	::deep .asset-panel__body .asset-item__action fluent-button {
		visibility: hidden;
	}

::deep .asset-panel__body .asset-item:hover .asset-item__action fluent-button {
	visibility: visible;
}

::deep .asset-panel__body .asset-item:hover {
	background: var(--neutral-layer-3);
}

::deep .asset-panel__body .asset-item + .asset-item {
	margin-top: 3px;
}