@* @namespace WebVella.Tefter.Seeds.Addons *@
@* @inherits ComponentBase *@
@* @if (RegionContext.Mode == TfComponentPresentationMode.Display) *@
@* { *@
@* 	<div>@_value</div> *@
@* } *@
@* else if (RegionContext.Mode == TfComponentPresentationMode.Options) *@
@* { *@
@* 	<FluentMessageBar Intent="@MessageIntent.Info" Title="The selected component has no options" AllowDismiss="false" /> *@
@* } *@
@* else *@
@* { *@
@* 	<div style="color:red">Component Mode Not implemented</div> *@
@* } *@
@* *@
@* *@
