@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfShortIntegerDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	<div>@_value?.ToString(componentOptions.Format))</div>
}
else if (Context.Mode == TfComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Label="@LOC("Format")"
							 Value="@componentOptions.Format" Style="width:100%" Immediate ImmediateDelay="500"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.Format),x))
							 Placeholder="@LOC("eg. 'N3'")" />
		</FluentGridItem>
		<FluentGridItem xs="6"></FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


