::deep.page-header {
	font-size: var(--type-ramp-plus-2-font-size);
	line-height:1.5em;
}

::deep .page-header-inner {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

::deep .page-header-divider {
	color: var(--neutral-base-color);
	margin:0 7px;
}