::deep.page-header {
	font-size: var(--type-ramp-plus-2-font-size);
	line-height:1.5em;
	color:var(--neutral-foreground-rest);
}
::deep .page-subheader {
	font-size:var(--type-ramp-base-font-size);
	color:var(--neutral-foreground-hint);
	margin-top:-0.5em;
}


::deep .page-header-inner {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

::deep .page-header-divider {
	color:var(--neutral-foreground-hint);
	margin:0 7px;
}

