@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfNumberDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	<div>@_getCastedValue()</div>
}
else if (Context.Mode == TfComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.Format" Style="width:100%" Immediate ImmediateDelay="500"
							 ValueChanged=@((x)=> OptionsValueChanged(nameof(options.Format),x))
							 Placeholder="eg. 'N3'" />
		</FluentGridItem>
		<FluentGridItem xs="6"></FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


