@inherits TfBaseComponent

<div class="empty">
	<div class="empty-icon">
		<FluentIcon Value="@(new Icons.Filled.Size20.List())" Color="@Color.Accent" />
	</div>
	<div class="empty-text">@Text</div>
</div>


