@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn
@if (Context.Mode == TfComponentMode.Display)
{
	<div>Guid Display</div>
	<div style="color:red">@LOC("test")</div>

}
else if (Context.Mode == TfComponentMode.Options)
{
	<div>Guid Display</div>
	<div style="color:red">@LOC("test")</div>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


