@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="location">
	@foreach (var item in generateLocations())
	{
		<div class="title">
			<div class="label">
				<FluentBreadcrumb>
					<FluentBreadcrumbItem title="@item.Title">
						@item.Title
					</FluentBreadcrumbItem>
				</FluentBreadcrumb>
			</div>
		</div>
	}
</div>


