@namespace WebVella.Tefter.Web.Components
@if (_componentsMeta is null)
{
	
}
else if (_componentsMeta.Count > 0)
{
	<TfErrorBoundry>
		@foreach (var meta in _componentsMeta)
		{
			<DynamicComponent Type="@meta.Type" Parameters="@_context" />
		}

	</TfErrorBoundry>
}
else if (!String.IsNullOrWhiteSpace(Placeholder))
{
	<div>@Placeholder</div>
}
