@namespace WebVella.Tefter.Seeds.SampleApplication.Pages
@using WebVella.Tefter.Web.Components
@using WebVella.Tefter.Seeds.SampleApplication.Components
@inherits TfBaseComponent

<div>test</div>

<TfLayoutBodyMain>
	<Header>
		<TfPageHeader>Sample App Note</TfPageHeader>
	</Header>
	<Toolbar>
	</Toolbar>
	<ToolbarAside>
	</ToolbarAside>
	<ChildContent>
		<SampleAppNoteListAdmin />
	</ChildContent>
	<Footer>
	</Footer>
</TfLayoutBodyMain>