@namespace WebVella.Tefter.UI.Components
@inherits ComponentBase

@if (Items.Count > 0)
{
	<div class="@_cssClass" style="@Style">
		@foreach (var item in Items)
	{
		<TucTreeViewItem Item="item"/>
	}
	</div>
}


