
::deep .load-more {
	width: 100%;
	margin-top: 1rem;
}


::deep fluent-switch:not(.checked)::part(switch) {
	border-color:var(--tf-layout-color-accent);
}

::deep fluent-switch.checked::part(switch) {
	background:var(--tf-layout-color);
}

::deep .fluent-nav-item .fluent-nav-icon{
	fill:var(--tf-layout-color) !important;
}

::deep .fluent-nav-item .expand-collapse-button {
	pointer-events: none;
}
