@namespace WebVella.Tefter.Web.Components
@inherits ComponentBase
<div @onclick=_onClick style=@_styles id=@Id class="@_cssClass" title="@_title">
	@if (ChildContent is not null)
	{
		@ChildContent
	}
	else if (User is not null)
	{
		@TfConverters.GetUserInitials(User)
	}
</div>