@page "/"
@inherits TfBasePage

<TucLayoutGeneral>
	<SpaceHeader>
		<TucSpaceHeader />
	</SpaceHeader>
	<SpaceActions>
		<TucSpaceActions />
	</SpaceActions>
	<SideNav>
		<TucSpaceNavigation />
	</SideNav>
	<PageTopbar>
		<TucPageTopbar/>
	</PageTopbar>
	<ChildContent>
		<div>Home</div>
	</ChildContent>
</TucLayoutGeneral>