@page "/layout-2"
@inherits TfBasePage
@layout TfGuestLayout

<TucLayoutDetails>
	<Header><div class="tf-lbox" style="background-color:red"></div></Header>
	<Toolbar><div class="tf-lbox" style="background-color:green"></div></Toolbar>
	<Content><div class="tf-lbox" style="background-color:cornflowerblue; height:5000px">test</div></Content>
</TucLayoutDetails>


