@page "/layout-5"
@inherits TfBasePage
@layout TfGuestLayout

<TucLayoutListDetails>
	<Header><div class="tf-lbox" style="background:red;"></div></Header>
	<AsideContent><div class="tf-lbox" style="background:linear-gradient(cornflowerblue,blue); height:5000px">test</div></AsideContent>
	<Content><div class="tf-lbox" style="background:linear-gradient(cornflowerblue,blue); height:5000px">test</div></Content>
</TucLayoutListDetails>


