@page "/layout-4"
@inherits TfBasePage
@layout TfGuestLayout

<TucLayoutListDetails>
	<Header><div class="tf-lbox" style="background:red;"></div></Header>
	<Toolbar><div class="tf-lbox" style="background:green;"></div></Toolbar>
	<AsideToolbar><div class="tf-lbox" style="background:cyan;"></div></AsideToolbar>
	<AsideContent><div class="tf-lbox" style="background:linear-gradient(orange,blue); height:5000px">test</div></AsideContent>
	<ContentToolbar><div class="tf-lbox" style="background:teal;"></div></ContentToolbar>
	<Content><div class="tf-lbox" style="background:linear-gradient(green,blue); height:5000px">test</div></Content>
</TucLayoutListDetails>


