@page "/layout-1"
@inherits TfBasePage
@layout TfGuestLayout

<TucLayoutDetails>
	<Header><div class="tf-lbox" style="background:red;"></div></Header>
	<Content><div class="tf-lbox" style="background:linear-gradient(cornflowerblue,blue); height:5000px">test</div></Content>
</TucLayoutDetails>


