@page "/layout-3"
@inherits TfBasePage
@layout TfGuestLayout

<TucLayoutCenteredContent>
	<Content><div class="tf-lbox" style="width:300px;background:red; height:5000px">test</div></Content>
</TucLayoutCenteredContent>


