.tf-divider {
	display: flex;
	align-items: end;
}

.tf-divider__title {
	flex:0 0 auto;
	background:var(--neutral-fill-secondary-rest);
	color:var(--neutral-foreground-rest);
	padding:5px 15px;
	border-radius: 5px 5px 0 0;
}

.tf-divider__hr {
	flex:1 1 auto;
	height: 2px;
	background:var(--neutral-fill-secondary-rest);
}

.fluent-dialog-body .tf-divider__title{
	background:var(--neutral-fill-secondary-hover);
}

.fluent-dialog-body .tf-divider__hr{
	background:var(--neutral-fill-secondary-hover);
}