@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<div class="@_cssClass" style="@Style">
	@if (_hasSidebar)
	{
		<div class="tflg__aside">
			<div class="tflg__space-header">
				@SpaceHeader
			</div>
			<div class="tflg__space-actions">
				@SpaceActions
			</div>
			<div class="tflg__sidenav">
				@SideNav
			</div>
			<div class="tflg__aside__footer">
				<TucAsideFooter/>
			</div>			
		</div>
	}
	<div class="tflg__wrapper">
		<div class="tflg__page-topbar">
			@PageTopbar
		</div>
		<div class="tflg__page-content">
			@ChildContent
		</div>
	</div>
</div>


