::deep.wv-card fluent-card {
	display: flex;
}
	::deep.wv-card fluent-card .icon {
		flex:0 0 48px;
	}

	::deep.wv-card fluent-card .icon svg {
		width: 32px !important;
	}

	::deep.wv-card .meta {
		display: flex;
		flex-flow: column;
	}

		::deep.wv-card .meta .title {
			font-size: var(--type-ramp-plus-1-font-size);
		}

		::deep.wv-card .meta .description {
			font-size: var(--type-ramp-minus-1-font-size);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 100%;
			color: var(--neutral-base-color);
		}

::deep.wv-card.clickable fluent-card:hover {
	cursor: pointer;
	background: var(--datagrid-hover-color, var(--neutral-fill-stealth-hover));
}