@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="loading">
	<FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
		Loading...<br />
		<FluentProgress Width="100%" />
	</FluentStack>
</div>
