::deep {
	width: 100%;
}

	::deep .tf-component {
		display: flex;
		width:100%;
	}

	::deep .tf-component-icon {
		flex: 0 0 40px;
		display: flex;
		align-items: center;
		justify-content: start;
	}

		::deep .tf-component-icon svg {
			width: 32px !important;
		}

	::deep .tf-component-meta {
		flex: 1 1 auto;
	}

	::deep .tf-component-title {
		font-size: 1.15em;
	}

	::deep .tf-component-description {
		color: var(--neutral-base-color);
	}

	::deep .tf-component-caret {
		flex: 1 1 20px;
		display: flex;
		align-items: center;
	}

	::deep .tf-component--small .tf-component-icon {
		flex-basis: 24px;
	}

		::deep .tf-component--small .tf-component-icon svg {
			width: 18px !important;
		}

	::deep .tf-component--small .tf-component-title {
		font-size: 1em;
	}

	::deep .tf-component--small .tf-component-description {
		font-size: 0.85em;
	}

	::deep fluent-menu-item {
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 1rem;
		height: auto;
		display:flex !important;
	}

		::deep fluent-menu-item::part(start) {
			display: none;
		}

		::deep fluent-menu-item::part(content) {
			flex:1 1 auto;
		}
