@inherits TfBaseComponent

<div class="@Class" style="@Style">
	<FluentCard>
		<ChildContent>
			@if (!String.IsNullOrWhiteSpace(Title))
			{
				<div class="card-title">@Title</div>
			}
			<div class="card-content">
				@ChildContent
			</div>
		</ChildContent>
	</FluentCard>
</div>


