.content-toolbar {
	display: flex;
	align-items: start;
	position: relative;
	justify-content:space-between;
	flex-wrap:nowrap;
	overflow:hidden;
}

	.content-toolbar:before {
		content: "";
		bottom: -10px;
		left: 0;
		right: 0;
		height: 10px;
		width: 100%;
		background: inherit;
		position: absolute;
	}

	.content-toolbar:after {
		content: "";
		bottom: -10px;
		left: 0;
		right: 0;
		height: 13px;
		width: 100%;
		background: var(--neutral-fill-layer-rest);
		border-radius: var(--tf-content-border-radius) 0 0 0;
		position: absolute;
	}

.content-toolbar-left {
	flex:0 0 auto;
}

.content-toolbar-right {
	flex:0 0 auto;
	display:flex;
	align-items:center;
	justify-content:end;
}

::deep .fluent-nav-menu {
	display: flex;
	position: relative;
	margin-top:3px;
	margin-left: 15px;
}

::deep .fluent-nav-item {
	flex: 0 0 auto;
	margin: 0;
}

::deep .fluent-nav-link .fluent-nav-icon {
	width: unset;
}

::deep .fluent-nav-link .fluent-nav-text {
	width: unset;
}

::deep .fluent-nav-link {
	padding-right: 5px;
}

	::deep .fluent-nav-link .fluent-nav-icon {
		margin-left: 5px;
	}

		::deep .fluent-nav-link .fluent-nav-icon:empty {
			display: none;
		}


	::deep .fluent-nav-link .content-region {
		margin-inline-start: 0;
		padding-right: 10px;
	}

::deep .fluent-nav-item a .positioning-region {
	border-radius: calc(var(--control-corner-radius) * 1px) calc(var(--control-corner-radius) * 1px) 0 0 !important;
}

::deep .fluent-nav-item a.active .positioning-region:before {
	flex: 0 0 auto;
	left: 0 !important;
	right: 0 !important;
	margin: 0 !important;
	bottom: 0 !important;
	height: 2px !important;
	width: auto !important;
}
