@namespace WebVella.Tefter.Seeds.SampleApplication.Components
@inherits TfBaseComponent
@{
	var notes = new List<Note>();
	if (TfAuxDataState.Value.Data.ContainsKey(SampleAppConstants.APP_NOTES_LIST_DATA_KEY))
		notes = (List<Note>)TfAuxDataState.Value.Data[SampleAppConstants.APP_NOTES_LIST_DATA_KEY];
}
@if (notes.Count == 0)
{
	<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">No notes created yet</FluentMessageBar>
}
else
{
	<div class="tf-grid-wrapper">
		<table class="tf-grid">
			<thead class="tf-grid-thead">
				<tr class="tf-grid-thead-bkg" style="@($"background-color:{TfConstants.AdminBackgkroundColor}")"></tr>
				<tr class="tf-grid-tr">
					<th class="tf-grid-th">text</th>
					<th class="tf-grid-th" style="min-width:140px;width:140px;">created on</th>
				</tr>
			</thead>
			<tbody class="tf-grid-tbody">
				@foreach (var context in notes)
				{
					<tr @key=@context.Id class="tf-grid-tr">
						<td class="tf-grid-td">
							<div>@context.NoteText</div>
						</td>
						<td class="tf-grid-td">
							<div>
								<div>@context.CreatedOn.ToString(TfConstants.DateHourFormat)</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

