@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

@if (Actions.Count > 0)
{
    <div class="tf-tile-card__actions">
        @foreach (var item in Actions)
        {
            if (item.OnClick.HasDelegate)
            {
                <FluentButton OnClick="@item.OnClick" Appearance="Appearance.Stealth">@item.Text</FluentButton>
            }
            else
            {
                <FluentAnchor Href="@item.Url"  Appearance="Appearance.Stealth">@item.Text</FluentAnchor>
            }
        }
    </div>
}
