@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent


<div class="tf-tile-card__meta__header">
    @if (!String.IsNullOrWhiteSpace(Title))
    {
        <div class="tf-tile-card__meta__header__title">@((MarkupString)Title)</div>
    }
    @if (!String.IsNullOrWhiteSpace(Subtitle))
    {
        <div class="tf-tile-card__meta__header__subtitle">@((MarkupString)Subtitle)</div>
    }
</div>
