@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

@if (!String.IsNullOrWhiteSpace(FluentIconName) || !String.IsNullOrWhiteSpace(IconText))
{
    <div class="tf-tile-card__icon">
        @if (!String.IsNullOrWhiteSpace(FluentIconName))
        {
            <div class="tf-tile-card__icon__image">
                <FluentIcon Value="@TfConstants.GetIcon(FluentIconName)!.WithColor(_color)" />
            </div>
        }
        @if (!String.IsNullOrWhiteSpace(IconText))
        {
            <div class="tf-tile-card__icon__text" style="color:@_color">
                @IconText
            </div>
        }
    </div>
}