::deep {
	display: inline-flex;
	justify-content:center;
	align-items:center;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	font-size: 12px;
	font-weight: 600;
}

	::deep.tf-small {
		height: 18px;
		width: 18px;		
		font-weight:normal;
		font-size:10px;
	}
