@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="location">
	@if (_spaceItem is not null)
	{
		<div class="icon">
			<FluentIcon Value="_spaceItem.Icon" />
		</div>
		<div class="title">
			<span class="label">@_spaceItem.Name</span>

			<span class="badge">
				@if (_space.IsPrivate)
				{
					<FluentBadge Class="private">private</FluentBadge>
				}
				else
				{
					<FluentBadge Class="public">public</FluentBadge>
				}
			</span>
		</div>
	}

</div>


