@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="location">
	<div class="icon">
	<FluentIcon Value="new Icons.Regular.Size20.Board()"/>
	</div>
	<div class="title">Location</div>
</div>


