@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<a href="/" class="logo" tabindex="-1">
	<div class="image"><img src="/logo.svg" alt="logo"/></div>
	<div class="brand">Tefter.bg</div>
</a>


