.location {
	color: var(--neutral-fill-inverse-rest);
	display: flex;
	align-items: center;
	justify-content: start;
}

.location .title {
	flex: 0 0 auto;
	line-height: 1em;
	display: flex;
	align-items: center;
}
	.location .title .label {
		flex: 0 0 auto;
		display:flex;
		align-items:center;
	}


	.location .title .actions {
		flex: 0 0 auto;
		padding-left: 10px;
	}



::deep.location .stealth::part(control) {
	background: var(--neutral-layer-3);
}

::deep.location .stealth:hover::part(control) {
	background: var(--neutral-fill-stealth-hover);
}
::deep.location fluent-breadcrumb-item {
	color: var(--neutral-base-color);
	font-size: var(--type-ramp-minus-1-font-size);
}
::deep.location fluent-breadcrumb-item::part(separator) {
	fill: var(--neutral-fill-strong-rest) !important;
	padding-left: 3px;
	padding-right: 3px;
}
/*::deep.location .stealth svg {
	fill: var(--neutral-fill-inverse-rest) !important;
}*/
