.logo {
	display: flex;
	align-items: center;
	text-decoration:none;
	width:200px;
}

	.logo .image {
		flex: 0 0 24px;
		display:flex;
		align-items:center;
	}

		.logo .image img {
			width: 16px;
			height: 16px;
		}

	.logo .brand {
		flex: 1 1 auto;
		line-height: 1em;
		color: var(--neutral-foreground-hint);
		font-weight:normal;
		font-size:16px;
	}

	.logo:hover {
		color: var(--neutral-foreground-hover)
	}