.location {
	color: var(--neutral-fill-inverse-rest);
	display: flex;
	align-items: center;
	justify-content: start;
}

	.location .icon {
		flex: 0 0 auto;
		padding-right: 10px;
		display: flex;
		align-items: center;
	}

::deep.location .icon svg {
	width: 32px !important;
}

.location .title {
	flex: 0 0 auto;
	line-height: 1em;
	display: flex;
	align-items: center;
}
	.location .title .label {
		flex: 0 0 auto;
		padding-left:10px;
	}

	.location .title .badge {
		padding-left: 10px;
	}
	.location .title .actions {
		flex: 0 0 auto;
		padding-left: 10px;
	}

::deep.location .badge .private::part(control) {
	color: white;
	background: var(--error) !important;
}

::deep.location .badge .public::part(control) {
	color: white;
	background: var(--success) !important;
}





::deep.location .stealth::part(control) {
	background: var(--neutral-layer-3);
}

::deep.location .stealth:hover::part(control) {
	background: var(--neutral-fill-stealth-hover);
}
::deep.location .stealth svg {
	fill: var(--neutral-fill-inverse-rest) !important;
}