.location {
	color: var(--neutral-fill-inverse-rest);
	display: flex;
	align-items: center;
	justify-content: start;
}

	.location .icon {
		flex: 0 0 auto;
		padding-right: 10px;
		display: flex;
		align-items: center;
	}

::deep.location .icon svg {
	width: 32px !important;
}

.location .title {
	flex: 0 0 auto;
	line-height: 1em;
}

.location .badge {
	padding-left: 5px;
}

::deep.location .badge .private::part(control) {
	color: white;
	background: var(--error) !important;
}

::deep.location .badge .public::part(control) {
	color: white;
	background: var(--success) !important;
}
