::deep .search-field {
	width:100%;
}

.searchbar {
	display:flex;
}

.searchbar-left {
	flex:0 0 auto;
	display:flex;
}

.searchbar-right {
	flex: 1 1 auto;
	padding-left:5px;
	display: flex;
}

::deep fluent-text-field::part(root) {
	background: padding-box linear-gradient(var(--neutral-fill-input-focus),var(--neutral-fill-input-focus)),border-box var(--neutral-stroke-input-rest);
}