@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="sidebar-toggle">
	<a @onclick=_toggle href="javascript:void(0)">
		@if (_isExpanded)
		{
			<FluentIcon Value="@(new Icons.Regular.Size16.ChevronLeft())" Style="fill:var(--neutral-layer-3)" />
		}
		else
		{
			<FluentIcon Value="@(new Icons.Regular.Size16.ChevronRight())" Style="fill:var(--neutral-layer-3)" />
		}
	</a>
</div>


