.usernav {
	display:flex;
	align-items:center;
}
	.usernav .actions {
		padding-right:10px;
	}

::deep .fluent-presence-badge {
	font-size: 12px;

}
::deep .fluent-persona .initials {
	background: var(--neutral-base-color) !important;
}

::deep.usernav .stealth::part(control) {
	background: var(--neutral-layer-3);
}

::deep.usernav .stealth:hover::part(control) {
	background: var(--neutral-fill-stealth-hover);
}
/*::deep.usernav .stealth svg {
	fill: var(--neutral-fill-inverse-rest) !important;
}*/

::deep.usernav .fluentui-counterbadge {
	left: unset !important;
	bottom: unset !important;
	right: 5px !important;
	top: 5px !important;
}
