@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent
<FluentMenu Width="200" @bind-Open="_open" Anchor="view-setting-selector">
	<FluentMenuItem>
		Rename View
		<span slot="start">
			<FluentIcon Value="@(new Icons.Regular.Size20.Edit())" Slot="start" />
		</span>
	</FluentMenuItem>
	<FluentMenuItem>
		Manage Access
		<span slot="start">
			<FluentIcon Value="@(new Icons.Regular.Size20.KeyMultiple())" Slot="start" />
		</span>
	</FluentMenuItem>
	<FluentMenuItem>
		Delete View
		<span slot="start">
			<FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Slot="start" />
		</span>
	</FluentMenuItem>
</FluentMenu>