@page "/fast-access/saves"
<FluentBodyContent Class="content with-toolbar with-views">
	<WvFastAccessNav />
	<WvFastAccessToolbar />
	<div class="content-inner">
		<WvSaves />
	</div>
</FluentBodyContent>