@page "/space/{SpaceId:guid}/data/{SpaceDataId:guid}"
@page "/space/{SpaceId:guid}/data/{SpaceDataId:guid}/view/{SpaceViewId:guid}"
@inherits WvBasePage
<FluentBodyContent Class="content with-toolbar with-views">
	<WvSpaceViewNav />
	<WvSpaceViewToolbar />
	<div class="content-inner">
		<WvSpace />
	</div>
</FluentBodyContent>

