@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<div class="tf-page-header tf-page-header--skeleton">
	<div class="tf-page-header__primary">
		<div class="tf-page-header__primary__left">
				<div class="tf-page-header__primary__icon-wrapper">
					<div class="tf-page-header__primary__icon">
						<FluentSkeleton Shape="SkeletonShape.Circle" Height="32px" Width="32px"></FluentSkeleton>
					</div>
				</div>
			<div class="tf-page-header__primary__meta">
				<div class="tf-page-header__primary__meta__area">
					<FluentSkeleton Shape="SkeletonShape.Rect" Height="13px" Width="80px"></FluentSkeleton>
				</div>
				<div class="tf-page-header__primary__meta__title">
					<FluentSkeleton Shape="SkeletonShape.Rect" Height="23px" Width="120px"></FluentSkeleton>
				</div>
			</div>
		</div>
	</div>
</div>


