
::deep .items-wrapper {
	display: flex;
	flex-flow: column;
}

::deep  .asset-item {
	background: var(--neutral-fill-layer-hover);
	border: none;
	flex: 1 1 auto;
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 5px;
	border-radius: 4px;
}

	::deep .asset-item:hover {
		background: var(--neutral-fill-layer-active);
	}

::deep  .asset-item__icon {
	flex: 0 0 auto;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: start;
}

	::deep  .asset-item__icon svg{
		width: 24px !important;
		height: 24px;
		fill: var(--neutral-base-color) !important;
	}

	::deep  .asset-item__icon .image-wrapper {
		width: 24px !important;
		height: 24px;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	::deep  .asset-item__icon img {
		max-width: 20px;
	}

::deep  .asset-item__meta {
	flex: 1 1 auto;
	text-decoration: none;
	color: var(--neutral-foreground-rest);
	cursor: pointer;
}

::deep  .asset-item__meta__description {
	color: var(--neutral-base-color);
	font-size: 0.85rem;
}

	::deep  .asset-item__meta__description .updated {
		/*color: var(--accent-base-color);*/
	}

	::deep  .asset-item__meta__description .divider {
		opacity: 0.5;
		margin: 0 5px;
		font-size: 0.75em;
	}


::deep  .asset-item__action {
	flex: 0 0 auto;
}

	::deep  .asset-item__action fluent-button {
		visibility: hidden;
	}

::deep  .asset-item:hover .asset-item__action fluent-button {
	visibility: visible;
}

::deep  .asset-item__action svg {
	fill: var(--neutral-base-color) !important;
}

::deep  .asset-item + .asset-item {
	margin-top: 3px;
}

::deep  .asset-item fluent-button::part(control) {
	background: transparent;
}

::deep  .asset-item fluent-button:hover::part(control) {
	background: var(--neutral-layer-1);
}
