::deep.spacenav-nav-wrapper {
	height: calc(100vh - 48px - 7px);
	display: flex;
	flex-flow: column;
}

::deep .spacenav-nav {
	flex: 0 0 auto;
	width: 60px;
	padding: 0 9px;
}
	/*Structure*/
	::deep .spacenav-nav .nav-divider {
		margin: 1rem 0;
	}

::deep .spacenav-nav__secondary {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex: 1 1 auto;
}

::deep .spacenav-nav.spacenav-nav__appbar {
	flex: 1 1 auto;
	width: 100%;
	overflow: auto;
	max-height: calc(100vh - 340px);
}

::deep .spacenav-nav__end {
	flex: 0 0 auto;
	display: flex;
	align-items: end;
}

/*menu item*/
::deep .spacenav-nav .fluent-nav-item {
	margin-bottom: 10px;
}

	::deep .spacenav-nav .fluent-nav-item .positioning-region {
		border-radius: 50%;
		width: 42px;
		height: 42px;
		min-height: unset !important;
		min-width: unset !important;
		display: inline-flex !important;
		justify-content: center !important;
		align-items: center !important;
		flex: 0 0 auto !important;
	}

		::deep .spacenav-nav .fluent-nav-item .positioning-region::before {
			left: -10px;
		}

	::deep .spacenav-nav .fluent-nav-item .content-region {
		display: flex;
		justify-content: center !important;
		align-items: center !important;
		margin-inline-start: unset !important;
		width: auto !important;
	}

	::deep .spacenav-nav .fluent-nav-item .fluent-nav-icon {
		width: 23px !important;
		height: 23px !important;
		min-width: unset !important;
		min-height: unset !important;
	}

	::deep .spacenav-nav .fluent-nav-item .fluent-nav-text {
		display: none;
	}


::deep .spacenav-nav.sidebar-collapsed .fluent-nav-item .fluent-nav-icon {
	width: 16px !important;
	height: 16px !important;
}

::deep .spacenav-nav.sidebar-collapsed .fluent-nav-item .positioning-region {
	width: 24px !important;
	height: 24px !important;
}

::deep .fluent-nav-item.selected a .positioning-region::before {
	content: "";
	display: block;
	position: absolute;
	right: unset;
	width: 3px;
	height: calc(((var(--base-height-multiplier) + var(--density))* var(--design-unit) / 2)* 1px);
	background: var(--accent-fill-rest);
	border-radius: calc(var(--control-corner-radius)* 1px);
	margin: calc(var(--design-unit)* 2px) 2px;
	z-index: 5;
}

::deep .spacenav-nav.sidebar-collapsed .fluent-nav-item .positioning-region::before {
	left: -10px;
	width: 2px;
}

/*Fix for onclick click zone to small bug*/
::deep .spacenav-nav .fluent-nav-item .content-region > .fluent-nav-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
}

::deep ::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
