@inherits TfBaseComponent

<div class="location">
	<FluentBadge Fill="somevalue" BackgroundColor="@TfConstants.AdminColor" Color="#ffffff">@LOC("Admin Panel")</FluentBadge>
	@if (_bcMenu is not null && _bcMenu.Count > 0)
	{
		<div class="title">
			<div class="label">
				<FluentBreadcrumb>
					@foreach (var item in _bcMenu)
				{
						<FluentBreadcrumbItem title="@item.Title">
							@LOC(item.Title)
						</FluentBreadcrumbItem>
				}

				</FluentBreadcrumb>
			</div>
		</div>
	}
	

</div>


