
.tf-card {
	--tf-card-border-radius: 8px;
	border-width: 3px;
	border-style: solid;
	border-radius: var(--tf-card-border-radius);
}


.tf-card-title {
	padding: 5px 10px;
	color: var(--tf-font-color) !important;
}

	::deep .tf-card-title h3 {
		font-size:18px;
		margin-bottom:0 !important;
		font-weight:normal;
	}



.tf-card-content {
	padding: 10px;
}

.tf-card.tf-card--no-body .tf-card-title {
	border-radius: var(--tf-card-border-radius);
}


.tf-card.tf-card--no-body .tf-card-content {
	display: none;
}


/*::deep .tf-card-content .tf-grid-wrapper:first-child .tf-grid tr:first-child td {
	border-top-width: 0 !important;
}
*/


::deep .tf-card-content .tf-grid-wrapper:last-child .tf-grid {
	margin-bottom: 0;
}

	/*::deep .tf-card-content .tf-grid-wrapper:last-child .tf-grid .tf-grid-tbody .tf-grid-tr:last-child td {
		border-bottom: none;
	}*/

::deep .tf-card .tf-card-content .tf-card:last-child {
	margin-bottom: 0 !important;
}

.tf-card--clickable {
	cursor: pointer;
}

	.tf-card--clickable:hover {
		background: var(--neutral-fill-secondary-rest);
	}
