
.tf-card {
	--tf-card-border-radius: 8px;
	border: 3px solid var(--tf-body-color-accent);
	border-radius: var(--tf-card-border-radius);
	/*	box-shadow: var(--elevation-shadow-card-rest);*/
}

.fluent-dialog-body .tf-card {
	border-color: var(--tf-body-color-accent-2);
}

.tf-card-title {
	padding: 5px 10px;
	background: var(--tf-body-color-accent);
	color: var(--tf-font-color) !important;
}

	::deep .tf-card-title fluent-button.outline::part(control) {
		border-color: var(--tf-body-color-accent-3) !important; 
	}

fluent-dialog .tf-card-title {
	background: var(--tf-body-color-accent-2);
}

.tf-card-content {
	padding: 5px 10px;
}

.tf-card.tf-card--no-body .tf-card-title {
	border-radius: var(--tf-card-border-radius);
}


.tf-card.tf-card--no-body .tf-card-content {
	display: none;
}


::deep .tf-card-content .tf-grid-wrapper:first-child .tf-grid tr:first-child td {
	border-top-width: 0 !important;
}



::deep .tf-card-content .tf-grid-wrapper:last-child .tf-grid {
	margin-bottom: 0;
}

	::deep .tf-card-content .tf-grid-wrapper:last-child .tf-grid .tf-grid-tbody .tf-grid-tr:last-child td {
		border-bottom: none;
	}

::deep .tf-card .tf-card-content .tf-card:last-child {
	margin-bottom: 0 !important;
}

.tf-card--clickable {
	cursor: pointer;
}

	.tf-card--clickable:hover {
		background: var(--neutral-fill-stealth-hover);
	}
