
.tf-card {
	--tf-card-border-radius: 8px;
	border: 3px solid transparent;
	border-radius: var(--tf-card-border-radius);
}

.fluent-dialog-body .tf-card {
	border-color: transparent;
}

.tf-card-title {
	padding: 5px 10px;
	background: transparent;
	color: var(--tf-font-color) !important;
}


fluent-dialog .tf-card-title {
	background: transparent;
}

.tf-card-content {
	padding: 5px 10px;
}

.tf-card.tf-card--no-body .tf-card-title {
	border-radius: var(--tf-card-border-radius);
}


.tf-card.tf-card--no-body .tf-card-content {
	display: none;
}


/*::deep .tf-card-content .tf-grid-wrapper:first-child .tf-grid tr:first-child td {
	border-top-width: 0 !important;
}
*/


::deep .tf-card-content .tf-grid-wrapper:last-child .tf-grid {
	margin-bottom: 0;
}

	/*::deep .tf-card-content .tf-grid-wrapper:last-child .tf-grid .tf-grid-tbody .tf-grid-tr:last-child td {
		border-bottom: none;
	}*/

::deep .tf-card .tf-card-content .tf-card:last-child {
	margin-bottom: 0 !important;
}

.tf-card--clickable {
	cursor: pointer;
}

	.tf-card--clickable:hover {
		background: var(--neutral-fill-secondary-rest);
	}
