@inherits TfBaseComponent
@if (_open)
{
	<div class="grid-properties-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="grid-properties-selector">
			<FluentMenuItem>
				Freeze Columns
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("TableFreezeColumn")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem>
				Conditional Format
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("PaintBucket")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider />
			<FluentMenuItem>
				Manage Columns
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("Column")" Slot="start" />
				</span>
			</FluentMenuItem>
		</FluentMenu>
	</div>
}

