@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<FluentBodyContent Class="content-body">
	<div class="content-inner">
		<FluentGrid Spacing="0">
			<FluentGridItem xs="12" md="9" lg="10" Style="padding-right:1rem">
				<div style="background-color:peachpuff;min-height:40px;margin-bottom:1rem">search toolbar</div>
				<div style="background-color:steelblue;min-height:400px">results</div>
			</FluentGridItem>
			<FluentGridItem xs="12" md="3" lg="2">
				<div style="background-color:blue;min-height:100px;margin-bottom:1rem">Recent tags</div>
				<div style="background-color:blue;min-height:100px;margin-bottom:1rem">Recent Views</div>
				<div style="background-color:blue;min-height:100px;margin-bottom:1rem">Recent Bookmarks</div>
				<div style="background-color:blue;min-height:100px;margin-bottom:1rem">Recent Saved URLs</div>
			</FluentGridItem>
		</FluentGrid>
	</div>
</FluentBodyContent>
