@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<div class="tf-header">
    <div class="tf-header__left">
        <div class="tf-header__meta">
            @if (false)
            {
                <div class="tf-header__meta__action">

                </div>
            }
            <div class="tf-header__meta__title">@Title</div>
        </div>
    </div>
    <div class="tf-header__right">
       
    </div>
</div>
