@namespace WebVella.Tefter.UI.Components
@if (_componentsMeta is not null && _componentsMeta.Count > 0)
{
	<TucErrorBoundry>
		@foreach (var meta in _componentsMeta)
		{
			<DynamicComponent Type="@meta.Type" Parameters="@_context" />
		}
	</TucErrorBoundry>
}
else if (!String.IsNullOrWhiteSpace(Placeholder))
{
	<div>@Placeholder</div>
}
