.content-toolbar {
	display: flex;
	justify-content: space-between;
}

.content-toolbar-left,
.content-toolbar-right {
	flex: 0 0 auto;
	height: 40px;
	display: inline-flex;
	align-items: center;
}

::deep .content-toolbar-left > * {
	margin-right: 5px;
}

.content-toolbar-right {
	justify-content: end;
}

::deep .content-toolbar-right > * {
	margin-left: 5px;
}


::deep fluent-search::part(root) {
	border-color: var(--neutral-stroke-rest);
}