@namespace WebVella.Tefter.UI.Addons
@inherits TfLocalizedViewColumnComponent

<div>
	<FluentDatePicker Id="@_valueInputId"
	                  @bind-Value="@_value"
	                  @bind-Value:after="_valueChanged"
	                  View="@_settings.CalendarViewsSelection"
	                  Style="width:100%;min-width:120px;" />
</div>


