@namespace WebVella.Tefter.Web.Components
@inherits ComponentBase
@if (Visible)
{
	<div class="@_cssClass" style="@Style">
		<FluentProgress Min="0" Max="100" Value="@_value" />
		@if (_value > 0)
		{
			<div class="tf-progress-text">@($"{_value}%")</div>
		}
	</div>
}
