@namespace WebVella.Tefter.Talk.Components
@inherits TfBaseComponent
<TucLayoutPageContent Title="@LOC("Talk Channels")" Icon="CommentMultiple">
    <ChildContent>
        <div style="padding:var(--tf-padding)">Under Construction</div>
    </ChildContent>
</TucLayoutPageContent>
