@namespace WebVella.Tefter.Talk.Components
@inherits TfBaseComponent
<TucLayoutPageContent Title="@LOC("Talk Channels")" Icon="CommentMultiple">
    <ChildContent>
        <div>TalkPage</div>
    </ChildContent>
</TucLayoutPageContent>
