.location {
	color: var(--neutral-foreground-hint);
	display: flex;
	align-items: center;
	justify-content: start;
	width:300px;
}

	.location .title {
		flex: 0 0 auto;
		line-height: 1em;
		display: flex;
		align-items: center;
		padding-right:10px;
	}

::deep.location .stealth::part(control) {
	background: var(--neutral-foreground-hint);
}

::deep.location .stealth:hover::part(control) {
	background: var(--neutral-foreground-hover);
}

::deep.location fluent-breadcrumb-item {
	color: var(--neutral-foreground-hint);
	/*font-size: var(--type-ramp-minus-1-font-size);*/
}

	::deep.location fluent-breadcrumb-item::part(separator) {
		fill: var(--neutral-foreground-hint) !important;
		padding-left: 3px;
		padding-right: 3px;
	}
/*::deep.location .stealth svg {
	fill: var(--neutral-fill-inverse-rest) !important;
}*/
