@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="content-views">
	<div class="content-views-tabs">
		<FluentTabs @bind-ActiveTabId="@_activeTabId" OnTabChange="HandleOnTabChange"
					Size="@TabSize.Large">
			@foreach (var item in _menuItems)
			{
				<FluentTab Id="@item.Id" Label="@item.Title" />
			}
		</FluentTabs>
	</div>
</div>
