@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="content-toolbar">
	<div class="content-toolbar-left">
		<FluentSearch Value="@_search" ValueChanged="searchChanged" />
	</div>
	<div class="content-toolbar-right">
	
	</div>
</div>


