@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<p>Bookmarked by you to quickly get on task</p>

@* <div>@UserState.Value.ThemeMode</div> *@
<div>@UserState.Value.IsLoading</div>
