@inherits FluxorLayout
@layout StateLayout
<TfLayout SidebarExpanded="@UserState.Value.SidebarExpanded" Color="TfColor.Red500">
	<Header>
		<TfLayoutHeader>
			<ChildContent>
				<TfSidebarToggle />
				<TfLocation />
				<TfAdminHeaderNavigation/>
			</ChildContent>
			<Aside>
				<TfUserNavigation />
			</Aside>
		</TfLayoutHeader>
	</Header>
	<Navigation>
		<TfLayoutNavigation>
			<ChildContent>
				<TfAdminNavigation />
			</ChildContent>
		</TfLayoutNavigation>
	</Navigation>
	<Body>
		@Body
	</Body>
</TfLayout>

