@inherits LayoutComponentBase
<TfThemeDefinition Mode="@DesignThemeModes.Dark" />
@if (_isLoading)
{
	<TfLoadingPane ShowTop="true" />
}
else
{
	<FluentLayout>
		<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="@HorizontalAlignment.Center" Style="padding-top:30px;">
			@Body
		</FluentStack>
	</FluentLayout>

	<div id="blazor-error-ui">
		An unhandled error has occurred.
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>
	<FluentToastProvider MaxToastCount="3" Position="ToastPosition.TopCenter" />
	<FluentDialogProvider />
	<FluentTooltipProvider />
	<FluentKeyCodeProvider />
	<FluentMenuProvider />
}


