@inherits FluxorLayout
@layout StateLayout
<TfLayout SidebarExpanded="@SidebarExpanded.Value" Color="@_layoutColor">
	<Header>
		<TfLayoutHeader>
			<ChildContent>
				<TfSidebarToggle />
				<TfLocation />
				<TfHeaderNavigation />
			</ChildContent>
			<Aside>
				<TfUserNavigation />
			</Aside>
		</TfLayoutHeader>
	</Header>
	<Navigation>
		<TfNavigation />
	</Navigation>
	<Body>
		@Body
		<FluentToastProvider MaxToastCount="3" Position="ToastPosition.TopCenter" />
		<FluentDialogProvider />
		<FluentTooltipProvider />
		<FluentKeyCodeProvider />
		<FluentMenuProvider />
	</Body>
</TfLayout>


