::deep .toolbar {
	margin-bottom: 0.25rem;
	display:flex;
	align-items:center;
}

	::deep .toolbar button {
		border-radius: calc(var(--control-corner-radius)* 1px);
		background: transparent;
		/*border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);*/
		border:calc(var(--stroke-width) * 1px) solid transparent;
		line-height: var(--type-ramp-base-line-height);
		height: calc((var(--base-height-multiplier) + var(--density))* var(--design-unit)* 1px);
		min-width: calc((var(--base-height-multiplier) + var(--density))* var(--design-unit)* 1px);
		fill: currentcolor;
		font-size: var(--type-ramp-base-font-size);
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

		::deep .toolbar button:hover {
			border-color: var(--neutral-stroke-hover);
		}
			::deep .toolbar button svg {
				fill: var(--neutral-base-color) !important;
				width:14px !important;
			}

		::deep .toolbar button.ql-active {
			color: var(--foreground-on-accent-rest) !important;
			background: var(--neutral-base-color);
		}

			::deep .toolbar button.ql-active svg {
				fill: var(--foreground-on-accent-rest) !important;
				
			}

	::deep .toolbar .separator {
		background: var(--neutral-stroke-rest);
		flex-shrink: 0;
		align-self: center;
		width: 1px;
		height: 20px;
		margin: 2px 4px;
		display: inline-block;
	}

::deep .editor-area .ql-editor {
	min-height: 60px;
	border-radius: calc(var(--control-corner-radius)* 1px);
	background: var(--neutral-fill-input-focus);
	border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
	outline: none;
	padding: 5px 10px;
	max-height:200px;
	position:relative;
}

	::deep .ql-editor:active,
	::deep .ql-editor:focus,
	::deep .ql-editor:hover {
		border: 1px solid var(--neutral-stroke-strong-hover);
	}

::deep.tf-editor--readonly .ql-editor:hover {
	border-color:var(--neutral-stroke-rest) !important;
}

/*	::deep .ql-editor ol > li[data-list=bullet] {
		list-style: none;
		margin-left: -10px;
	}

		::deep .ql-editor ol > li[data-list=bullet]:before {
			content: '\2022';
			padding-right: 5px;
		}*/

			::deep .editor-area .ql-editor.ql-blank::before {
				color: var(--neutral-stroke-rest);
				left:10px;
				right:10px;
			}



