.sidebar-toggle {
	margin-left: -10px;
	padding-right:15px;
}
::deep .stealth::part(control) {
	background: var(--neutral-layer-3);
}

::deep .stealth:hover::part(control) {
	background: var(--neutral-fill-stealth-hover);
}

::deep .stealth:hover::part(control) {
	background: var(--neutral-fill-stealth-hover);
}

::deep .stealth svg{
	fill:var(--neutral-base-color) !important;
}