.sidebar-toggle {
	margin-left: -10px;
	padding-right:15px;
}

	::deep .stealth fluent-button {
		outline:none !important;
	}

::deep .stealth::part(control) {
	outline:none !important;
}

/*::deep .stealth svg{
	fill:var(--tf-font-color-mute) !important;
}*/