.sidebar-toggle {
	margin-left: -10px;
	padding-right: 15px;
}


::deep .stealth {
	outline: none !important;
	--neutral-fill-stealth-rest: var(--neutral-fill-layer-rest);
	--neutral-foreground-rest: var(--neutral-foreground-hint);
	--neutral-fill-stealth-hover: var(--neutral-fill-layer-hover);
	--neutral-fill-stealth-active: var(--neutral-fill-layer-active);
}


